---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Criteria for Systems", "Notation Systems")}
  metaDescription="A list of our desirable criteria for alternative music notation systems, and our policy for presenting notation systems on our site (for notation designers)."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Desirable Criteria for Alternative Music Notation Systems
          </h1>
        </header>

        <div class="entry-content">
          <p>
            This is our list of generally desirable criteria for alternative
            notation systems. The notation systems that are given a full
            presentation on our site meet each of these critera. There are a few
            possible exceptions, and in these cases the particular criterion in
            question has been noted. These criteria were originally established
            during the <a href="/mnma/research-project/"
              >MNMA&#8217;s Research Project</a
            >.
          </p>
          <ol class="spacious-list">
            <li>
              The notation is convenient for a human writer (as contrasted with
              a machine) to express musical ideas.  The notation is convenient
              for a human performer to recreate those musical ideas.
            </li>
            <li id="2">
              The notation can be written conveniently and quickly with nothing
              more than a writing tool (such as a pencil) without the absolute
              necessity of a ruler or other drawing aids or specially prepared
              paper.  In other words, a plain piece of paper and a pencil, or a
              chalkboard and chalk should be sufficient for quickly notating
              music in the notation if desired.
            </li>
            <li id="3">
              The notation is independent of all musical instruments for
              intelligibility so that the notation is readily adaptable to all
              instruments including the human voice.
            </li>
            <li id="4">
              The notation can express music of all reasonable degrees of
              complexity &#8211; not only simple music.
            </li>
            <li id="5">
              The notation is relatively simple so as to be practical for both
              children and adults.
            </li>
            <li id="6">
              The notation is flexible enough so as to be appropriate for the
              music of the past, present, and foreseeable future, as well as to
              music of various cultures, and to both solo and ensemble
              performance.
            </li>
            <li id="7">
              The notation is writable using only a single color on a
              contrasting background (for example black on white) without
              shading or tinting.  Such a monochrome system offers the maximum
              in simplicity and convenience, and is considered essential,
              especially since many people have some degree of color-blindness.
            </li>
            <li id="8">
              The notation possesses a fully proportional pitch coordinate,
              where each of the twelve common pitches is spaced in a graphic
              manner, so that progressively larger pitch intervals have
              progressively larger spacing on the coordinate, providing a visual
              representation of each interval that is exactly proportional to
              its actual sound.
            </li>
            <li id="9">
              The staff, or graph, shows an octave cycling effect, or octave
              periodicity, so that each successive octave appears the same or
              substantially the same, making it possible to recognize notes in
              any register after learning one octave.
            </li>
            <li id="10">
              No more than five identical, successive, and equidistant staff
              lines are shown, so that staff lines can be quickly identified
              without counting lines.
            </li>
            <li id="11">
              Both the lines and spaces of a staff are used as positions for
              notes on the pitch coordinate in order to economize on paper space
              and therefore on eye movement.
            </li>
            <li id="12">
              Adequate provision for voice leading (keeping multiple melodic
              lines distinct) is provided.
            </li>
            <li id="13">
              The time coordinate must provide for proportional (or
              approximately proportional) graphic spacing of notes, rests, and
              other events, and must also provide for mathematically understood
              symbols for the divisions and multiples of time values, except
              optionally in children&#8217;s music and situations where graphic
              representation of time values alone may be adequate.
            </li>
            <li id="14">
              The notation is adaptable to a variety of microtonal systems.
            </li>
            <li id="15">
              The notation system must allow the pitch axis to be uninterrupted
              (made continuous) so that the staff can encompass an arbitrary
              number of octaves while preserving proportionality of pitch.  In
              addition, the notation system must allow the pitch axis to be
              interrupted (made discontinuous) at convenient points in order to
              provide separate staves for specific instruments or voices in an
              ensemble, or to separate the two hands in keyboard music, when
              desired.  Both options (continuous and discontinuous) must be
              available.
            </li>
            <li id="16">
              The notation provides for the convenient addition of optional or
              supplementary kinds of information, which may or may not be
              necessary or desired in some music (for example, information about
              dynamics, expression, tonality, choice of instruments, tone color,
              lyrics, etc).
            </li>
            <li id="17">
              Frequently used symbols must be at least as convenient to write in
              longhand as are the corresponding symbols of traditional
              notation.  For example, if the noteheads are all rectangular, or
              require unusually precise drawing, they take an unacceptably long
              time to draw.  Exceptions are allowed for symbols that provide
              some benefit missing from the traditional system, as long as the
              overall amount of time to write a typical piece of music is not
              noticeably longer than in traditional notation.
            </li>
          </ol>
          <h2 id="for" class="divider-heading">For Notation Designers</h2>
          <p>
            If you are the designer of a music notation system and would like to
            see it presented with the others featured on our site, we would be
            willing to consider including it. We are primarily interested in
            systems that meet all of, or at least most of, our desirable
            criteria for alternative music notation systems that are listed
            above. However, we will make an effort to consider each notation
            system according to its own merits.
          </p>
          <p>
            If you are interested, please <a
              href="/home/about-faq-contact-info/#contact">contact us</a
            >. We will need a detailed description of your notation system, and
            would also like to see an image of a chromatic scale. If you have
            examples of music in your system that would also be very helpful. We
            will review your notation and make a decision on whether to add it
            to our site.
          </p>
          <p>&nbsp;</p>
          <p>
            <span class="footnotes"
              >The Fine Print: Note that this offer may be amended in the
              future, and all notations on our site will be subject to any
              future changes. Additionally, we reserve the right to indicate
              whether notations meet or do not meet any set of criteria the
              organization may adopt. For instance, we may decide to group
              notations according to whether they meet any set of criteria such
              as those listed above. Finally, decisions about inclusion on our
              site are unrelated to decisions about inclusion in any future
              research we may conduct or support.</span
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
