/* MNP Notation Systems Guided Tour styles 
----------------------------------------------- */
.tour-swapbox {
  margin-top: 30px;
}
.tour-swapbox > a {
  cursor: pointer;
}
.tour-caption {
  display: inline-block;
  padding-top: 25px;
  padding-left: 25px;
}
.tour-controls {
  display: inline-block;
  padding: 15px 10px 10px 25px;
}
.tour-description {
  padding-bottom: 15px;
}
.tour-numero,
.tour-next {
  padding: 0px 0.5em;
  cursor: pointer;
}
.tour-prev {
  padding-right: 0.5em;
  cursor: pointer;
}
