---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
import "./index-tour.css";
---

<MnpLayout
  metaTitle={makeMetaTitle("Music Notation Systems: Guided Tour")}
  metaDescription="Guided tour of alternative music notation systems that use a chromatic staff. Explore their differences and how they improve upon traditional music notation."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Music Notation Systems: Guided Tour</h1>
        </header>

        <div class="entry-content">
          <div class="bigheader">
            <p>
              An introduction to various types of alternative notation systems.
              For another overview of the same systems see the <a
                href="/systems/gallery/">Gallery</a
              > which lets you sort and filter them by their features.
            </p>
          </div>
          <p class="SmallText">
            Similar notation systems are presented together here and elsewhere
            on the site. They are grouped by the interval between neighboring
            staff lines (line spacing) and then by the number of staff lines per
            octave. A final group presents <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 systems</a
            >, in which the intervals between lines are less regular. Within
            each group, systems are ordered by the similarity of their features,
            not necessarily by their invention date.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_0_0" style=" ">
            <a class="systemImageLink_0" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/5-line-chromatic-staff-heinrich-richter.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-heinrich-richter/"
              title="Untitled by Heinrich Richter"
              class="tour-caption"
              rel="bookmark"
              >1. Untitled by Heinrich Richter, 1847
            </a>
          </div>

          <div class="tour-swapbox" id="system_0_1" style="display:none; ">
            <a class="systemImageLink_0" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-grace-frix.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-grace-frix/"
              title="Untitled by Grace Frix"
              class="tour-caption"
              rel="bookmark"
              >2. Untitled by Grace Frix, 1992
            </a>
          </div>

          <div class="tour-swapbox" id="system_0_2" style="display:none; ">
            <a class="systemImageLink_0" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/c-symmetrical-semitone-ronald-sadlier.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/c-symmetrical-semitone-notation/"
              title="C-Symmetrical Semitone Notation by Ronald Sadlier"
              class="tour-caption"
              rel="bookmark"
              >3. C-Symmetrical Semitone Notation by Ronald Sadlier, 1991
            </a>
          </div>

          <div class="tour-swapbox" id="system_0_3" style="display:none; ">
            <a class="systemImageLink_0" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/notation-godjevatz-velizar-godjevatz.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/notation-godjevatz-by-velizar-godjevatz/"
              title="Notation Godjevatz by Velizar Godjevatz"
              class="tour-caption"
              rel="bookmark"
              >4. Notation Godjevatz by Velizar Godjevatz, 1948
            </a>
          </div>

          <p id="tour-controls-group-0" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            A number of notation designers have used a five-line chromatic staff
            with one ledger line. This is a total of six lines spanning an
            octave, each spaced a whole step apart. The ledger line allows
            multiple one-octave staves to be "stacked," placed contiguously for
            greater pitch range. In many cases these staves look exactly like
            the traditional staff (which would cause confusion), but some
            systems introduce bold lines or change the position of the ledger
            line.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_1_0" style=" ">
            <a class="systemImageLink_1" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/a-b-chromatic-albert-brennink1.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/a-b-chromatic-notation-by-albert-brennink/"
              title="A-B Chromatic Notation by Albert Brennink"
              class="tour-caption"
              rel="bookmark"
              >1. A-B Chromatic Notation by Albert Brennink, 1976
            </a>
          </div>

          <div class="tour-swapbox" id="system_1_1" style="display:none; ">
            <a class="systemImageLink_1" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/6-6-tetragram-richard-parncutt.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/6-6-tetragram-by-richard-parncutt/"
              title="6-6 Tetragram by Richard Parncutt"
              class="tour-caption"
              rel="bookmark"
              >2. 6-6 Tetragram by Richard Parncutt, 1996
            </a>
          </div>

          <div class="tour-swapbox" id="system_1_2" style="display:none; ">
            <a class="systemImageLink_1" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/6-6-trigram-richard-parncutt.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/6-6-trigram-notation-by-richard-parncutt/"
              title="6-6 Trigram Notation by Richard Parncutt"
              class="tour-caption"
              rel="bookmark"
              >3. 6-6 Trigram Notation by Richard Parncutt, 1990
            </a>
          </div>

          <p id="tour-controls-group-1" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            Several systems have a four-line staff alternating with two adjacent
            ledger lines. They are similar to the five-line staves (above), but
            they are slightly less visually dense (or "busy"), and require more
            ledger lines. They are also less likely to be confused with
            traditional notation. One system goes further with only three lines
            that alternate with three ledger lines per octave. Signs such as
            dynamic markings can be written in the space created by the ledger
            lines, even when multiple staves are stacked contiguously.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_2_0" style=" ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-klaus-lieber.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-klaus-lieber/"
              title="Untitled by Klaus Lieber"
              class="tour-caption"
              rel="bookmark"
              >1. Untitled by Klaus Lieber, 1983
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_1" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/system-of-equal-tones-gustave-decher.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/notation-for-the-system-of-equal-tones-by-gustave-decher/"
              title="Notation for the System of Equal Tones by Gustave Decher"
              class="tour-caption"
              rel="bookmark"
              >2. Notation for the System of Equal Tones by Gustave Decher, 1877
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_2" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-franz-grassl.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-franz-grassl/"
              title="Untitled by Franz Grassl"
              class="tour-caption"
              rel="bookmark"
              >3. Untitled by Franz Grassl, 1983
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_3" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/ambros-system-august-ambros.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/ambros-system-by-august-ambros/"
              title="Ambros System by August Ambros"
              class="tour-caption"
              rel="bookmark"
              >4. Ambros System by August Ambros, 1883
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_4" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/douzave-john-acheson.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/douzave-system-by-john-leon-acheson/"
              title="Douzave System by John Leon Acheson"
              class="tour-caption"
              rel="bookmark"
              >5. Douzave System by John Leon Acheson, 1936
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_5" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/notagraph-constance-virtue.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/notagraph-by-constance-virtue/"
              title="Notagraph by Constance Virtue"
              class="tour-caption"
              rel="bookmark"
              >6. Notagraph by Constance Virtue, 1933
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_6" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/note-for-note-walter-thelwall.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/note-for-note-by-walter-h-thelwall/"
              title="Note for Note by Walter H. Thelwall"
              class="tour-caption"
              rel="bookmark"
              >7. Note for Note by Walter H. Thelwall, 1897
            </a>
          </div>

          <div class="tour-swapbox" id="system_2_7" style="display:none; ">
            <a class="systemImageLink_2" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/proportional-chromatic-henri-carcelle.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/proportional-chromatic-musical-notation-by-henri-carcelle/"
              title="Proportional Chromatic Musical Notation by Henri Carcelle"
              class="tour-caption"
              rel="bookmark"
              >8. Proportional Chromatic Musical Notation by Henri Carcelle,
              1977
            </a>
          </div>

          <p id="tour-controls-group-2" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-numero">5</a>
            <a class="tour-numero">6</a>
            <a class="tour-numero">7</a>
            <a class="tour-numero">8</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            If there were six standard lines per octave, it would be very
            difficult to discriminate pitches when reading music on two
            contiguous staves. So some inventors substitute bold or dashed lines
            in the place of some of the normal lines. This permits the use of
            six lines per octave without sacrificing the ability to "stack"
            multiple staves contiguously for a greater pitch range.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_3_0" style=" ">
            <a class="systemImageLink_3" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/isomorph-tadeusz-wojcik.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/isomorph-notation-by-tadeusz-wojcik/"
              title="Isomorph Notation by Tadeusz Wójcik"
              class="tour-caption"
              rel="bookmark"
              >1. Isomorph Notation by Tadeusz Wójcik, 1952
            </a>
          </div>

          <div class="tour-swapbox" id="system_3_1" style="display:none; ">
            <a class="systemImageLink_3" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/da-notation-rich-reed.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/da-notation-by-rich-reed/"
              title="DA Notation by Rich Reed"
              class="tour-caption"
              rel="bookmark"
              >2. DA Notation by Rich Reed, 1986
            </a>
          </div>

          <p id="tour-controls-group-3" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            In these systems the lines are either a whole step or a major third
            apart. The bold lines help the eye discriminate between different
            lines, facilitating pitch identification. An alternating 6-6
            notehead 'color' (hollow or solid noteheads) makes it even easier to
            differentiate between pitches. See the Using Notehead Color for
            Pitch for more about this strategy and how it affects rhythmic
            notation.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_4_0" style=" ">
            <a class="systemImageLink_4" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/numbered-notes-notes-jason-maccoy.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/numbered-notes-notes-only-by-jason-maccoy/"
              title="Numbered Notes, Notes-Only by Jason MacCoy"
              class="tour-caption"
              rel="bookmark"
              >1. Numbered Notes, Notes-Only by Jason MacCoy, 2009
            </a>
          </div>

          <div class="tour-swapbox" id="system_4_1" style="display:none; ">
            <a class="systemImageLink_4" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/numbered-notes-numbers-jason-maccoy.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
              title="Numbered Notes, Numbers-Only by Jason MacCoy"
              class="tour-caption"
              rel="bookmark"
              >2. Numbered Notes, Numbers-Only by Jason MacCoy, 2009
            </a>
          </div>

          <div class="tour-swapbox" id="system_4_2" style="display:none; ">
            <a class="systemImageLink_4" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/lautus-bruce-dickey.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/lautus-notation-by-bruce-allen-dickey/"
              title="Lautus Notation by Bruce Allen Dickey"
              class="tour-caption"
              rel="bookmark"
              >3. Lautus Notation by Bruce Allen Dickey, 2011
            </a>
          </div>

          <div class="tour-swapbox" id="system_4_3" style="display:none; ">
            <a class="systemImageLink_4" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2015/02/hass-notation-3-line-version-peter-hass.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/hass-notation-3-line-version/"
              title="Hass Notation, 3-Line Version by Peter Hass"
              class="tour-caption"
              rel="bookmark"
              >4. Hass Notation, 3-Line Version by Peter Hass, 2014
            </a>
          </div>

          <div class="tour-swapbox" id="system_4_4" style="display:none; ">
            <a class="systemImageLink_4" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2017/02/trilinear-jose-a-sotorrio-wpcf_500x110.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/trilinear-notation-jose-sotorrio/"
              title="Trilinear Notation by José A. Sotorrio"
              class="tour-caption"
              rel="bookmark"
              >5. Trilinear Notation by José A. Sotorrio, 2017
            </a>
          </div>

          <p id="tour-controls-group-4" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-numero">5</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            Lines spaced a minor third apart provide a slightly less dense
            appearance than lines spaced a whole step apart. Between the lines
            are two space-notes at different elevations. There is a repeated
            line-space-space pattern, three basic note positions that occur four
            times per octave. (Rather than a 6-6 or 7-5 pitch pattern, this
            could be called a 4-4-4 pitch pattern.) Three standard lines
            alternate with a ledger or bold line which allows for identification
            of the lines when stacking staves contiguously for greater pitch
            range.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_5_0" style=" ">
            <a class="systemImageLink_5" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/chromatic-66-johannes-beyreuther.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
              title="Chromatic 6-6 Notation by Johannes Beyreuther"
              class="tour-caption"
              rel="bookmark"
              >1. Chromatic 6-6 Notation by Johannes Beyreuther, 1985
            </a>
          </div>

          <div class="tour-swapbox" id="system_5_1" style="display:none; ">
            <a class="systemImageLink_5" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/6-6-klavar-cornelis-pot-horizontal.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/6-6-klavar-by-cornelis-pot/"
              title="6-6 Klavar by Cornelis Pot"
              class="tour-caption"
              rel="bookmark"
              >2. 6-6 Klavar by Cornelis Pot, 1972
            </a>
          </div>

          <div class="tour-swapbox" id="system_5_2" style="display:none; ">
            <a class="systemImageLink_5" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-arnold-schoenberg.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-arnold-schoenberg/"
              title="Untitled by Arnold Schoenberg"
              class="tour-caption"
              rel="bookmark"
              >3. Untitled by Arnold Schoenberg, 1924
            </a>
          </div>

          <p id="tour-controls-group-5" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            These systems achieve a less dense appearance through lines that are
            spaced a major third apart. Between the lines are three elevations
            where notes are placed. One of the three lines per octave is either
            bold or dashed to allow for identification of the lines when more
            than one staff is stacked contiguously for a greater pitch range.
            Some systems use hollow and solid noteheads to help differentiate
            between adjacent pitches.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_6_0" style=" ">
            <a class="systemImageLink_6" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/panot-george-skapski.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/panot-notation-by-george-skapski/"
              title="Panot Notation by George Skapski"
              class="tour-caption"
              rel="bookmark"
              >1. Panot Notation by George Skapski, 1956
            </a>
          </div>

          <div class="tour-swapbox" id="system_6_1" style="display:none; ">
            <a class="systemImageLink_6" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2018/12/clairnote-sn-paul-morris.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/clairnote-sn-paul-morris/"
              title="Clairnote SN by Paul Morris"
              class="tour-caption"
              rel="bookmark"
              >2. Clairnote SN by Paul Morris, 2018
            </a>
          </div>

          <div class="tour-swapbox" id="system_6_2" style="display:none; ">
            <a class="systemImageLink_6" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-johannes-beyreuther.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-johannes-beyreuther/"
              title="Untitled by Johannes Beyreuther"
              class="tour-caption"
              rel="bookmark"
              >3. Untitled by Johannes Beyreuther, 1959
            </a>
          </div>

          <div class="tour-swapbox" id="system_6_3" style="display:none; ">
            <a class="systemImageLink_6" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/clairnote-dn-paul-morris.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/clairnote-dn-by-paul-morris/"
              title="Clairnote DN by Paul Morris"
              class="tour-caption"
              rel="bookmark"
              >4. Clairnote DN by Paul Morris, 2006
            </a>
          </div>

          <div class="tour-swapbox" id="system_6_4" style="display:none; ">
            <a class="systemImageLink_6" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/chromatic-lyre-notation-jan-braunstein.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/chromatic-lyre-notation-by-jan-braunstein/"
              title="Chromatic Lyre Notation by Jan Braunstein"
              class="tour-caption"
              rel="bookmark"
              >5. Chromatic Lyre Notation by Jan Braunstein, 2009
            </a>
          </div>

          <div class="tour-swapbox" id="system_6_5" style="display:none; ">
            <a class="systemImageLink_6" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2015/01/trine-line-by-jai-park.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/axlomafi-jai-park/"
              title="AxLoMaFi by Jai Park"
              class="tour-caption"
              rel="bookmark"
              >6. AxLoMaFi by Jai Park, 2014
            </a>
          </div>

          <p id="tour-controls-group-6" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-numero">5</a>
            <a class="tour-numero">6</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            These systems are similar to those with three lines, a major third
            apart (above), only they have a ledger line (instead of a bold or
            dashed line) for their third line per octave. This gives them an
            even less dense appearance and allows for easy identification of the
            lines when staves are stacked contiguously. Lines spaced a major
            third apart have three note elevations in the spaces between the
            lines. Some systems use hollow and solid noteheads to help
            differentiate between adjacent pitches.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_7_0" style=" ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinline-chromatic-leo-de-vries.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/chromatic-twinline-by-leo-de-vries/"
              title="Chromatic Twinline by Leo de Vries"
              class="tour-caption"
              rel="bookmark"
              >1. Chromatic Twinline by Leo de Vries, 1986
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_1" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinline-diatonic-leo-de-vries.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/diatonic-twinline-by-leo-de-vries/"
              title="Diatonic Twinline by Leo de Vries"
              class="tour-caption"
              rel="bookmark"
              >2. Diatonic Twinline by Leo de Vries, 1986
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_2" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinline-tom-reed.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/twinline-notation-by-thomas-reed/"
              title="Twinline Notation by Thomas Reed"
              class="tour-caption"
              rel="bookmark"
              >3. Twinline Notation by Thomas Reed, 1986
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_3" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinline-black-triangle-doug-keislar.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/black-triangle-twinline-by-doug-keislar/"
              title="Black Triangle Twinline by Doug Keislar"
              class="tour-caption"
              rel="bookmark"
              >4. Black Triangle Twinline by Doug Keislar, 2006
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_4" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinline-black-oval-paul-morris.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/black-oval-twinline-by-paul-morris/"
              title="Black-Oval Twinline by Paul Morris"
              class="tour-caption"
              rel="bookmark"
              >5. Black-Oval Twinline by Paul Morris, 2006
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_5" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/bilinear-jose-sotorrio.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/bilinear-notation-by-jose-a-sotorrio/"
              title="Bilinear Notation by José A. Sotorrío"
              class="tour-caption"
              rel="bookmark"
              >6. Bilinear Notation by José A. Sotorrío, 1997
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_6" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinnote-paul-morris.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/twinnote-by-paul-morris/"
              title="TwinNote by Paul Morris"
              class="tour-caption"
              rel="bookmark"
              >7. TwinNote by Paul Morris, 2009
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_7" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/twinnote-td-paul-morris.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/twinnote-td-by-paul-morris/"
              title="TwinNote TD by Paul Morris"
              class="tour-caption"
              rel="bookmark"
              >8. TwinNote TD by Paul Morris, 2009
            </a>
          </div>

          <div class="tour-swapbox" id="system_7_8" style="display:none; ">
            <a class="systemImageLink_7" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/nydana-chromatic-dan-lindren.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/chromatic-nydana-by-dan-lindgren/"
              title="Chromatic Nydana by Dan Lindgren"
              class="tour-caption"
              rel="bookmark"
              >9. Chromatic Nydana by Dan Lindgren, 2011
            </a>
          </div>

          <p id="tour-controls-group-7" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-numero">5</a>
            <a class="tour-numero">6</a>
            <a class="tour-numero">7</a>
            <a class="tour-numero">8</a>
            <a class="tour-numero">9</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            These systems are like vertically compressed versions of those that
            have two lines, a major third apart (above). They require less
            vertical space by introducing a second notehead shape that fits more
            compactly between adjacent lines, while still keeping the centers of
            the noteheads evenly spaced on the vertical axis. These shapes (and
            in most cases hollow and solid noteheads) help to discriminate
            between adjacent pitches.
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_8_0" style=" ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/muto-muto-music-method-foundation.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/muto-notation-by-muto-foundation/"
              title="MUTO Notation by MUTO Foundation"
              class="tour-caption"
              rel="bookmark"
              >1. MUTO Notation by MUTO Foundation, 1995
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_1" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/thumline-jim-plamondon.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/thumline-notation-by-jim-plamondon/"
              title="Thumline Notation by Jim Plamondon"
              class="tour-caption"
              rel="bookmark"
              >2. Thumline Notation by Jim Plamondon, 2005
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_2" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2021/03/express-stave-pianoforte-notation.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/express-stave-by-john-keller/"
              title="Express Stave: Pianoforte Notation by John Keller"
              class="tour-caption"
              rel="bookmark"
              >3. Express Stave: Pianoforte Notation by John Keller, 2010
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_3" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/express-stave-reverse-color-john-keller1.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/express-stave-6-6-jazz-font-by-john-keller/"
              title="Express Stave, 6-6 Jazz Font by John Keller"
              class="tour-caption"
              rel="bookmark"
              >4. Express Stave, 6-6 Jazz Font by John Keller, 2009
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_4" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/express-stave-john-keller.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/express-stave-original-version-by-john-keller/"
              title="Express Stave, Original Version by John Keller"
              class="tour-caption"
              rel="bookmark"
              >5. Express Stave, Original Version by John Keller, 2005
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_5" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2015/08/express-stave-tri-color-john-keller.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/express-stave-tricolor-version-john-keller/"
              title="Express Stave, Tricolor Version by John Keller"
              class="tour-caption"
              rel="bookmark"
              >6. Express Stave, Tricolor Version by John Keller, 2010
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_6" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-robert-stuckey.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-robert-stuckey/"
              title="Untitled by Robert Stuckey"
              class="tour-caption"
              rel="bookmark"
              >7. Untitled by Robert Stuckey, 1983
            </a>
          </div>

          <div class="tour-swapbox" id="system_8_7" style="display:none; ">
            <a class="systemImageLink_8" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/untitled-nicolai-dolmatov.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/untitled-by-nicolai-dolmatov/"
              title="Untitled by Nicolai Dolmatov"
              class="tour-caption"
              rel="bookmark"
              >8. Untitled by Nicolai Dolmatov, 1995
            </a>
          </div>

          <p id="tour-controls-group-8" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-numero">5</a>
            <a class="tour-numero">6</a>
            <a class="tour-numero">7</a>
            <a class="tour-numero">8</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            Some systems have two lines per octave, evenly spaced at a half an
            octave apart (one tritone or six half-steps). Bold, dashed, or
            ledger lines are used to allow identification of lines when multiple
            staves are stacked contiguously. One system uses only one line per
            octave, giving it the least dense appearance of any system, but it
            also uses the most ledger lines, with 7 of the 12 pitches requiring
            them. Some systems use hollow or solid noteheads or shaped noteheads
            to help differentiate between adjacent pitches.  (Also see <a
              href="/wiki/notation-systems/equiton-music-notation-by-rodney-fawcett/"
              >Equiton</a
            >, which has one line per octave but lacks pitch-proportionality.)
          </p>

          <h2 class="divider-heading non-blue-link"></h2>

          <div class="tour-swapbox" id="system_9_0" style=" ">
            <a class="systemImageLink_9" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/klavar-mirck-jean-de-buur.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/klavar-mirck-version-by-jean-de-buur/"
              title="Klavar, Mirck Version by Jean de Buur"
              class="tour-caption"
              rel="bookmark"
              >1. Klavar, Mirck Version by Jean de Buur, 2006
            </a>
          </div>

          <div class="tour-swapbox" id="system_9_1" style="display:none; ">
            <a class="systemImageLink_9" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2015/08/klavar-dekker-antoon-dekker.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/klavar-dekker-version-by-antoon-dekker/"
              title="Klavar, Dekker Version by Antoon Dekker"
              class="tour-caption"
              rel="bookmark"
              >2. Klavar, Dekker Version by Antoon Dekker, 2015
            </a>
          </div>

          <div class="tour-swapbox" id="system_9_2" style="display:none; ">
            <a class="systemImageLink_9" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2014/02/tonnetz-based-4x3-joe-austin.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/chromatonnetz-by-joe-austin/"
              title="ChromaTonnetz by Joe Austin"
              class="tour-caption"
              rel="bookmark"
              >3. ChromaTonnetz by Joe Austin, 2010
            </a>
          </div>

          <div class="tour-swapbox" id="system_9_3" style="display:none; ">
            <a class="systemImageLink_9" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/7-5-trigram-richard-parncutt.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/keyboard-7-5-trigram-notation-by-richard-parncutt/"
              title="Keyboard (7-5) Trigram Notation by Richard Parncutt"
              class="tour-caption"
              rel="bookmark"
              >4. Keyboard (7-5) Trigram Notation by Richard Parncutt, 1989
            </a>
          </div>

          <div class="tour-swapbox" id="system_9_4" style="display:none; ">
            <a class="systemImageLink_9" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/avique-anne-bill-collins.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/avique-notation-by-anne-and-bill-collins/"
              title="Avique Notation by Anne and Bill Collins"
              class="tour-caption"
              rel="bookmark"
              >5. Avique Notation by Anne and Bill Collins, 1974
            </a>
          </div>

          <div class="tour-swapbox" id="system_9_5" style="display:none; ">
            <a class="systemImageLink_9" title="">
              <img
                alt="Notation System"
                title=""
                src="/wp-content/uploads/2012/07/0-5-7-notation-richard-parncutt.png"
              /><br />
              <img
                src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
                alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
              />
              <br />
            </a>
            <a
              href="/system/0-5-7-notation-by-richard-parncutt/"
              title="0-5-7 Notation by Richard Parncutt"
              class="tour-caption"
              rel="bookmark"
              >6. 0-5-7 Notation by Richard Parncutt, 1984
            </a>
          </div>

          <p id="tour-controls-group-9" class="tour-controls">
            <a class="tour-prev">&larr; Previous</a>
            <a class="tour-numero">1</a>
            <a class="tour-numero">2</a>
            <a class="tour-numero">3</a>
            <a class="tour-numero">4</a>
            <a class="tour-numero">5</a>
            <a class="tour-numero">6</a>
            <a class="tour-next">Next &rarr;</a>
          </p><p class="tour-description">
            Many chromatic staves have lines spaced either a whole step apart,
            or some multiple of a whole step (a major third, a tritone, or an
            octave). These systems follow a different principle instead. The
            lines of these staves have an irregular spacing that highlights the
            7-5 pitch pattern, by putting the diatonic notes of the C major
            scale either in spaces or on lines and ledger lines.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>

<script>
  // CSN = Current System Number, for each notation group,
  // what system number is currently displayed?
  const csn = [
    0, // 0 five
    0, // 1 six
    0, // 2 four
    0, // 3 fourB
    0, // 4 three_min3rds
    0, // 5 three_maj3rds
    0, // 6 two_3rds
    0, // 7 two_shapes
    0, // 8 two_tritone
    0, // 9 seven_five
  ];

  const makeId = (notationGroup: number, systemNumber: number) =>
    `system_${notationGroup}_${systemNumber}`;

  /**
   * Use remainder/modulo logic to cleanly wrap around the
   * loop in both directions.
   * `%` returns the division remainder, so: x = 5%2 = 1
   *
   * @param {number} notationGroup - The notation group number.
   * @param {number} change - The amount of change: 1 or 0.
   * @param {number} totalSystems - The total systems in the group.
   * @returns {number} - The new system number
   */
  const getNextSystemNumber = (
    notationGroup: number,
    change: number,
    totalSystems: number
  ) => (csn[notationGroup] + change + totalSystems) % totalSystems;

  /**
   * Hides the old system shown in this group, saves the new system number,
   * and shows the new system.
   */
  function showSystem(notationGroup: number, newSystemNumber: number) {
    // hide the outgoing system
    const oldId = makeId(notationGroup, csn[notationGroup]);
    const oldIdElement = document.getElementById(oldId);
    if (oldIdElement) oldIdElement.style.display = "none";

    // set the new system number
    csn[notationGroup] = newSystemNumber;

    const newId = makeId(notationGroup, csn[notationGroup]);
    const newIdElement = document.getElementById(newId);
    if (newIdElement) newIdElement.style.display = "block";
  }

  window.addEventListener("load", () => {
    const addListenersToImages = (groupTotal: number, groupNumber: number) => {
      const links = [
        ...document.querySelectorAll(`.systemImageLink_${groupNumber}`),
      ];

      links.forEach((link) => {
        link.addEventListener("click", () =>
          showSystem(
            groupNumber,
            getNextSystemNumber(groupNumber, 1, groupTotal)
          )
        );
      });
    };

    const addListenersToControls = (
      groupTotal: number,
      groupNumber: number
    ) => {
      const parent = document.getElementById(
        `tour-controls-group-${groupNumber}`
      );

      if (!parent) return;

      parent
        .querySelector(`.tour-prev`)
        ?.addEventListener("click", () =>
          showSystem(
            groupNumber,
            getNextSystemNumber(groupNumber, -1, groupTotal)
          )
        );

      parent
        .querySelector(`.tour-next`)
        ?.addEventListener("click", () =>
          showSystem(
            groupNumber,
            getNextSystemNumber(groupNumber, 1, groupTotal)
          )
        );

      const numberLinks = [...parent.querySelectorAll(`.tour-numero`)];
      numberLinks.forEach((link, index) => {
        link.addEventListener("click", () => showSystem(groupNumber, index));
      });
    };

    // The total number of systems in each group, array indexes are group numbers.
    const groupTotals = [4, 3, 8, 2, 5, 3, 6, 9, 8, 6];

    groupTotals.forEach((groupTotal, groupNumber) => {
      addListenersToImages(groupTotal, groupNumber);
      addListenersToControls(groupTotal, groupNumber);
    });
  });
</script>
