---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Related Publications and Websites", "Wiki")}
  metaDescription="Links to publications and websites that relate to alternative music notation, music notation reform, and improving how people read, write, and play music."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Related Websites and Publications</h1>
        </header>

        <div class="entry-content">
          <h2>Publications</h2>
          <p>
            See the various <a href="/mnma/publications/">publications</a> and <a
              title="Conferences"
              href="/mnma/conferences/">conference proceedings</a
            > published by the <a href="/mnma/">MNMA</a>.
          </p>
          <p>
            <a
              href="http://www.amazon.com/Source-Proposed-Music-Notation-Reforms/dp/031325446X/ref=sr_1_7/102-6878790-5004103?ie=UTF8&s=books&qid=1186595813&sr=1-7"
              target="_blank">Source Book of Proposed Music Notation Reforms</a
            > &#8211; by Gardner Read (1987)
          </p>
          <p>
            &#8220;A New Twelve-Tone Notation&#8221; Part VII, #18 of <a
              href="http://books.google.com/books?q=style%2Bidea%2Bselected%2Bwritings%2Barnold%2Bschoenberg"
              target="_blank">Style and Idea: Selected Writings</a
            > &#8211; by Arnold Schoenberg (1924)
          </p>
          <h2>Websites</h2>
          <p>
            See our <a href="/notationsystems/more-notation-systems/"
              >More Notation Systems</a
            > page for links to the websites of particular alternative music notation
            systems.
          </p>
          <p>
            See the <a href="/wiki/page/isomorphic-instruments/"
              >Isomorphic Instruments</a
            > page for links to instrument websites.
          </p>
          <p>
            See the <a href="/software/">Software</a> page for links to online digital
            sheet music libraries, and the bottom of 
            <a href="/software/open-source-strategy/">Open-Source Strategy</a> for
            music notation software and file format links.
          </p>
          <p>
            <em>The links below are to other sites of general interest:</em>
          </p>
          <p>
            <a href="http://www.treblis.com/Notation/Music.htm" target="_blank"
              >Music Notation Reference Guide</a
            > Basic info on different elements of traditional notation.
          </p>
          <p>
            <a
              href="http://www.csad.ox.ac.uk/POxy/VExhibition/d13.htm"
              target="_blank">Music Notation from the 2nd/3rd century CE</a
            >
          </p>
          <p>
            <a
              href="http://www.cs.vu.nl/%7Emmc/tbr/content_pages/repository/nel/index.html"
              target="_blank">Notational Engineering Laboratory</a
            >, (broken link) a research project dedicated to studying and
            engineering a wide variety of notation systems in general.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
