---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Concerns with Traditional Rhythm Notation", "Wiki")}
  metaDescription="A wiki page about complexities, inconsistencies, and related concerns about traditional rhythm notation."
>
  <div id="primary">
    <div id="content" role="main">
      <article
        class="wiki_page type-wiki_page status-publish hentry wiki-tag-rhythm wiki-tag-timing"
      >
        <header class="entry-header">
          <h1 class="entry-title">Concerns with Traditional Rhythm Notation</h1>
        </header>

        <div class="entry-content">
          <p>
            Although rhythm notation has not received as much attention as pitch
            notation, there are a number of complexities and inconsistencies in
            tradtional rhythm notation that present opportunities for
            improvement or alternative approaches.
          </p>
          <div class="">
            1. There is a multiplicity of graphical representations for relative
            duration:
          </div>
          <div class="">&#8211; stems or not</div>
          <div class="">&#8211; solid or hollow noteheads</div>
          <div class="">&#8211; flags (various numbers)</div>
          <div class="">&#8211; beams (various numbers)</div>
          <div class="">&#8211; dots (various numbers)</div>
          <div class="">&#8211; ties</div>
          <div class="">
            &#8211; super/sub-script digits with arcs for tuplets
          </div>
          <div>
            &#8211; a whole set of different symbols for rests (duration of
            silence)
          </div>
          <div>
            &#8211; same symbol used for whole note rest (4 counts) and entire
            measure rest (various durations).
          </div>
          <div class=""></div>
          <div class="">
            Aside from the sheer multiplicity and inconsistency of graphical
            schemes,
          </div>
          <div class="">
            this practice preempts too many graphical distinctives that could be
            used for other notational purposes.
          </div>
          <div class=""></div>
          <div class="">
            For example, some pitch proposals use solid/hollow noteheads to
            distinguish whole-tone rows, which then requires an alternative
            notation to distinguish whole and half-notes from quarter notes,
            etc.
          </div>
          <div class=""></div>
          <div class="">
            2. Rhythms are notated by duration instead of &#8220;beat&#8221; or
            &#8220;count&#8221;
          </div>
          <div></div>
          <div class="">
            This is a particular problem for notation software, since it makes
            note position dependent on cumulative durations,
          </div>
          <div class="">
            making it difficult to do editing without global side-effects.
             Perhaps as a consequence,
          </div>
          <div class="">
            notation software often resorts to a Procrustean &#8220;tyranny of
            the bar&#8221;, making it difficult to edit passages that
            don&#8217;t begin and end at bar lines.
          </div>
          <div></div>
          <div>
            Musical &#8220;sense&#8221; and performance, however, is
            characterized by regular patters of beats (stress) similar to the
            &#8220;poetic feet&#8221; patterns of stress in spoken poetry.
             Moreover, music students routinely learn &#8220;counting&#8221;
            pattern, such as 1 &amp; 2 &amp; 3 &amp; 4 &amp;, , and often amend
            their scores to include this essential information.
          </div>
          <div class=""></div>
          <div class="">3. Notation of syncopation</div>
          <div></div>
          <div class="">
            In syncopated music, when notes are sustained across a beat, there
            is a convention of tying notes across the bar and even the half-bar.
          </div>
          <div class="">
            This results in inconsistent notation for the same duration,
          </div>
          <div>e.g. a quarter-note vs. two tied eighth-notes,</div>
          <div class="">
            but it is perhaps a nod to the idea that &#8220;beat&#8221; takes
            precedence over duration.
          </div>
          <div class=""></div>
          <div class="">
            4. Encoding of up-beats or &#8220;soft&#8221; feet is
            &#8220;backwards&#8221;.<br />
            In traditional notation, it is customary in to have notational rhythm
            units start on a beat. So, for example,  a dotted eighth note may be
            beamed to a subsequent sixteenth note, or a half-note may be followed
            by a quarter-note in the same measure, Often, in &#8220;compound meter&#8221;
            especially, the sustained note is perceived as the &#8220;end&#8221;
            of phrase or motif, and the following unstressed note is perceived as
            a  &#8220;pick-up&#8221; to the next phrase or motif, not as an extension
            of the previous one. But the visual connection between the two, via a
            beam or inclusion in the same measure, obscures the break.  This problem
            is exacerbated by the practice of breaking lines only at bars. This can
            result in the beginning notes of one phrase being &#8220;orphaned&#8221;
             at end of a line ending one phrase, separated from the bulk of the phrase
            on the next line or even next page.
          </div>
          <div></div>
          <div></div>
          <div>
            5. Music is &#8220;poetry&#8221;, but it is traditionally printed as
            &#8220;prose.&#8221;
          </div>
          <div>
            This observation actually encompasses &#8220;form&#8221; as well as
            rhythm.
          </div>
          <div>
            Music is traditionally printed in a way that minimizes the number of
            pages at the expense of formal clarity or even page-turniing
            convenience.  Furthermore, typically printed lines break only at bar
            lines, even though, as noted previously, musical phrases often end
            mid-bar.  This carries over into conventions for repeats and
            alternative endings, requiring duplication  of
            &#8220;beginnings&#8221; of initial passages after the
            &#8220;end&#8221; of final passages to notate a
            &#8220;repeat&#8221;, or repeat of &#8220;ends&#8221; of common
            material at the beginning of each alternative ending.<br />
            These practices are analogous to printing poetry as prose, newspaper
            style, vs. printing in &#8220;lines and stanzas&#8221; to expose the
            formal structure of the piece.
          </div>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
