---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Whole Step Apart, 5 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Whole Step Apart, 5 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Whole Step Apart, 5 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        A number of notation designers have used a five-line chromatic staff
        with one ledger line. This is a total of six lines spanning an octave,
        each spaced a whole step apart. The ledger line allows multiple
        one-octave staves to be &#8220;stacked,&#8221; placed contiguously for
        greater pitch range. In many cases these staves look exactly like the
        traditional staff (which would cause confusion), but some systems
        introduce bold lines or change the position of the ledger line.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-5-lines whole-step-5-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-heinrich-richter/"
        title="Permalink to Untitled by Heinrich Richter"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in 5 Line Chromatic Staff Notation System by Heinrich Richter"
          title="Chromatic scale from C to C in 5 Line Chromatic Staff Notation System by Heinrich Richter"
          src="/wp-content/uploads/2012/07/5-line-chromatic-staff-heinrich-richter.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-heinrich-richter/" rel="bookmark"
          >Untitled by Heinrich Richter, 1847</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-5-lines whole-step-5-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-grace-frix/"
        title="Permalink to Untitled by Grace Frix"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Grace Frix"
          title="Chromatic scale from C to C in Untitled by Grace Frix"
          src="/wp-content/uploads/2012/07/untitled-grace-frix.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-grace-frix/" rel="bookmark"
          >Untitled by Grace Frix, 1992</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-5-lines whole-step-5-lines lines-bold note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/c-symmetrical-semitone-notation/"
        title="Permalink to C-Symmetrical Semitone Notation by Ronald Sadlier"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in C Symmetrical Semitone Notation by Ronald Sadlier"
          title="Chromatic scale from C to C in C Symmetrical Semitone Notation by Ronald Sadlier"
          src="/wp-content/uploads/2012/07/c-symmetrical-semitone-ronald-sadlier.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/c-symmetrical-semitone-notation/" rel="bookmark"
          >C-Symmetrical Semitone Notation by Ronald Sadlier, 1991</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-5-lines whole-step-5-lines lines-bold note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/notation-godjevatz-by-velizar-godjevatz/"
        title="Permalink to Notation Godjevatz by Velizar Godjevatz"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Notation Godjevatz by Velizar Godjevatz"
          title="Chromatic scale from C to C in Notation Godjevatz by Velizar Godjevatz"
          src="/wp-content/uploads/2012/07/notation-godjevatz-velizar-godjevatz.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/notation-godjevatz-by-velizar-godjevatz/"
          rel="bookmark">Notation Godjevatz by Velizar Godjevatz, 1948</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
