<p>
  The staff has a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >7-5 line pattern</a
  > with each line or ledger line representing one of the seven notes of the C major
  scale (the white keys on the piano: A, B, C, D, E, F, G). The three fully visible
  lines represent the notes C, F, and G (the notation is also known as &#8220;C-F-G&#8221;
  notation). These notes are the 0, 5, and 7 pitches in the chromatic scale when
  starting with C as 0. The five other notes (the black keys on the piano) appear
  on spaces.  As there is no black key on the piano between E and F or between B
  and C, there is no space on the staff for notes between the lines E and F or the
  lines B and C. These two pairs of lines are closer together. Traditional rhythmic
  notation is used.
</p>
<p>Earliest documentation: 1984</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/20, 11/5, 13/62
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Parncutt-0-5-7_Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Parncutt-0-5-7_Contin.pdf" target="_blank"
    >Continuous Staves</a
  >
</p>
