<p>
  Identical to the regular <a href="/system/untitled-by-heinrich-richter/"
    >five-line staff systems</a
  >, except that the second and fourth lines are heavier than the other lines. 
  As with most of these five-line systems, the single ledger line is C.
</p>
<p>Earliest documentation: 1991</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/27, 11/3, 13/84
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Sadlier-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >,
  <a href="/pdf/manuscript/Sadlier-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
