<p>
  A 2-line staff is used, with the lower line representing E.  Above and below
  the staff a ledger line is used to represent C.  Between any two adjacent
  lines there are three elevations on which notes can be placed.  These
  elevations are made easier to distinguish because the notehead is given a
  semicircular shape when it rests against a line.  Rhythmic notation is mostly
  traditional.
</p>
<p>
  In Chromatic Twinline the notehead color alternates in a <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">6-6 pattern</a
  >, with the semicircles black and the ovals white. (In <a
    href="/system/diatonic-twinline-by-leo-de-vries/">Diatonic Twinline</a
  > the notehead color corresponds to the <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 pattern</a
  > of the piano key color.)
</p>
<p>Earliest documentation: 1986</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/11, 11/2, 13/25
</p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/de%20Vries-Twinline-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/de%20Vries-Twinline-Contin.pdf" target="_blank">
    Continuous Staves</a>
</p>
