<p>
  ChromaTonnetz&#8217;s primary feature is its system of triangular noteheads. 
  There are four different orientations and three different &#8220;fill
  patterns&#8221; for the triangles, yielding a unique appearance for each of
  the twelve pitches of the chromatic scale.  (The fill patterns are solid,
  i.e., black, open, i.e., white, and a pattern that approximates gray by
  placing a smaller triangle inside the triangular notehead.)  The four
  orientations cycle as one ascends the chromatic scale, as do the three fill
  patterns, and their cycling is simultaneous rather than nested.  As a result,
  noteheads that share the same orientation belong to the same augmented triad
  (which consists of stacked major thirds), and noteheads that share the same
  fill pattern belong to the same diminished seventh chord (stacked minor
  thirds).  This emphasis on intervals of a major or minor third is intended to
  highlight traditional tonality, whose chords are typically constructed by
  stacking thirds.  The design was inspired by Leonhard Euler&#8217;s <a
    title="Tonnetz"
    href="http://en.wikipedia.org/wiki/Tonnetz"
    >Tonnetz
  </a>and by the three-color scheme that Roy Pertchik uses on his <a
    title="6-6 vibraphone"
    href="http://www.youtube.com/watch?v=sGXmPzspJWI">6-6 vibraphone</a
  >.
</p>
<p>
  Because each of the 12 pitches has a unique appearance, the system can be
  considered a <a
    title="shape-note"
    href=" http://en.wikipedia.org/wiki/Shape_note">shape-note</a
  > system for the chromatic scale.  The picture above shows the chromatic scale
  starting on C, but Austin says the system can also be used in <a
    title="movable-do"
    href="http://en.wikipedia.org/wiki/Solfege#Movable_do_solf.C3.A8ge"
    >movable-do</a
  > fashion, in which case the series of shapes would be transposed to start on the
  tonic of the current key.
</p>
<p>
  The 12 different notehead appearances also mean that the system can in
  principle be used with any staff, or even no staff.  Austin uses it with the
  7-5 staff shown above, and presumes some sort of chromatic staff will be used,
  although he has also demonstrated it with the traditional staff.  The above
  staff is similar to <a href="/system/klavar-mirck-version-by-jean-de-buur/"
    >Mirck
  </a>but it is usually vertically oriented as in <a
    href=" http://www.klavarmusic.org/">Klavar</a
  >.  Whereas Mirck uses gray lines for C# and D#, the above staff uses dashed
  lines.
</p>
<p>
  Similarly, Austin says that most any rhythmic notation can be used that does
  not depend on notehead shape or fill pattern. This includes traditional
  rhythmic notation modified slightly, e.g., with <a
    href="/tutorials/noteheads-and-pitch/">double-stemmed half notes</a
  >.  Austin also sometimes uses proportional spacing, in which noteheads have
  no stems and are placed proportionally to their onset times.  In this case,
  the convention is that a note continues to sound until that voice&#8217;s next
  note appears, or until a &#8220;rest&#8221; symbol (%) appears. A
  &#8220;continue&#8221; symbol (&#8220;) is used: (1) when another note is
  added at the same time instant but the original note continues; and (2) when a
  note continues after a line or page break.
</p>
<p>
  To address <a href="/systems/criteria/#17">Criterion 17</a> of the Music Notation
  Project&#8217;s <a href="/systems/criteria/"
    >desirable criteria for notation systems</a
  >, Austin says that in handwriting ChromaTonnetz, one could make do with a
  wedge (&gt;, &lt;, ^, or  v) for the white noteheads, with the addition of a
  stroke to represent a &#8220;gray&#8221; notehead or a squiggle to represent a
  black one.
</p>
<p>Source: Joe Austin. ChromaTonnetz introduced Sept. 20, 2010.</p>
<p>
  Website: <a
    href="http://drtechdaddy.com/2010/09/24/tonnetz-based-4x3-notation/"
    >http://drtechdaddy.com/2010/09/24/tonnetz-based-4&#215;3-notation/</a>
</p>
<p>
  Similar Notations: <a href="/system/klavar-mirck-version-by-jean-de-buur/"
    >Mirck</a>
</p>
