<p>
  This staff has five lines with the middle one dashed, and it covers about an
  octave and a half. Between any two adjacent lines there are three elevations
  on which notes can be placed.  Color helps distinguish these elevations, with
  the white notes hugging the lines and the black notes falling either on or
  in-between the lines. Rhythmic notation is basically proportional with dashes
  representing beats of time (though this is not the case in this illustration).
</p>
<p>
  Website: <a href="http://www.beyreuther-musikprinzip.de/" target="_blank"
    >Beyreuther 6:6 System</a>
</p>
<p>Earliest documentation: 1985</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/5, 11/2, 13/10
</p>
<p>
  Similar Notations: <a href="/system/untitled-by-johannes-beyreuther/"
    >Untitled by Johannes Beyreuther</a>
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Beyreuther-6-6-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Beyreuther-6-6-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
  <a href="/pdf/manuscript/Beyreuther-6-6-Piano.pdf" target="_blank">
    Piano Staves
  </a>
</p>
