<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.0&notes=66.1&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  Clairnote DN has the same line pattern as <a
    href="/system/untitled-by-johannes-beyreuther/"
    >Beyreuther&#8217;s Untitled system</a
  >, but differs from it in the following ways. The staff is more vertically
  compact by allowing the note heads of adjacent pitches to
  &#8220;overlap&#8221; to a greater degree than is common on a traditional
  staff. (This approach is also used in <a
    title="Express Stave by John Keller"
    href="/system/express-stave-by-john-keller/">Express Stave</a
  >.)  On a Clairnote DN staff two notes an octave apart are about <a
    href="http://clairnote.org/dn/staff/"
    target="_blank"
    rel="noopener">1.3 times as far apart</a
  > as they are on a traditional staff. (This is less than the 1.714… (12 divided
  by 7) which is the case for a &#8220;standard&#8221; chromatic staff.)  Rhythmic
  notation follows traditional notation, except for a double stem that indicates
  half notes (see <a href="/tutorials/noteheads-and-pitch/"
    >Using Notehead Color for Pitch</a
  >). Noteheads alternate between solid and hollow, with the solid notes falling
  on the lines to highlight the <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 pitch pattern</a
  >.  Noteheads are the traditional oval shape rather than circular.  Clairnote
  DN also has a system of alternative accidental signs, key signatures, and
  clefs.  The &#8220;DN&#8221; is for &#8220;Dual Noteheads&#8221; in contrast
  to <a href="/system/clairnote-sn-paul-morris/">Clairnote SN</a>,
  &#8220;Standard Noteheads&#8221;.
</p>
<p>Earliest documentation: 2006</p>
<p>Source: Paul Morris</p>
<p>
  Website: <a title="Clairnote Music Notation" href="http://clairnote.org/dn/"
    >Clairnote DN Music Notation</a
  >
</p>
<p>
  Historical notes: When Morris first introduced this system in 2006 it did not
  include the &#8220;more vertically compact staff&#8221; aspect (which was
  introduced in December of 2013 when Morris changed the system&#8217;s name to
  &#8220;Clairnote&#8221;).  It was originally intended as a companion to <a
    href="/system/black-oval-twinline-by-paul-morris/">Black-Oval Twinline</a
  > (and was called &#8220;Expanded Black-Oval Twinline&#8221; to reflect this). 
  Since these systems shared the same line pattern and the same solid/hollow note
  pattern, it would be easy to learn to read either one interchangeably.  Musicians
  could prefer one while still being able to easily read the other.  Now Clairnote
  DN is intended as a &#8220;stand-alone&#8221; system, although it still retains
  its basic compatibility with Black-Oval Twinline.  This system was briefly known
  as &#8220;Expanded TwinNote&#8221; between June and December of 2009, before the
  introduction of Morris&#8217; new version of <a
    href="/system/twinnote-by-paul-morris/">TwinNote</a
  >. It was also known as &#8220;Expanded White-Triangle Twinline&#8221; before
  being renamed to &#8220;Expanded Black-Oval Twinline&#8221; in February of
  2011. In December of 2013 it was renamed &#8220;Clairnote&#8221; with the
  addition of the more vertically compact staff aspect and the alternative key
  signatures and accidental signs. With the introduction of <a
    href="/system/clairnote-sn-paul-morris/">Clairnote SN</a
  > in April 2018, &#8220;Clairnote&#8221; was renamed to &#8220;Clairnote DN&#8221;
  to avoid confusion between the two variants.
</p>
<p>
  Similar Notations: <a href="/system/clairnote-sn-paul-morris/"
    >Clairnote SN by Paul Morris</a
  >, <a href="/system/black-oval-twinline-by-paul-morris/"
    >Black-Oval Twinline by Paul Morris</a
  >, <a href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
    >Chromatic 6-6 Notation by Johannes Beyreuther</a
  >
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Beyreuther-Untitled-Discon.pdf"
    target="_blank"
    rel="noopener"
  >
    Discontinuous Staves</a
  >
  <a
    href="/pdf/manuscript/Beyreuther-Untitled-Contin.pdf"
    target="_blank"
    rel="noopener"
  >
    Continuous Staves</a
  >
</p>
