<p>
  The standard six-line staff is constructed from the bottom with two normal
  staff lines, followed by a bold line, followed by two more normal staff lines,
  followed by a dashed line on top.   The bold line represents C.  The dashed
  line represents F#. This standard one octave staff has been repeated twice in
  the image above to show a span of two octaves.
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/1, 11/4, 13/1
</p>
<p>Earliest Documentation: 1936</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Douzave-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >, <a href="/pdf/manuscript/Douzave-Contin.pdf" target="_blank">
    Continous Staves</a
  >
</p>
