<p>
  <em
    >This is Keller&#8217;s preferred and recommended version of Express Stave,
    along with its <a href="/system/express-stave-6-6-jazz-font-by-john-keller/"
      >Jazz Font variation</a
    >.
  </em>
</p>
<p>
  The basic staff consists of three lines. The middle line represents D, while
  the top and bottom lines represent G#/Ab. Notehead color has an inverse
  correspondence with the <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >7-5 pattern</a
  > of the piano key colors, with black noteheads for &#8220;white key&#8221; notes
  and white noteheads for &#8220;black key&#8221; notes. Black noteheads represent
  the notes that occur most often (ABCDEFG), especially in the more common keys that
  have fewer sharps or flats. This provides greater continuity with traditional notation
  where solid notes also occur more frequently than hollow notes (since they represent
  notes of smaller duration). This would probably make it easier to learn both systems
  and to switch back and forth between them. Keller also maintains that the B and
  F notes that do not touch a line are easier to draw by hand when they are black
  noteheads.
</p>
<p>
  Between any two adjacent lines there are five elevations at which notes can be
  placed. The black notes B and F each sit midway between two lines, touching
  neither. The remaining notes all touch a line, either &#8216;lightly&#8217; or
  with a slight overlap. These notes are distinguished by their notehead color.
  Keller has aligned the staff with the 7-5 keyboard pattern and its two centers
  of symmetry, D and G#/Ab. This gives a symmetrical pattern of black and white
  notes around each line. By enclosing the white key set ABCDEFG, the staff
  resembles the traditional bass clef, but with two lines omitted.
</p>
<p>
  Three original clef symbols are used, the F, B, and D clefs, shown here, which
  replace the traditional bass, treble and middle clefs respectively. (Notice
  how the symbols incorporate the notes F, B, and D.)
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-1864"
    alt="express-stave-reverse-color-clefs"
    src="/wp-content/uploads/2012/07/express-stave-reverse-color-clefs.png"
    width="218"
    height="79"
  />
</p>
<p>
  To the left of the staff a symbol is used to represent the black keys of the
  piano. This helps to identify the middle line of the staff as D, and the top
  and bottom lines as G#/Ab:
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-1869"
    alt="expressStavePianoSymbol"
    src="/wp-content/uploads/2012/07/expressStavePianoSymbol.png"
    width="68"
    height="85"
  />
</p>
<p>
  Rhythm notation is the same as in traditional notation, except that half notes
  (minims) and whole notes (semibreves) have a short vertical line on each side
  of the notehead. This is visually similar to a <a
    href="http://en.wikipedia.org/wiki/Double_whole_note"
    target="_blank"
    rel="noopener">double-whole note</a
  > (breve) in traditional notation. It is necessary in order to distinguish half
  notes from quarter notes (crotchets) since <a
    href="/tutorials/noteheads-and-pitch/"
    >black/solid and white/hollow noteheads are used for pitch</a
  >.
</p>
<p>
  The pitch range can extend to two octaves through the use of D ledger lines a
  tritone above or below the one-octave staff. This ledger line appears for the
  five notes: C, C#/Db, D, D#/Eb, and E. Pitch ranges of three or more octaves
  can be achieved by vertically &#8220;stacking&#8221; standard one-octave
  staves, spacing them an octave apart, with the usual ledger line representing
  D occurring half way between them (see links to manuscript paper PDFs below).
</p>
<p>
  Express Stave has an accompanying note naming scheme that retains the
  traditional names for the natural notes A B C D E F G, but introduces new
  letter-names for the other five &#8220;extras&#8221; (the black key notes).
</p>
<p>
  The 2-black-key group (C#/Db, D#/Eb) is I and J (the two dotted letters of the
  alphabet) and the 3-black-key group (F#/Gb, G#/Ab, A#/Bb) is K, L, and H. The
  staff line for G#/Ab (L) may then be called the &#8220;link line&#8221;, as it
  &#8220;links&#8221; each &#8220;naturals alphabet&#8221; series (A B C D E F
  G) to the next. This gives the 12 pitch names as the first 12 letters of the
  alphabet, A to L, in the following chromatic order:
</p>
<p>
  A &#8211; <strong>H</strong> &#8211; B &#8211; C &#8211; <strong>I</strong> &#8211;
  D &#8211; <strong>J</strong> &#8211; E &#8211; F &#8211; <strong>K</strong> &#8211;
  G &#8211; <strong>L</strong>
</p>
<p>
  Keller notes that H (Bb) is historically the first extra pitch to be added to
  the naturals, and B and H are reversed in German terminology.
</p>
<p>&nbsp;</p>
<p>
  Source: John Keller. Keller introduced this version of Express Stave in
  January 2010 under the name &#8220;Express Stave, Reverse-Color&#8221; because
  it reversed the black/white notehead pattern of the original version of
  Express Stave that was introduced in November 2005. By February 2021 Keller
  had come to prefer the &#8220;reverse color&#8221; version and renamed it
  &#8220;Express Stave: Pianoforte Notation&#8221; to make it clear it was his
  preferred, recommended, and &#8220;official&#8221; version. See also <a
    href="/system/express-stave-6-6-jazz-font-by-john-keller/"
    >6-6 jazz font version</a
  > introduced February 2009, which is the form used for handwriting.
</p>
<p>
  Similar notations: <a href="/system/chromatic-twinline-by-leo-de-vries/"
    >Diatonic Twinline Notation</a>
</p>
<p>
  Video Tutorial on YouTube: <a
    href="http://www.youtube.com/watch?v=IGnmiF5L2Xs"
    target="_blank"
    rel="noopener">Music Theory and Express Stave Notation</a>
</p>
<p>
  Musical works in Express Stave are available on the <a
    href="/wiki/system/express-stave-by-john-keller/">Wiki</a>
</p>
<p>
  Manuscript paper (PDFs): <a
    href="/pdf/manuscript/ES_Discontinuous.pdf"
    target="_blank"
    rel="noopener"
  >
    Discontinuous Staves (1-2 Octaves)</a
  >
  <a href="/pdf/manuscript/ES_3octaves.pdf" target="_blank" rel="noopener"
    >3 Octave Stave</a
  >
  <a href="/pdf/manuscript/ES_5octaves.pdf" target="_blank" rel="noopener"
    >5 Octave Stave</a
  >
  <a href="/pdf/manuscript/ES_Piano.pdf" target="_blank" rel="noopener"
    >Piano Stave</a
  >
  <a href="/pdf/manuscript/ES_Continuous.pdf" target="_blank" rel="noopener">
    Continuous Stave</a>
</p>
<p>Other musical works are available from John Keller upon request.</p>
