<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.2&notes=66.0&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  TwinNote has the same basic line-pattern and compact staff as the <a
    href="/systems/group/major-3rd-2-lines-compact/">Twinline systems</a
  > that inspired it, but it uses only triangle noteheads that appear in one of two
  orientations. Two notes appear on each line and space with hollow triangles oriented
  &#8216;point-down&#8217; alternating with solid triangles oriented &#8216;point-up.&#8217;
  This emphasizes the <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 pitch pattern</a
  >.
</p>
<p>
  Half notes are given a double stem to differentiate them from quarter notes
  (see <a href="/tutorials/noteheads-and-pitch/"
    >Using Notehead Color for Pitch</a
  >). Otherwise traditional rhythmic notation is used. The absence of any oval
  notes helps to reduce any confusion with traditional notation since this makes
  the two systems more visually distinct.
</p>
<p>
  Various forms of short-hand can be used when writing music by hand. For
  example, all triangles can be left hollow, and the base of the triangles can
  be omitted, reducing the number of strokes required for each notehead to just
  two.
</p>
<p>
  Source: Paul Morris, December 2009.  (<a
    href="/system/black-oval-twinline-by-paul-morris/">Black-Oval Twinline</a
  > (also called White-Triangle Twinline) was briefly known as &#8220;TwinNote&#8221;
  from June to December 2009, before Morris designed this system which became TwinNote.
  In 2010 <a href="/system/twinnote-td-by-paul-morris/">TwinNote TD</a> was known
  as TwinNote, while this system was named &#8220;TwinNote Max 6-6 version.&#8221;
  Morris switched to the current names in early January of 2011. In March of 2011
  Morris shifted the note positions up by a semitone to make C D E F G A B correspond
  with the lines and spaces of the traditional treble staff (instead of just C D
  E).)
</p>
<p>
  Website: <a href="http://clairnote.org/twinnote/" target="_blank"
    >TwinNote Music Notation</a
  >
</p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/Reed-Twinline-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Reed-Twinline-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
