<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.0&notes=66.1&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The staff has two lines representing E and G#/Ab. Above and below the staff a
  ledger line represents C.  The standard staff spans two octaves as pictured
  above. Circular noteheads alternate between solid/black and hollow/white,
  highlighting the <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 pitch pattern</a
  >. Rhythmic notation is proportional somewhat like <a
    href="http://http://musicnotation.org/system/klavar-mirck-version-by-jean-de-buur/"
    >Klavar</a
  > notation. Beyreuther later withdrew this proposal in favor of its &#8220;<a
    href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
    >dashed line&#8221; cousin</a
  >.
</p>
<p>
  Earliest documentation: 1959 (Canadian patent No. 568746, titled
  &#8220;Musical Staff&#8221;)
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/4, 11/2, 13/9
</p>
<p>
  Similar Notations: <a
    href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
    >Chromatic 6-6 Notation by Johannes Beyreuther</a
  >
</p>
<p>
  Miscellaneous examples: <a
    href="/pdf/comparisons/MajorScales.pdf"
    target="_blank"
  >
    Major Scale Comparison</a
  >
  <a href="/pdf/comparisons/Triads.pdf" target="_blank"> Triad Comparison</a>
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Beyreuther-Untitled-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Beyreuther-Untitled-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
<p>&nbsp;</p>
