---
import MnpLayout from "../../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Conferences", "MNMA")}
  metaDescription="Details about conferences and conference proceedings of the Music Notation Modernization Association (MNMA) 1985-2007."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="mnma-title">
            MNMA | Music Notation Modernization Association | 1985-2007
          </h1>
          <h1 class="entry-title">Conferences</h1>
        </header>

        <div class="entry-content">
          <ul>
            <li>
              <strong
                ><a href="#1988"
                  >First MNMA Conference — Norwich, England, 1988</a
                >
              </strong>
            </li>
            <li>
              <strong
                ><a href="#1991"
                  >Second MNMA Conference — Saint Louis, USA, 1991</a
                >
              </strong>
            </li>
            <li>
              <strong
                ><a href="#1994"
                  >Third MNMA Conference — Rotterdam, Netherlands, 1994</a
                >
              </strong>
            </li>
            <li>
              <strong
                ><a href="#1997"
                  >Fourth MNMA Conference — Cebu City, Philippines, 1997</a
                >
              </strong>
            </li>
            <li>
              <strong
                ><a href="#2003">Fifth MNMA Conference — Chicago, USA, 2003</a>
              </strong>
            </li>
          </ul>
          <p>&nbsp;</p>
          <h2 class="divider-heading" id="1988">
            First MNMA Conference — Norwich, England, 1988
          </h2>
          <p>
            Conference Proceedings Edited by Thomas S. Reed (1991) Paperback
            (120 pp.)
          </p>
          <p>
            Contains papers presented at the First International MNMA Conference
            held in Norwich, England, 1988
          </p>
          <p>
            This historic conference on new systems of music notation, the first
            of its kind in the 20th century, brought together speakers from
            eleven countries. A variety of new notation systems were presented,
            including a shorthand system, a microtonal system, aleatoric
            methods, and systems capable of substituting for traditional
            notation. Most of the lectures were published in full, and most were
            also illustrated.
          </p>
          <p>
            $14.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <p>&nbsp;</p>
          <h3>Table of Contents</h3>
          <table>
            <tbody>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Author</strong></td>
                <td><strong>Page</strong></td>
              </tr>
              <tr>
                <td>Twenty-First Century Music Theory and Notation</td>
                <td>Thomas S. Reed</td>
                <td>1</td>
              </tr>
              <tr>
                <td
                  >100 Students Learn the Piano Through the Klavarskribo Music
                  Notation in Hong Kong (a description of Methods, Materials and
                  Results)</td
                >
                <td>Peter Spurrier Jackson</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Towards a Standard Keyboard Staff</td>
                <td>Richard Parncutt</td>
                <td>31</td>
              </tr>
              <tr>
                <td
                  >Piano Patterns: Outline Notation &#8211; a link with Staff
                  Notation</td
                >
                <td>Annemarie Scheltema</td>
                <td>32</td>
              </tr>
              <tr>
                <td>Accidentals in a New Musical Notation</td>
                <td>Delia Mugnaini Robotti</td>
                <td>37</td>
              </tr>
              <tr>
                <td>Graphical Control Strategies of Aleatory Music Notation</td>
                <td>Giorgio Tedde</td>
                <td>41</td>
              </tr>
              <tr>
                <td
                  >Revised Music Notation with Electronic Music Technology as a
                  Combined System</td
                >
                <td>Mario Koppers</td>
                <td>53</td>
              </tr>
              <tr>
                <td>Accidentals, Musical Function and Intonation</td>
                <td>Richard Parncutt</td>
                <td>54</td>
              </tr>
              <tr>
                <td>The Four-Level Six-Six Keyboard</td>
                <td>Paul Vandervoort</td>
                <td>58</td>
              </tr>
              <tr>
                <td>A New Notational System and Traditional Harmonic Theory</td>
                <td>Mario Koppers</td>
                <td>59</td>
              </tr>
              <tr>
                <td
                  >Funzionalita Storica Contenutistica Della Notazione Musicale</td
                >
                <td>Italo Ruggero Muci</td>
                <td>60</td>
              </tr>
              <tr>
                <td>From a Special to a General Notation</td>
                <td>Leo de Vries</td>
                <td>61</td>
              </tr>
              <tr>
                <td>Music in a Graph</td>
                <td>Albert Brennink</td>
                <td>88</td>
              </tr>
              <tr>
                <td>A New System of Musical Shorthand</td>
                <td>John Asher</td>
                <td>100</td>
              </tr>
              <tr>
                <td
                  >Applications of the Chromatic Alphabet in the Notation of
                  Music</td
                >
                <td>Robert Stuckey and Richard Parncutt</td>
                <td>104</td>
              </tr>
              <tr>
                <td>A Symmetrical Notation for Microtones</td>
                <td>Leo de Vries</td>
                <td>110</td>
              </tr>
              <tr>
                <td>Summing-up the 1988 Norwich Conference</td>
                <td>Ronald Watson</td>
                <td>116</td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <h2 class="divider-heading" id="1991">
            Second MNMA Conference — Saint Louis, USA, 1991
          </h2>
          <p>
            <img
              loading="lazy"
              class="alignright"
              title="St. Louis Conference Proceedings"
              alt="Second MNMA Conference Proceedings Cover"
              src="/wp-content/uploads/2013/03/cover-conf2_2_225.gif"
              width="225"
              height="291"
            />Conference Proceedings Edited by Thomas S. Reed (1994)<br />
            Paperback (183 pp. incl. Appendix)
          </p>
          <p>ISBN 0-9638849-0-5, LC 93-86922</p>
          <p>
            Contains papers presented at the Second International MNMA
            Conference held in St. Louis, Missouri, USA, 1991.
          </p>
          <p>
            These proceedings are of special importance because of the new
            notation systems illustrated in the &#8220;Test Drive&#8221;
            section. Fourteen new notation systems are used to notate the same
            musical excerpts. This allows the reader to try out and compare the
            different notation systems. The lectures present a wide range of
            provocative views and opinions.
          </p>
          <p>
            $30.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <p>&nbsp;</p>
          <h3>Table of Contents</h3>
          <table>
            <tbody>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Author</strong></td>
                <td><strong>Page</strong></td>
              </tr>
              <tr>
                <td>Preface</td>
                <td></td>
                <td>v</td>
              </tr>
              <tr>
                <td>Photograph of Conferees</td>
                <td></td>
                <td>vii</td>
              </tr>
              <tr>
                <td
                  >Concepts of Music Notation Modernization in 19th Century
                  Germany</td
                >
                <td>Michael Maier (Germany)</td>
                <td>1</td>
              </tr>
              <tr>
                <td
                  >Using the Base-twelve Number System for Solmization,
                  Arranging, and Composing</td
                >
                <td>Donald M. Cowan (U.S.A)</td>
                <td>7</td>
              </tr>
              <tr>
                <td>We Cannot Expect Help from Anybody</td>
                <td>Johannes Beyreuther (Germany)</td>
                <td>13</td>
              </tr>
              <tr>
                <td>Trigram Notation</td>
                <td>Richard Parncutt (Germany)</td>
                <td>19</td>
              </tr>
              <tr>
                <td>The Ideal Music Notation</td>
                <td>George J. Skapski (U.S.A)</td>
                <td>21</td>
              </tr>
              <tr>
                <td
                  >Categories of Notation: Different Categories of Perfection in
                  History, the Present and the Future</td
                >
                <td>Leo de Vries (Netherlands)</td>
                <td>27</td>
              </tr>
              <tr>
                <td
                  >Symmetrical Notations: My Attempt to Penetrate, Via the
                  Twinline Principles, into the Microtone Domain</td
                >
                <td>Leo de Vries (Netherlands)</td>
                <td>31</td>
              </tr>
              <tr>
                <td>Why &#8220;Mirror Notation&#8221;?</td>
                <td>Johanna Sheer-Duyvis (Netherlands)</td>
                <td>45</td>
              </tr>
              <tr>
                <td
                  >Basic Outline for a Notation that is Easier, Better, and
                  Suited to our Times</td
                >
                <td>Johannes Wolf (Austria)</td>
                <td>49</td>
              </tr>
              <tr>
                <td
                  >Conventions in Rhythm Notation and Stylistic Practices in
                  Keyboard Music</td
                >
                <td>Chris Childs (Australia)</td>
                <td>61</td>
              </tr>
              <tr>
                <td
                  >Notation Systems for Non-linear Instruments: Scoring for
                  Sound Sculpture</td
                >
                <td>Dan Senn (U.S.A)</td>
                <td>71</td>
              </tr>
              <tr>
                <td>Enlightenment from the Abandonment of Musical Notation</td>
                <td>Han Wan Zhai (China)</td>
                <td>73</td>
              </tr>
              <tr>
                <td>The Digital Music Notation of the Accordion</td>
                <td>Yin Zhi-chao (China)</td>
                <td>77</td>
              </tr>
              <tr>
                <td>C-Symmetrical Semitone Notation System</td>
                <td>Ronald F. Sadlier (U.S.A)</td>
                <td>81</td>
              </tr>
              <tr>
                <td>Step by Step to a Simpler Notation</td>
                <td>Jeannette de Buur (France)</td>
                <td>87</td>
              </tr>
              <tr>
                <td>Why not a MUSICIAN&#8217;S Notation?</td>
                <td>W.D. Collinds (England)</td>
                <td>93</td>
              </tr>
              <tr>
                <td>Nomographic Notation</td>
                <td>James C. Rickey (U.S.A)</td>
                <td>103</td>
              </tr>
              <tr>
                <td
                  >Alternate Keyboards, Theory, History and Current Developments</td
                >
                <td>Paul Vandervoort (U.S.A)</td>
                <td>109</td>
              </tr>
              <tr>
                <td>A New Look at the Temporal Aspect of Music Notation</td>
                <td>George J. Skapski (U.S.A)</td>
                <td>111</td>
              </tr>
              <tr>
                <td>Choosing Syllables for a Chromatic Solfa</td>
                <td
                  >Robert Stuckey and Richard Parncutt (England and Germany)</td
                >
                <td>117</td>
              </tr>
              <tr>
                <td>Puntun Notation</td>
                <td>Michael Laschober (U.S.A.)</td>
                <td>119</td>
              </tr>
              <tr>
                <td>Scenario for the Future of Music Notation</td>
                <td>Thomas S. Reed (U.S.A)</td>
                <td>123</td>
              </tr>
              <tr>
                <td>Test Drive the New Notation Systems (Parts I and II)</td>
                <td colspan="3">Appendix</td>
              </tr>
              <tr>
                <td>Test Drive (Contents)</td>
                <td colspan="3">Appendix iii</td>
              </tr>
              <tr>
                <td>Article II &#8211; &#8220;Purposes&#8221;</td>
                <td colspan="3">Outside Back Cover</td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <h2 class="divider-heading" id="1994">
            Third MNMA Conference — Rotterdam, Netherlands, 1994
          </h2>
          <p>
            <img
              loading="lazy"
              class="alignright"
              title="Rotterdam Conference Logo"
              alt="Rotterdam Conference Logo"
              src="/wp-content/uploads/2013/03/rotterdam-logo_wBorder225.gif"
              width="225"
              height="180"
            />Conference Proceedings Edited by Thomas S. Reed (1999) Paper (228
            pp.)
          </p>
          <p>ISBN 0-9638849-3-X, LC 98-68688, ISSN 1094-4486</p>
          <p>
            Contains papers presented at the Third International MNMA Conference
            held in Rotterdam, Netherlands, 1994.
          </p>
          <p>
            $25.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <p>&nbsp;</p>
          <h3>Table of Contents</h3>
          <table>
            <tbody>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Author</strong></td>
                <td><strong>Page</strong></td>
              </tr>
              <tr>
                <td>Summary of the Evaluation Committee Report</td>
                <td
                  >Douglas Keislar (U.S.A.), Chair, presented by Leo de Vries</td
                >
                <td>1</td>
              </tr>
              <tr>
                <td>The Ideas of Paul von Janko in the Computer Age</td>
                <td>Peter Roche (England)</td>
                <td>15</td>
              </tr>
              <tr>
                <td>A Survival Kit</td>
                <td>Helen Robinson (England)</td>
                <td>19</td>
              </tr>
              <tr>
                <td
                  >The Application of the Numbered Singing Name Notation on 6-6
                  Type Accordions</td
                >
                <td>Yin Zhi Chao (China)</td>
                <td>29</td>
              </tr>
              <tr>
                <td>New Notes: New Possibilities for Music Teaching</td>
                <td>Jean de Buur (Netherlands)</td>
                <td>39</td>
              </tr>
              <tr>
                <td>Fifth and Relatives</td>
                <td>Leo de Vries (Netherlands)</td>
                <td>41</td>
              </tr>
              <tr>
                <td>Dear MNMA Friends</td>
                <td>A. J. Otte (Netherlands)</td>
                <td>43</td>
              </tr>
              <tr>
                <td
                  >The Question of Pitch versus Function in the Notation of
                  Multiple Divisions</td
                >
                <td>Siemen Terpstra (Netherlands)</td>
                <td>47</td>
              </tr>
              <tr>
                <td>System of Learning the Staff Visually</td>
                <td
                  >Yin Cheng-Liang (China), as read in English by Yang Hui
                  (Sally)</td
                >
                <td>51</td>
              </tr>
              <tr>
                <td
                  >The Well-Tempered Clavier in Well-Tempered Music Notation</td
                >
                <td>Albert Brennink (Canada)</td>
                <td>61</td>
              </tr>
              <tr>
                <td>Streamlining Musical Shorthand</td>
                <td>John Asher (England)</td>
                <td>85</td>
              </tr>
              <tr>
                <td
                  >Translation Between Notation Systems Using Computer
                  Algorithms</td
                >
                <td>Mario Koppers (South Africa)</td>
                <td>103</td>
              </tr>
              <tr>
                <td
                  >Advances in Computer Transcription into the Klavar Notation</td
                >
                <td>Peter Jackson (Hong Kong)</td>
                <td>105</td>
              </tr>
              <tr>
                <td>The Six-Six Representation of Music</td>
                <td>Thomas S. Reed (U.S.A.)</td>
                <td>119</td>
              </tr>
              <tr>
                <td
                  >The 6 to 6 Notation (Demonstrated on a 6 to 6 Instrument)</td
                >
                <td>Johannes Beyreuther (Germany)</td>
                <td>135</td>
              </tr>
              <tr>
                <td>Notation Systems of the Twentieth Century</td>
                <td>Chris Childs (Australia)</td>
                <td>149</td>
              </tr>
              <tr>
                <td
                  >Solfaplus = Solfa plus Chord symbols and Five Chromatic
                  Syllables</td
                >
                <td>Bob Stuckey (England) and Richard Parncutt (England)</td>
                <td>151</td>
              </tr>
              <tr>
                <td
                  >Guidelines for a Modern Notation in View of Transposing
                  Instruments and Klavar Notation</td
                >
                <td
                  >Johannes Wolf (Austria), trans. from the German by Jean de
                  Buur</td
                >
                <td>165</td>
              </tr>
              <tr>
                <td>What Motivates Music Notation Research?</td>
                <td>Richard Parncutt (Australia)</td>
                <td>175</td>
              </tr>
              <tr>
                <td>On the Aesthetic Value of Musical Symbols</td>
                <td>Guo Chun Dong (China)</td>
                <td>177</td>
              </tr>
              <tr>
                <td>Creating a New Notation</td>
                <td>Nicolai Alexandrovith Dolmatov (Russia)</td>
                <td>181</td>
              </tr>
              <tr>
                <td>A Trip to the Klavar Publishers, Near Rotterdam</td>
                <td>Thomas S. Reed (U.S.A.)</td>
                <td>193</td>
              </tr>
              <tr>
                <td>Results of Comparing Notes Test, Rotterdam Conference</td>
                <td>Thomas S. Reed (U.S.A.)</td>
                <td>195</td>
              </tr>
            </tbody>
          </table>
          <h2 class="divider-heading" id="1997">
            Fourth MNMA Conference — Cebu City, Philippines, 1997
          </h2>
          <p>
            <img
              loading="lazy"
              class="alignright"
              title="Cebu City Conference Logo"
              alt="Cebu City Conference Logo"
              src="/wp-content/uploads/2013/03/cebu_logo_wBorder225.gif"
              width="225"
              height="212"
            />Conference Proceedings Edited by Thomas S. Reed (2000) Paperback
            (164 pp.)
          </p>
          <p>ISBN 0-9638849-4-8, LC 00-91048, ISSN 1094-4486</p>
          <p>
            Contains papers presented at the Fourth International MNMA
            Conference held in Cebu City, Philippines, 1997
          </p>
          <p>
            $20.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <p>&nbsp;</p>
          <h3>Table of Contents</h3>
          <table>
            <tbody>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Author</strong></td>
                <td><strong>Page</strong></td>
              </tr>
              <tr>
                <td>Acknowledgments, Conference Program</td>
                <td></td>
                <td>iii</td>
              </tr>
              <tr>
                <td>Photo of Conference Members on a Tour of Cebu</td>
                <td></td>
                <td>iv</td>
              </tr>
              <tr>
                <td>Photos of the Conference</td>
                <td></td>
                <td>vi</td>
              </tr>
              <tr>
                <td>Preface</td>
                <td>Thomas S. Reed</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Who Will Benefit from a Better Notation System?</td>
                <td>Thomas S. Reed</td>
                <td>5</td>
              </tr>
              <tr>
                <td>The Teaching Experience in the Six-Six System</td>
                <td>Johannes Beyreuther</td>
                <td>11</td>
              </tr>
              <tr>
                <td>Three Families of 13-Degree Staves</td>
                <td>Blake M. Mitchell</td>
                <td>15</td>
              </tr>
              <tr>
                <td>Nature&#8217;s Harmonic Series</td>
                <td>Anne and Bill Collins</td>
                <td>35</td>
              </tr>
              <tr>
                <td>An Expanded System of Duration Symbols</td>
                <td>Blake M. Mitchell</td>
                <td>43</td>
              </tr>
              <tr>
                <td>The Big Error!</td>
                <td>Johannes Beyreuther</td>
                <td>49</td>
              </tr>
              <tr>
                <td>Ornaments in New Notation Systems</td>
                <td>Thomas S. Reed</td>
                <td>53</td>
              </tr>
              <tr>
                <td>Notation Road Test</td>
                <td>(directed by T.S. Reed)</td>
                <td>59</td>
              </tr>
              <tr>
                <td>1. List of Inventors</td>
                <td></td>
                <td>64</td>
              </tr>
              <tr>
                <td>2. The Chromatic Scale in 36 New Systems</td>
                <td>Thomas S. Reed</td>
                <td>65</td>
              </tr>
              <tr>
                <td>3. Grouping the systems by line-pattern</td>
                <td>Doug Keislar</td>
                <td>102</td>
              </tr>
              <tr>
                <td
                  >4. The Musical Example by J. S. Bach, in traditional notation</td
                >
                <td></td>
                <td>107</td>
              </tr>
              <tr>
                <td
                  >5. The J. S. Bach Example Transnotated into 36 New Systems</td
                >
                <td>T. S. Reed</td>
                <td>108</td>
              </tr>
              <tr>
                <td>6. Specification Sheet for the Manuscript Paper</td>
                <td>Michael Johnston</td>
                <td>148</td>
              </tr>
              <tr>
                <td>7. Filled-out Evaluation Forms</td>
                <td></td>
                <td>146</td>
              </tr>
            </tbody>
          </table>
          <h2 class="divider-heading" id="2003">
            Fifth MNMA Conference — Chicago, USA, 2003
          </h2>
          <p>
            The proceedings from the Fifth International MNMA Conference held in
            Chicago, USA, 2003 were not published.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
