---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("DCMN Dozenal Conventional Music Notation", "Wiki")}
  metaDescription="A wiki page about Dozenal Conventional Music Notation (DCMN)"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">DCMN Dozenal Conventional Music Notation</h1>
        </header>

        <div class="entry-content">
          <p><strong>DCMN Dozenal Conventional Music Notation</strong></p>
          <p>
            Hamburger Musik Pianotyp Notation = Hamburg Music PianoType Notation
            (HMPN)<br />
            Hamburger Musik Emoji Notation = Hamburg Music Emoji Notation (HMEN)
          </p>
          <p>
            Preliminary information ( more detailed information coming soon)
          </p>
          <p>
            see also <a href="http://www.hamburgmusicnotation.com"
              >hamburgmusicnotation.com</a
            > for more
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-large wp-image-2442"
              src="/wp-content/uploads/2016/04/HMPN-1-chromatisch-7-diatonisch-724x1024.jpg"
              alt="HMPN-1-chromatisch-7-diatonisch"
              width="584"
              height="826"
              srcset="/wp-content/uploads/2016/04/HMPN-1-chromatisch-7-diatonisch-724x1024.jpg 724w, /wp-content/uploads/2016/04/HMPN-1-chromatisch-7-diatonisch-212x300.jpg 212w, /wp-content/uploads/2016/04/HMPN-1-chromatisch-7-diatonisch-768x1086.jpg 768w"
              sizes="(max-width: 584px) 100vw, 584px"
            />
            <img
              loading="lazy"
              class="alignnone size-large wp-image-2443"
              src="/wp-content/uploads/2016/04/HPMN-2-chromatisch-8-diatonisch-W-L-724x1024.jpg"
              alt="HPMN-2-chromatisch-8-diatonisch-W-L"
              width="584"
              height="826"
              srcset="/wp-content/uploads/2016/04/HPMN-2-chromatisch-8-diatonisch-W-L-724x1024.jpg 724w, /wp-content/uploads/2016/04/HPMN-2-chromatisch-8-diatonisch-W-L-212x300.jpg 212w, /wp-content/uploads/2016/04/HPMN-2-chromatisch-8-diatonisch-W-L-768x1086.jpg 768w"
              sizes="(max-width: 584px) 100vw, 584px"
            />
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
