/* version 20160224 */

/* =Removing standard css styles 
--------------------------------------- */
/* TODO: we shouldn't need !important here. */
.singular #content {
  margin-left: 4% !important;
  margin-right: 4% !important;
}
#branding {
  z-index: 10;
}

/* = global styles 
--------------------------------------- */
.smalltext {
  font-size: 0.85em;
}

#load-message {
  color: #999;
  padding: 10px 0;
  font-weight: normal;
  font-size: 1.3em;
}
#load-content {
  display: none;
}

/* AudiVisualizer */
/*
.audiovisualizer {
	padding: 0em 5% 1em; 
	margin-top: 0em;
	min-width:720px;
}
.audiovisualizer a,
.audiovisualizer a:focus, 
.audiovisualizer a:active, 
.audiovisualizer a:hover {
	text-decoration: none;
}
*/
/* .entry-title {display:none;} */

/* .entry-content {padding-top: 0;}*/

#notes_title {
  font-size: 0.75em;
  padding: 0.5em 0 0 0.5em; /*was 1.4em with small size text */
  margin-top: 0em;
  color: #666;
}

/* Staff and notes */
.notecontainer {
  /* background: #fff url(/audiovisualizer/staff-fiveline.png) repeat-x 0px -63px;  */
  background-repeat: repeat-x;
  width: 100%;
  margin: -5px 0 15px;
  height: 340px; /* 16.5em */
  border: 0px solid green;
}

ul.note_series {
  margin: 0;
  padding: 0 0 0 2.5%;
  width: 97.5%;
  display: block;
  overflow: auto;
  white-space: nowrap;
  text-align: left;
  list-style: none;
}

/* ul#note_series:hover {overflow:auto; } */

ul.note_series li,
ul.note_series li span,
ul.note_series li span span,
ul.note_series li span span span {
  /* notes and ledgers */
  width: 50px; /* was 70px */
  display: inline-block;
  margin: 0 22px 0 0; /*11 and 11,  15px */
  /* where you determine the spacing for 
	the note labels and below, bottom-padding was 30px */
  padding: 290px 0 0px;
  text-align: center;
  color: #aaa;
  border: 0px solid blue;
}

/* notes */
ul.note_series li,
ul.note_series li span span,
ul.note_series li span span span {
  background: url(/audiovisualizer/notes6.png) no-repeat;
  background-position: 0 0;
}

/* ledgers */
ul.note_series li span,
ul.note_series li span span span {
  background: url(/audiovisualizer/ledgers1.png) no-repeat;
  background-position: 0 0;
}

ul.note_series li span {
  font-size: small;
  z-index: 1;
}
ul.note_series li span span span {
  font-size: 0.85em;
  z-index: 2;
  margin: 0;
}

/* UI Controls */
#main_controls_wrapper {
  min-height: 60px; /* 180px; */
}

.controls {
  /* padding-top: 1.5em; */
  z-index: 1;
  text-align: left;
  display: inline-block;
  clear: both;
  font-size: 0.8em;
  line-height: 1.2em;
}
.controls ul {
  margin: 0 1em 0em 0;
  padding: 0;
  display: block;
  clear: both;
  float: left;
}
.controls ul li {
  margin: 0px;
  padding: 0em 0.2em;
  list-style-type: none;
  float: left;
}

.controls a {
  border: 1px solid #bbb;
  background: #f9f9f9;
  padding: 4px 12px 4px;
  border-radius: 4px;
  display: inline-block;
  margin: 4px 0 0;
  text-align: center;
}

.pseudo-a {
  border: 1px solid #fff;
  background: #fff;
}

.controls a:hover {
  background: #dde6ec; /* #ddd; cfdcfe   bbccff*/
  text-decoration: none;
}

.controls a:active {
  background: #d4dff7;
}

.scaleTypeButton {
  min-width: 66px;
}
.scaleRootButton {
  min-width: 40px;
}
#scaleRootButtonsTopRow {
  margin-top: 1.5em;
}
#scaleRootButtonDb {
  margin-left: 35px;
}

.controlbutton {
  min-width: 66px;
}

.intervalScaleButton {
  min-width: 66px;
}
.intbutton2 {
  min-width: 40px;
}
.intbutton1 {
  min-width: 66px;
}
#intervals_controls2 {
  display: none;
}
#intervals_controls0 {
  margin-bottom: 1.5em;
}
#intButtonMaj2nds {
  margin-left: 47px;
}

.melodybutton {
  min-width: 250px;
}

#loadingAudio {
  display: block;
  color: #999 !important;
}
#playButton {
  display: none;
}
#stopButton {
  display: none;
}
#volumeControl {
  display: none;
}

/*
#blackKeyScales1, #blackKeyScales2, #blackKeyScales3, #blackKeyScales4, #blackKeyScales5 {
	display:none;
}
*/

/* #play_controls {display:none;} */
#scalesbuttons {
  display: none;
}
#intervalsbuttons {
  display: none;
}
#melodiesbuttons {
  display: none;
}

/* Controls Spacing */
#notation_controls {
  padding-bottom: 0em;
}
#play_controls,
#intervals_controls1 {
  padding-bottom: 1.5em;
}

#subcontrols {
  margin: 0;
  padding: 0;
}

/* Keyboards */
#keyboard_div {
  margin: 0px 0 10px;
  height: 106px;
  display: none;
}
#keys_piano {
  display: block;
  float: left;
  margin-bottom: 10px;
}
#keys_1row {
  display: none;
  float: left;
  margin-bottom: 57px;
}
#keys_sixsix {
  display: none;
  float: left;
  margin-bottom: 10px;
}

.keyboard_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.keyboard_ul li {
  display: inline-block;
  margin: 1px;
}

.keyboard_li {
  list-style: none;
  margin: 0;
  padding: 2px;
  width: 26px;
  height: 39px;
  border: 1px solid #777;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: xx-small;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

.keyboard_li:hover {
  color: #666;
  text-decoration: none;
}

.whitekey {
  background: #eee;
  color: #666;
}
.whitekey:hover {
  background: #dde6ec;
}
.whitekey:active {
  background: #d4dff7;
}

.blackkey {
  background: #ddd;
  color: #666;
}
.blackkey:hover {
  background: #dde6ec;
}
.blackkey:active {
  background: #d4dff7;
}

.nokey {
  background: none;
  border: 1px solid #fff;
}

/* .row1{} */
.row2 {
  margin-left: 0px;
}

#keyboardSubButtons {
  font-size: 0.65em;
  clear: both;
}

#keyboardSubButtons ul {
  margin: 0;
  padding: 0;
}
#keyboardSubButtons ul li {
  margin: 0px;
  padding: 0em 0.2em; /* 10px */
  list-style-type: none;
  display: inline-block;
  float: left;
}

#keyboardSubButtons a {
  color: rgb(102, 102, 102);
  border: 1px solid #bbb;
  background: none repeat scroll 0% 0% #f9f9f9;
  padding: 3px 12px;
  border-radius: 4px;
  display: inline-block;
  margin: 4px 0px 0px;
  text-align: center;
}

#keyboardSubButtons a:hover,
#keyboardSubButtons a:active {
  /* text-decoration:underline; */
  color: rgb(52, 120, 200);
  background: none repeat scroll 0% 0% #dde6ec;
  text-decoration: none;
}

/*
#keyboardSubButtons a {
	color:#777;
}
#keyboardSubButtons a:hover, 
#keyboardSubButtons a:active {
	text-decoration:underline;
	color:#4455AA;
}
*/
#keyboardSubButtons #pianoLayoutButton {
  display: none;
}

/* Drop-down menus */

.JSmenu {
  z-index: 30;
}

.JSmenu a {
}

.JSmenu div {
  position: absolute;
  visibility: hidden;
  margin: 1px 0 0;
  padding: 0px;
  background: #fff;
  border: 2px solid #bbb;
  border-radius: 4px;
}

.JSmenu div a {
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 10px;
  width: auto;
  white-space: nowrap;
  border: 0px;
  border-radius: 0px;
  text-align: left;
}

#m3 {
  z-index: 100;
}

/* Notation selector DISPLAY BOX */

#displaybox {
  z-index: 1000;
  filter: alpha(opacity=40); /*older IE*/
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE */
  -moz-opacity: 0.4; /*older Mozilla*/
  -khtml-opacity: 0.4; /*older Safari*/
  opacity: 0.4; /*supported by current Mozilla, Safari, and Opera*/
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: center;
  vertical-align: middle;
  /*	position:fixed; top:10%; left:10%; width:80%; height:80%; color:#FFFFFF; text-align:center; vertical-align:middle; border:4px solid #666; */
  display: none;
}

#selector {
  display: none;
  z-index: 1100;
  overflow: auto;
  background-color: #fff;
  padding: 0% 2% 1%;
  position: fixed;
  top: 0.5%;
  left: 5%;
  width: 85%;
  height: 93%;
  text-align: left;
  vertical-align: middle;
  border: 14px solid #444;
  border-radius: 10px;
  max-width: 1100px;
  /* max-height:750px; */
}

.selector-heading {
  font-size: 1.1em;
  font-weight: bold;
  padding: 30px 0px;
  max-width: 1020px;
}

.floatright {
  float: right;
}

.gallery {
  /* for ul */
  float: left;
  display: block;
  /*margin:1.5em 0 2em;*/
  margin: 0;
  padding: 0;
  width: 100%; /* fixes IE bug */
}

.gallery li {
  list-style: none;
  float: left;
  display: inline;
  max-width: 500px;
  /* height:135px; */
  overflow: hidden;
  text-align: center;
  font-size: 0.75em;
  clear: none;
  margin: 0 30px 30px 0px;
  padding: 0;
}

.gallery img {
  display: block;
  border: 0 #999 solid;
  margin: 0 auto;
}

.gallery a {
  display: block;
  background: #fff;
  border: 0 solid #fff;
  clear: both;
  padding: 0 0 5px;
  text-decoration: underline;
  /*color: #333;*/
}

.gallery a:hover {
  /* color:#4455AA ; */
  /* text-decoration: underline; */
}

/* to deal with older browsers */
#no_HTML5_audio {
  font-size: small;
  display: none;
}
/* #ie7 {display:none; font-size:large; padding:0 80px;} */

#system_linkback_text {
  font-size: 0.75em;
  clear: both;
  padding-top: 15px;
}
#system_linkback_text a:hover,
#system_linkback_text a:active {
  text-decoration: underline;
}

#maintext {
  max-width: 80%;
}
