---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Plain Music Notation system by Pashkuli", "Wiki")}
  metaDescription="Documentation of Plain Music Notation system, an alternative music notation system that uses a chromatic staff."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Plain Music Notation system by Pashkuli</h1>
        </header>

        <div class="entry-content">
          <p>
            <span
              data-mce-type="bookmark"
              style="width: 0px;overflow: hidden;line-height: 0"
              class="mce_SELRES_start"
            >
            </span><img
              loading="lazy"
              class="alignnone size-full wp-image-3239"
              src="/wp-content/uploads/2013/03/pashkuli-logo-normal-music-notation.png"
              alt=""
              width="1515"
              height="280"
              srcset="/wp-content/uploads/2013/03/pashkuli-logo-normal-music-notation.png 1515w, https://musicnotation.org/wp-content/uploads/2013/03/pashkuli-logo-normal-music-notation-300x55.png 300w, https://musicnotation.org/wp-content/uploads/2013/03/pashkuli-logo-normal-music-notation-1024x189.png 1024w, https://musicnotation.org/wp-content/uploads/2013/03/pashkuli-logo-normal-music-notation-768x142.png 768w, https://musicnotation.org/wp-content/uploads/2013/03/pashkuli-logo-normal-music-notation-500x92.png 500w"
              sizes="(max-width: 1515px) 100vw, 1515px"
            /><span
              data-mce-type="bookmark"
              style="width: 0px;overflow: hidden;line-height: 0"
              class="mce_SELRES_end"
            >
            </span>
          </p>
          <p>
            The idea is plain and simple. In 12-TET there are 12 tones that have
            their names as follows:
          </p>
          <p>
            <strong>Bo</strong>, <strong>Da</strong>, <strong>Le</strong>, <strong
              >Gu</strong
            >, <strong>Ro</strong>, <strong>Ma</strong>, <strong>Ne</strong>, <strong
              >Pu</strong
            >, <strong>Fo</strong>, <strong>Sa</strong>, <strong>Te</strong>, <strong
              >Vu</strong
            >
          </p>
          <p>
            The tones are designated according to the first consonant letter of
            their corresponding names:
          </p>
          <p>
            <strong>B</strong>, <strong>D</strong>, <strong>L</strong>, <strong
              >G</strong
            >, <strong>R</strong>, <strong>M</strong>, <strong>N</strong>, <strong
              >P</strong
            >, <strong>F</strong>, <strong>S</strong>, <strong>T</strong>, <strong
              >V</strong
            >
          </p>
          <p>
            The vowels: <strong>O</strong>, <strong>A</strong>, <strong
              >E</strong
            >, <strong>U</strong> have been used as they are the most common and
            easy to get sung in vocal exercises.
          </p>
          <p>
            The intervals in the Plain Notation System are also straightforward
            as follows:
          </p>
          <ul>
            <li>zero interval means &#8211; unison</li>
            <li>the smallest interval &#8211; first <i>(prime)</i></li>
            <li>second</li>
            <li>third</li>
            <li>fourth</li>
            <li>fifth</li>
            <li>sixth</li>
            <li>seventh</li>
            <li>octave <i>(eight)</i></li>
            <li>ninth</li>
            <li>tenth</li>
            <li>eleventh</li>
            <li>renova <i>(anew, again)</i></li>
            <li>refirst</li>
            <li>resecond</li>
            <li>rethird</li>
            <li>&#8230; and so on</li>
          </ul>
          <p>
            The inversions of the intervals obey the formula: Ia + a = 12 <i
              >(Ia is the inversion of a)</i
            ><br />
            An interval and its inversion sum up to 12, because 12 is the number
            of the notes we have in 12-TET (so called European and Western music).
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-3241"
              src="https://drive.google.com/uc?export=download&id=1_aoFwloRtLpIWjEZw7fcgIuM9VgL2OsW"
              alt=""
              width="1920"
              height="1080"
            />
          </p>
          <p>
            Mapping of the noteletters and noteheads on a &#8220;standard&#8221;
            layout of a piano keyboard:<br />
            <img
              src="https://drive.google.com/uc?export=download&id=12pbUaPHfRKbVYZUS4u2cau9ImbOG-gdZ"
              alt="PMN Noteheads Map"
            />
          </p>
          <p>
            A small comparison between the conventional notation system and PMN:<br
            />
            *notice the amount of saved space and the improved clarity of PMN in
            contrast to the standard music notation<br />
            <img
              loading="lazy"
              class="alignnone size-full wp-image-3240"
              src="https://drive.google.com/uc?export=download&id=1aMFpskVX0o2MdcPKN3Y-8BfTGtzSaZFc"
              alt=""
              width="827"
              height="1169"
            />
          </p>
          <p>
            <img
              src="https://drive.google.com/uc?export=download&id=17oVlOfxW_PN6el37uZXhEYmPX5P9QZ9X"
              alt="PMN-basic chords"
            />
          </p>
          <p>
            For videos about Pashkuli products, please see also: <a
              href="https://www.youtube.com/channel/UCCpNnEXxYbtU6S5uwaasSUQ"
              rel="nofollow">Pashkuli Keyboard Instruments (YouTube channel)</a
            >
          </p>
          <p>
            If you&#8217;d like to contribute to the software development of
            PMN, please, visit its GitHub page here:
          </p>
          <p>
            <a href="https://github.com/Pashkuli-Design/PMN"
              ><strong>PMN</strong> on GitHub</a
            >
          </p>
          <p>
            <a href="https://gitlab.com/pashkuli-design/PMN"
              ><strong>PMN</strong> on GitLab</a
            >
          </p>
          <p>
            Below is a fancy visual presentations of the <strong
              >Plain Music Notation</strong
            > (PMN) system.
          </p>
          <p>
            <img
              src="https://drive.google.com/uc?export=download&id=19_gMACqc0Z5HRiPexlUlALVuSLVWMwZl"
              alt="PMN page 01"
            />
          </p>
          <p>
            <img
              src="https://drive.google.com/uc?export=download&id=1xVHrC1LtRO3OJLu3NI2x8X9VhRBz2b_2"
              alt="PMN page 02"
            />
          </p>
          <p>
            <img
              src="https://drive.google.com/uc?export=download&id=1sfY4Uu-rZT-WKsgLiJwACIXN-cmX5Uk5"
              alt="PMN page 03"
            />
          </p>
          <p>
            <img
              src="https://drive.google.com/uc?export=download&id=1Gu6o7UWABOJXf3QJTUuRTLYYVJ7JwV9r"
              alt="PMN page 04"
            />
          </p>
          <p>
            source as .pdf: <a
              href="https://drive.google.com/file/d/14GD6sQD7B3WYdM8AYPpu14I7VHvfo_K7/view?usp=sharing"
              rel="noopener"
              target="_blank">PMN &#8211; introduction</a
            >
          </p>
          <p>by <strong>PASHKULI</strong></p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
