---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Whole Step Apart, 6 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Whole Step Apart, 6 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Whole Step Apart, 6 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        If there were six standard lines per octave, it would be very difficult
        to discriminate pitches when reading music on two contiguous staves. So
        some inventors substitute bold or dashed lines in the place of some of
        the normal lines. This permits the use of six lines per octave without
        sacrificing the ability to &#8220;stack&#8221; multiple staves
        contiguously for a greater pitch range.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-bold note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-klaus-lieber/"
        title="Permalink to Untitled by Klaus Lieber"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Klaus Lieber"
          title="Chromatic scale from C to C in Untitled by Klaus Lieber"
          src="/wp-content/uploads/2012/07/untitled-klaus-lieber.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-klaus-lieber/" rel="bookmark"
          >Untitled by Klaus Lieber, 1983</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-bold note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/notation-for-the-system-of-equal-tones-by-gustave-decher/"
        title="Permalink to Notation for the System of Equal Tones by Gustave Decher"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Notation for the System of Equal Tones... by Gustave Decher"
          title="Chromatic scale from C to C in Notation for the System of Equal Tones... by Gustave Decher"
          src="/wp-content/uploads/2012/07/system-of-equal-tones-gustave-decher.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/notation-for-the-system-of-equal-tones-by-gustave-decher/"
          rel="bookmark"
          >Notation for the System of Equal Tones by Gustave Decher, 1877</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-dashed note-fill-7-5 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-franz-grassl/"
        title="Permalink to Untitled by Franz Grassl"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Franz Grassl"
          title="Chromatic scale from C to C in Untitled by Franz Grassl"
          src="/wp-content/uploads/2012/07/untitled-franz-grassl.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-franz-grassl/" rel="bookmark"
          >Untitled by Franz Grassl, 1983</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-dashed note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/ambros-system-by-august-ambros/"
        title="Permalink to Ambros System by August Ambros"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Ambros System by August Ambros"
          title="Chromatic scale from C to C in Ambros System by August Ambros"
          src="/wp-content/uploads/2012/07/ambros-system-august-ambros.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/ambros-system-by-august-ambros/" rel="bookmark"
          >Ambros System by August Ambros, 1883</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-lines-dashed notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-bold lines-dashed note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/douzave-system-by-john-leon-acheson/"
        title="Permalink to Douzave System by John Leon Acheson"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Douzave System by John Leon Acheson"
          title="Chromatic scale from C to C in Douzave System by John Leon Acheson"
          src="/wp-content/uploads/2012/07/douzave-john-acheson.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/douzave-system-by-john-leon-acheson/" rel="bookmark"
          >Douzave System by John Leon Acheson, 1936</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-dashed note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/notagraph-by-constance-virtue/"
        title="Permalink to Notagraph by Constance Virtue"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Notagraph by Constance Virtue"
          title="Chromatic scale from C to C in Notagraph by Constance Virtue"
          src="/wp-content/uploads/2012/07/notagraph-constance-virtue.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/notagraph-by-constance-virtue/" rel="bookmark"
          >Notagraph by Constance Virtue, 1933</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-lines-dashed notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-bold lines-dashed note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/note-for-note-by-walter-h-thelwall/"
        title="Permalink to Note for Note by Walter H. Thelwall"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Note for Note by Walter H. Thelwall"
          title="Chromatic scale from C to C in Note for Note by Walter H. Thelwall"
          src="/wp-content/uploads/2012/07/note-for-note-walter-thelwall.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/note-for-note-by-walter-h-thelwall/" rel="bookmark"
          >Note for Note by Walter H. Thelwall, 1897</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-6-lines whole-step-6-lines lines-dashed note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/proportional-chromatic-musical-notation-by-henri-carcelle/"
        title="Permalink to Proportional Chromatic Musical Notation by Henri Carcelle"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Proportional Chromatic Musical Notation by Henri Carcelle"
          title="Chromatic scale from C to C in Proportional Chromatic Musical Notation by Henri Carcelle"
          src="/wp-content/uploads/2012/07/proportional-chromatic-henri-carcelle.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/proportional-chromatic-musical-notation-by-henri-carcelle/"
          rel="bookmark"
          >Proportional Chromatic Musical Notation by Henri Carcelle, 1977</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
