---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote, and More",
    "Blog"
  )}
  metaDescription="A blog post about several notation systems that have been added to the Music Notation Project's website."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2011/03/lilypond-musescore-and-more-software-news/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2011/09/more-scales-intervals-and-melodies-with-the-audiovisualizer/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote, and
            More
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2011-05-17T12:23:28+00:00"
              >May 17, 2011</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            There are several notation systems that have been documented on our
            website over the past year or so that we have not yet mentioned on
            our blog.  So we would like to bring them to the attention of our
            readers.  (This is the second in a series of posts summarizing some
            of what has been going on in the past year or so, in case you missed
            it over on our <a
              href="https://groups.google.com/forum/#%21forum/musicnotation"
              >Forum</a
            >.)<span id="more-495"></span>
          </p>
          <p>&nbsp;</p>
          <h3>
            <a href="/system/chromatic-lyre-notation-by-jan-braunstein/"
              >Chromatic Lyre Notation by Jan Braunstein
            </a>
          </h3>
          <p>
            Braunstein&#8217;s system has two lines per octave, with lines a
            major third apart, and uses hollow and solid notes to indicate pitch
            in a 6-6 pitch pattern.  He designed it with his <a
              href="http://www.delos.cz/en/Lyre_Strings_Layout_Photos.html"
              >Chromatic Lyre instruments</a
            > in mind, but it could also work as a general purpose notation system. 
            See also the documentation on <a
              href="http://www.delos.cz/en/Chromatic_Notation.html"
              target="_blank"
              rel="noopener">his website</a
            >.
          </p>
          <p>&nbsp;</p>
          <h3>
            <a href="/system/express-stave-by-john-keller/"
              >Reverse-Color Express Stave by John Keller</a
            >
          </h3>
          <p>
            An experimental version from Keller that reverses the solid and
            hollow notehead pattern so that the solid notes are the more
            commonly occurring notes (ABCDEFG). This provides greater continuity
            with traditional notation and other advantages.
          </p>
          <p>&nbsp;</p>
          <h3>
            <a href="/system/twinnote-by-paul-morris/"
              >TwinNote and TwinNote TD by Paul Morris</a
            >
          </h3>
          <p>
            Morris redesigned TwinNote so that it uses only triangle-shaped
            notes, offering more consistency in the appearance of intervals. 
            While the standard version of TwinNote uses hollow and solid notes
            to indicate pitch, another version, TwinNote TD (for
            &#8220;traditional duration&#8221;), uses them to indicate duration,
            as in traditional notation.  Read more about the <a
              href="http://clairnote.org/twinnote/blog/2010/01/twinnote-redesigned/"
              target="_blank"
              rel="noopener">redesign</a
            > on the <a
              href="http://clairnote.org/twinnote/blog/"
              target="_blank"
              rel="noopener">TwinNote Blog</a
            >.  (The original version of TwinNote remains on our site, now
            called &#8220;<a href="/system/black-oval-twinline-by-paul-morris/"
              >Black-Oval Twinline</a
            >.&#8221;)
          </p>
          <p>&nbsp;</p>
          <p>
            <em
              >The following notation systems have been added to our <a
                href="/systems/more-notation-systems/"
                >More Music Notation Systems</a
              > page:</em
            >
          </p>
          <p>&nbsp;</p>
          <h3>
            <a href="/systems/more-notation-systems/#black"
              >Black White Notation by CJ Wang</a
            >
          </h3>
          <p>
            Like <a href="/systems/more-notation-systems/#equiton">Equiton</a>,
            Wang&#8217;s system uses a six-degree staff rather than either a
            pitch-proportional twelve-degree chromatic staff, with hollow and
            solid noteheads to help indicate pitch.  Two lines per octave, a
            major third apart.
          </p>
          <p>&nbsp;</p>
          <h3>
            <a href="/systems/more-notation-systems/#dodeka"
              >Dodeka  by Jacques-Daniel Rochat</a
            >
          </h3>
          <p>
            Dodeka uses a four-line chromatic staff, with lines a major third
            apart. Rather than more traditional noteheads it uses solid bars to
            indicate notes, resembling a piano-roll notation.  There is also a
            Dodeka chromatic keyboard to match.
          </p>
          <p>&nbsp;</p>
          <h3>
            <a href="/systems/more-notation-systems/#hass"
              >Hass Notation by Peter Hass</a
            >
          </h3>
          <p>
            Hass Notation uses a five-line chromatic staff with lines a minor
            third apart. Three noteheads shapes are used: ovals and downward and
            upward triangles. This corresponds to the three rows of a chromatic
            button accordion and its isomorphic layout.
          </p>
          <p>&nbsp;</p>
          <h3>
            <a
              href="/systems/more-notation-systems/#notetrace"
              target="_blank"
              rel="noopener">NoteTrace by Enrique Prieto</a
            >
          </h3>
          <p>
            NoteTrace radically rethinks music notation, doing away with staff
            lines entirely, and representing notes by horizontal line segments
            (called note traces) whose length is proportional to a note&#8217;s
            duration, as in a piano-roll notation.
          </p>
          <p>&nbsp;</p>
          <p>
            <em
              >There are currently a number of notation systems that we have not
              yet documented on our site.  Follow our blog to read about them
              when we do.  You can follow our blog by email, RSS feed, on
              Facebook, and now, on Twitter.  Use the icons at the bottom of the
              column on the left hand side of any of our web pages to follow our
              blog posts.</em
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
