---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Color Coded Music", "Wiki")}
  metaDescription="A wiki page about the Color Coded Music notation system."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Color Coded Music</h1>
        </header>

        <div class="entry-content">
          <p>
            Color Coded Music (CCM) uses a four line three space staff to
            represent the seven white keys, A, B, C, D, E, F and G.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone wp-image-2204 size-large"
              src="/wp-content/uploads/2015/06/color-coded-music-ABCDEFG-1024x199.png"
              alt="color-coded-music-ABCDEFG"
              width="584"
              height="113"
              srcset="/wp-content/uploads/2015/06/color-coded-music-ABCDEFG-1024x199.png 1024w, /wp-content/uploads/2015/06/color-coded-music-ABCDEFG-300x58.png 300w, /wp-content/uploads/2015/06/color-coded-music-ABCDEFG-500x97.png 500w, /wp-content/uploads/2015/06/color-coded-music-ABCDEFG.png 1158w"
              sizes="(max-width: 584px) 100vw, 584px"
            />
          </p>
          <p>
            There are 8 groups of keys on the piano and these are represented by
            coloring each group in the order of the colors of the rainbow. 
            Starting with red on the left, and moving across the piano to the
            right, orange, yellow, green, blue, purple pink, and then ending
            with white in the smallest group of keys on the far right.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone wp-image-2207 size-large"
              src="/wp-content/uploads/2015/06/color-coded-music-keyboard-1024x130.png"
              alt="color-coded-music-keyboard"
              width="584"
              height="74"
              srcset="/wp-content/uploads/2015/06/color-coded-music-keyboard-1024x130.png 1024w, /wp-content/uploads/2015/06/color-coded-music-keyboard-300x38.png 300w, /wp-content/uploads/2015/06/color-coded-music-keyboard-500x64.png 500w, /wp-content/uploads/2015/06/color-coded-music-keyboard.png 1227w"
              sizes="(max-width: 584px) 100vw, 584px"
            />
          </p>
          <p>Each group of keys has its own staff.</p>
          <p>
            The staffs for the whole piano are below. Each staff is lettered the
            same for the whole piano.  They will not all be displayed in a piece
            of music.  Only the staffs used in a piece will be present.
            Sometimes partial staffs will be used to conserve space.  See
            example below.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-2208"
              src="/wp-content/uploads/2015/06/color-coded-music-whole-piano-staff.png"
              alt="color-coded-music-whole-piano-staff"
              width="936"
              height="554"
              srcset="/wp-content/uploads/2015/06/color-coded-music-whole-piano-staff.png 936w, /wp-content/uploads/2015/06/color-coded-music-whole-piano-staff-300x178.png 300w, /wp-content/uploads/2015/06/color-coded-music-whole-piano-staff-500x296.png 500w"
              sizes="(max-width: 936px) 100vw, 936px"
            />
          </p>
          <p>
            The black key notes are diamond shaped and renamed, H, I, J, K, and
            L. They are located on the space and over the line of the white keys
            they come between.  The H is located between the A and B keys,
            therefore the H note is on the B space and over the A line.  All
            other music terminology will remain the same for eighth notes,
            quarter notes, half notes, etc.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone wp-image-2206"
              src="/wp-content/uploads/2015/06/color-coded-music-diamond-notes.png"
              alt="color-coded-music-diamond-notes"
              width="502"
              height="174"
              srcset="/wp-content/uploads/2015/06/color-coded-music-diamond-notes.png 1004w, /wp-content/uploads/2015/06/color-coded-music-diamond-notes-300x104.png 300w, /wp-content/uploads/2015/06/color-coded-music-diamond-notes-500x173.png 500w"
              sizes="(max-width: 502px) 100vw, 502px"
            />
          </p>
          <p>
            Colored lettered stickers are available to label the piano, much
            like our computer keyboards and phones are labeled.
          </p>
          <p>Example of &#8220;Be Thou My Vision&#8221; in CCM.</p>
          <p>
            <img
              loading="lazy"
              class="alignnone wp-image-2205 size-full"
              src="/wp-content/uploads/2015/06/color-coded-music-be-thou-my-vision.png"
              alt="color-coded-music-be-thou-my-vision"
              width="531"
              height="233"
              srcset="/wp-content/uploads/2015/06/color-coded-music-be-thou-my-vision.png 531w, /wp-content/uploads/2015/06/color-coded-music-be-thou-my-vision-300x132.png 300w, /wp-content/uploads/2015/06/color-coded-music-be-thou-my-vision-500x219.png 500w"
              sizes="(max-width: 531px) 100vw, 531px"
            />
          </p>
          <p>
            Color Coded Music website:<br />
            <a href="http://www.himnotes.com/" target="_blank"
              >http://www.himnotes.com/</a
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
