---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("6-6 Colored Traditional (7-5) Keyboard", "Wiki")}
  metaDescription="Discussion of coloring a traditional (7-5) keyboard with an isomorphic 6-6 pitch pattern for better interval pattern recognition and more intuitive playing."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">6-6 Colored Traditional (7-5) Keyboard</h1>
        </header>

        <div class="entry-content">
          <p>
            It can be useful to re-color the keys on a traditional keyboard
            according to a <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/"
              rel="nofollow">6-6 pitch pattern</a
            >, coloring one wholetone scale black (C D E F# G# A#) and the other
            white (F G A B C# D#). This helps clarify the interval relationships
            between the keys.
          </p>
          <p>
            <img
              loading="lazy"
              alt="Illustration of a 6-6 colored traditional (7-5) keyboard"
              src="/wp-content/uploads/2013/03/600px-66colored75keyboard.png"
              width="600"
              height="163"
            />
          </p>
          <p>
            Playing on a keyboard with this 6-6 color scheme helps the musician
            to see the interval patterns between the keys as she plays. The
            consistent interval patterns of scales and chords are made readily
            apparent by the regularity of the 6-6 color pattern. For example:
          </p>
          <ul>
            <li>
              Adjacent keys that are different colors are always half-steps.
            </li>
            <li>Adjacent keys of the same color are always whole-steps.</li>
            <li>
              Any major scale can be played as three notes of one color followed
              by four notes of the other color.
            </li>
            <li>
              Any minor scale can be played as two notes of one color, followed
              by three of the other color, and then two of the first color.
            </li>
            <li>
              Major thirds are always two notes of the same color with one note
              of that color between them.
            </li>
            <li>
              Minor thirds are always two notes of a different color with one
              note of each color between them.
            </li>
            <li>
              Of course, major and minor triads are combinations of major and
              minor thirds.
            </li>
          </ul>
          <p>
            (These patterns are easier to see and hear than to describe with
            words&#8230;)
          </p>
          <p>
            The image below shows a MIDI keyboard that has been re-colored using
            black and white electric tape.
          </p>
          <p>
            <img
              loading="lazy"
              alt="6-6 colored traditional (7-5) electronic keyboard"
              src="/wp-content/uploads/2013/03/600px-6-6_colored_keyboard.jpg"
              width="600"
              height="215"
            />
          </p>
          <p>
            The regularly alternating 6-6 pattern is analogous to the
            distinction between odd and even numbers, and how they help reveal
            patterns in mathematics. It also correlates very well with chromatic
            notation systems that exhibit this alternating pattern in their
            staff line pattern or in the shapes or colors of their noteheads.
            For example, see the 6-6 notation systems in <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/">this tutorial</a
            >. The 6-6 pattern and its usefulness are mutually reinforced by
            having it present in both one&#8217;s notation system and
            instrument.
          </p>
          <p>
            Given that the color scheme has changed, it may be useful to refer
            to the traditional sets of black and white keys as &#8220;back
            keys&#8221; and &#8220;wide keys&#8221;. This is nice because, as
            well as being an accurate description, the words are close to the
            original &#8220;black keys&#8221; and &#8220;white keys&#8221;.
            (This was Doug Keislar&#8217;s proposal for a new way to refer to
            these groups of notes.)
          </p>
          <p>
            This color scheme provides a great improvement over the traditional
            keyboard, which (like traditional notation) obscures the interval
            relationships between notes, and the consistent interval patterns of
            scales and chords.
          </p>
          <p>
            Of course, taking this principle a step further, one could change
            the physical arrangement of the keys so that they are isomorphic in
            their physical layout, rather than in their color scheme, as on a <a
              href="/wiki/instruments/janko-keyboar/">Janko keyboard</a
            >.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
