---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Major 3rd Apart, 2 per Octave, Compact Staff",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Major 3rd Apart, 2 per Octave, Compact Staff"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Major 3rd Apart, 2 per Octave, Compact Staff</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        These systems are like vertically compressed versions of those that have
        two lines, a major third apart (above). They require less vertical space
        by introducing a second notehead shape that fits more compactly between
        adjacent lines, while still keeping the centers of the noteheads evenly
        spaced on the vertical axis. These shapes (and in most cases hollow and
        solid noteheads) help to discriminate between adjacent pitches.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-6-6 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/chromatic-twinline-by-leo-de-vries/"
        title="Permalink to Chromatic Twinline by Leo de Vries"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Chromatic Twinline by Leo de Vries"
          title="Chromatic scale from C to C in Chromatic Twinline by Leo de Vries"
          src="/wp-content/uploads/2012/07/twinline-chromatic-leo-de-vries.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/chromatic-twinline-by-leo-de-vries/" rel="bookmark"
          >Chromatic Twinline by Leo de Vries, 1986</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-7-5 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/diatonic-twinline-by-leo-de-vries/"
        title="Permalink to Diatonic Twinline by Leo de Vries"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Diatonic Twinline by Leo de Vries"
          title="Chromatic scale from C to C in Diatonic Twinline by Leo de Vries"
          src="/wp-content/uploads/2012/07/twinline-diatonic-leo-de-vries.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/diatonic-twinline-by-leo-de-vries/" rel="bookmark"
          >Diatonic Twinline by Leo de Vries, 1986</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-other notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-other note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/twinline-notation-by-thomas-reed/"
        title="Permalink to Twinline Notation by Thomas Reed"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Twinline Notation by Thomas Reed"
          title="Chromatic scale from C to C in Twinline Notation by Thomas Reed"
          src="/wp-content/uploads/2012/07/twinline-tom-reed.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/twinline-notation-by-thomas-reed/" rel="bookmark"
          >Twinline Notation by Thomas Reed, 1986</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-6-6 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/black-triangle-twinline-by-doug-keislar/"
        title="Permalink to Black Triangle Twinline by Doug Keislar"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Black Triangle Twinline by Doug Keislar"
          title="Chromatic scale from C to C in Black Triangle Twinline by Doug Keislar"
          src="/wp-content/uploads/2012/07/twinline-black-triangle-doug-keislar.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/black-triangle-twinline-by-doug-keislar/"
          rel="bookmark">Black Triangle Twinline by Doug Keislar, 2006</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-6-6 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/black-oval-twinline-by-paul-morris/"
        title="Permalink to Black-Oval Twinline by Paul Morris"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Black-Oval Twinline by Paul Morris"
          title="Chromatic scale from C to C in Black-Oval Twinline by Paul Morris"
          src="/wp-content/uploads/2012/07/twinline-black-oval-paul-morris.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/black-oval-twinline-by-paul-morris/" rel="bookmark"
          >Black-Oval Twinline by Paul Morris, 2006</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-6-6 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/bilinear-notation-by-jose-a-sotorrio/"
        title="Permalink to Bilinear Notation by José A. Sotorrío"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Bilinear Notation by José A. Sotorrío"
          title="Chromatic scale from C to C in Bilinear Notation by José A. Sotorrío"
          src="/wp-content/uploads/2012/07/bilinear-jose-sotorrio.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/bilinear-notation-by-jose-a-sotorrio/" rel="bookmark"
          >Bilinear Notation by José A. Sotorrío, 1997</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-6-6 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/twinnote-by-paul-morris/"
        title="Permalink to TwinNote by Paul Morris"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in TwinNote by Paul Morris"
          title="Chromatic scale from C to C in TwinNote by Paul Morris"
          src="/wp-content/uploads/2012/07/twinnote-paul-morris.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/twinnote-by-paul-morris/" rel="bookmark"
          >TwinNote by Paul Morris, 2009</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-trad note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/twinnote-td-by-paul-morris/"
        title="Permalink to TwinNote TD by Paul Morris"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in TwinNote TD by Paul Morris"
          title="Chromatic scale from C to C in TwinNote TD by Paul Morris"
          src="/wp-content/uploads/2012/07/twinnote-td-paul-morris.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/twinnote-td-by-paul-morris/" rel="bookmark"
          >TwinNote TD by Paul Morris, 2009</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-major-3rd-2-lines-compact major-3rd-2-lines-compact lines-all-regular note-fill-7-5 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/chromatic-nydana-by-dan-lindgren/"
        title="Permalink to Chromatic Nydana by Dan Lindgren"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Chromatic Nydana by Dan Lindgren"
          title="Chromatic scale from C to C in Chromatic Nydana by Dan Lindgren"
          src="/wp-content/uploads/2012/07/nydana-chromatic-dan-lindren.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/chromatic-nydana-by-dan-lindgren/" rel="bookmark"
          >Chromatic Nydana by Dan Lindgren, 2011</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
