---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle(
    "Modified Schoenberg notation for Guitar (MSG) by Ole Kirkeby",
    "Wiki"
  )}
  metaDescription="A wiki page about Modified Schoenberg notation for Guitar (MSG) by Ole Kirkeby."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Modified Schoenberg notation for Guitar (MSG) by Ole Kirkeby
          </h1>
        </header>

        <div class="entry-content">
          <p>
            MSG is the acronym for &#8220;Modified Schoenberg notation for
            Guitar,&#8221; by Ole Kirkeby. It is closely related to <a
              href="/system/chromatic-lyre-notation-by-jan-braunstein/"
              >Chromatic Lyre Notation</a
            > by Jan Braunstein and <a
              href="/system/clairnote-dn-by-paul-morris/">Clairnote DN</a
            > by Paul Morris, as well as to Kirkeby&#8217;s newer <a
              href="/wiki/notation-systems/sling-guitar-notation-by-ole-kirkeby/"
              >SLING notation</a
            >. The system spans 3 octaves, and staff lines are 4 semitones
            apart, so from bottom to top the lines are at E2 &#8211; Ab2 &#8211;
            C3 &#8211; E3 &#8211; Ab3 &#8211; C4 &#8211; E4 &#8211; Ab4 &#8211;
            C5 &#8211; E5. The E lines are full, whereas the Ab and C lines are
            dashed. (In an earlier version, the top three lines were dashed, all
            other lines were full, and the E2, E3, and E4 lines were bold.) The
            notation is designed for a 7-string guitar with strings all tuned 4
            semitones (a major third) apart, so that each open string
            corresponds to a staff line. However, it might also appeal to
            guitarists who play in conventional tuning, since the full staff
            lines E2 (open 6th string), E4 (open 1st string), and E5 (1st string
            12th fret) are strong visual anchors on the instrument. Kirkeby
            maintains <a href="http://m3guitar.com"
              >a web site with information about how to play a guitar tuned in
              major thirds</a
            >.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-2496"
              src="/wp-content/uploads/2013/03/MSG-2016-3octaves-1.png"
              alt="MSG-2016-3octaves"
              width="1714"
              height="548"
              srcset="/wp-content/uploads/2013/03/MSG-2016-3octaves-1.png 1714w, /wp-content/uploads/2013/03/MSG-2016-3octaves-1-300x96.png 300w, /wp-content/uploads/2013/03/MSG-2016-3octaves-1-768x246.png 768w, /wp-content/uploads/2013/03/MSG-2016-3octaves-1-1024x327.png 1024w, /wp-content/uploads/2013/03/MSG-2016-3octaves-1-500x160.png 500w"
              sizes="(max-width: 1714px) 100vw, 1714px"
            />
          </p>
          <p>
            A <a href="/wp-content/uploads/2013/03/msg.ly" rel="nofollow"
              >Lilypond template for MSG</a
            > is provided. (See <a href="/wiki/software/lilypond/">LilyPond</a
            >.) The template requires a <a
              href="/wp-content/uploads/2013/03/lyrebird.ly"
              >Lilypond template for Chromatic Lyre Notation</a
            > to be present as well.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
