/* gallery and notation group pages */
#content,
.singular #content {
  /* TODO: we shouldn't need !important here. */
  width: 100% !important;
  margin: 0px 0% !important;
}
.page-title {
  /* TODO: we shouldn't need !important here. */
  margin-left: 4% !important;
  margin-right: 4% !important;
}
.page-header {
  /* TODO: we shouldn't need !important here. */
  margin-left: 4% !important;
  margin-right: 4% !important;
}
article.hentry {
  /* TODO: we shouldn't need !important here. */
  display: inline-block !important;
  max-width: 500px !important;
  width: 100% !important;
  margin: 0px 0px 0px 4% !important;
  vertical-align: top !important;
}
h3.entry-title {
  /* TODO: we shouldn't need !important here. */
  font-size: 80% !important;
  font-weight: normal !important;
  text-transform: none !important;
  line-height: 1.5em !important;
  padding: 10px 0px 0px 25px !important;
  margin-bottom: 20px !important;
  letter-spacing: 0px !important;
  /* text-align:center; */
}
.entry-title a {
  /* TODO: we shouldn't need !important here. */
  color: rgb(52, 120, 200) !important;
}
.entry-title a:hover,
.entry-title a:active,
.entry-title a:focus {
  /* TODO: we shouldn't need !important here. */
  text-decoration: underline !important;
}
.page-template-page-gallery-php .entry-content {
  /* TODO: we shouldn't need !important here. */
  padding-top: 0.5em !important;
}
.category-archive-meta {
  /* category descriptions, top of page */
  margin-left: 4%;
  margin-right: 4%;
}
.page-template-page-gallery-php p {
  /* TODO: we shouldn't need !important here. */
  margin-left: 4% !important;
  margin-right: 4% !important;
}
.notation-system-image {
  padding-bottom: 2em;
}

/***********************
gallery controls  
*************************/

#galleryform {
  margin: 0px 4%;
  font-size: 90%;
  padding-top: 20px;
}

.gallery-control-column {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-right: 20px;
}

.gallery-control-panel {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: 0;
}

.gallery-control-panel li {
  padding: 4px 2px 4px 30px;
  background: #cbd3e2; /*667299  5f6b91*/
  margin: 0;
  color: #3c445c;
  text-indent: -25px;
}

.gallery-control-panel li.header {
  background: rgb(84, 119, 179);
  padding: 10px 4px 10px 40px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.gallery-control-panel li a {
  color: #3c445c;
  text-decoration: underline;
}

.gallery-control-panel li.gallery-control-footer {
  text-align: left;
  font-size: smaller;
  padding: 8px 4px 8px 50px;
  border-bottom: 0px;
  border-top: 1px solid #9fa6b3;
  margin-bottom: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gallery-control-panel li.headertop {
  background: rgb(84, 119, 179);
  padding: 10px 4px 10px 30px;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}
.gallery-control-panel li.headermiddle {
  background: rgb(84, 119, 179);
  padding: 10px 4px 10px 30px;
  color: #fff;
}
.gallery-control-panel .headermiddle a {
  color: #fff;
}

.gallery-control-panel .headerbottom {
  background: rgb(84, 119, 179);
  padding: 10px 4px 10px 30px;
  border-bottom: 0px;
  margin-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}

.gallery-control-table {
  padding: 0;
  margin: 0 0 12px;
  border-collapse: separate;
  border-spacing: 0px;
  width: 230px;
  display: inline-block;
}

.gallery-control-table a {
  color: #3c445c;
  text-decoration: underline;
}

.gallery-control-table tr {
  padding: 0;
  margin: 0;
}
.gallery-control-table td,
.gallery-control-table th {
  border: 0px;
  border-bottom: 1px solid #9fa6b3;
  padding: 4px 2px 4px 4px;
  background: #cbd3e2;
  margin: 0;
  text-align: left;
  color: #3c445c;
}

.gallery-control-table th {
  background: rgb(84, 119, 179); 
  text-align: left;
  padding: 10px 20px 10px 4px;
  font-weight: normal;
  color: #fff;
}

.roundtopright {
  border-top-right-radius: 5px;
}

.roundtopleft {
  border-top-left-radius: 5px;
}

.roundbottomright {
  border-bottom-right-radius: 5px;
  border-bottom: 0px;
}

.roundbottomleft {
  border-bottom-left-radius: 5px;
  border-bottom: 0px;
}

td.gallery-control-footer {
  text-align: left;
  font-size: smaller;
  border-bottom: 0px;
  padding: 8px 4px 8px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
