---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("DS66 Music Notation", "Wiki")}
  metaDescription="A wiki page about the DS66 music notation system (DS66: Diatonic Staff, 6-6 pitch pattern)"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">DS66 Music Notation</h1>
        </header>

        <div class="entry-content">
          <p>
            This experimental system combines a diatonic staff with a 6-6
            solid/hollow note head pattern. (&#8220;DS&#8221; for Diatonic
            Staff, &#8220;66&#8221; for 6-6 note head pattern.)
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-2794"
              src="/wp-content/uploads/2019/02/DS66-c-major-scale.png"
              alt=""
              width="1248"
              height="142"
              srcset="/wp-content/uploads/2019/02/DS66-c-major-scale.png 1248w, /wp-content/uploads/2019/02/DS66-c-major-scale-300x34.png 300w, /wp-content/uploads/2019/02/DS66-c-major-scale-768x87.png 768w, /wp-content/uploads/2019/02/DS66-c-major-scale-1024x117.png 1024w, /wp-content/uploads/2019/02/DS66-c-major-scale-500x57.png 500w"
              sizes="(max-width: 1248px) 100vw, 1248px"
            />
          </p>
          <ul>
            <li>
              <a href="/wp-content/uploads/2019/02/ds66-demo.pdf"
                >Demo PDF with various illustrations</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2019/02/The-Blue-Danube-Waltz-ds66.pdf"
                >The Blue Danube Waltz in DS66 (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2019/02/maple-leaf-rag-ds66.pdf"
                >Maple Leaf Rag in DS66 (PDF)</a
              >
            </li>
          </ul>
          <p>
            The 6-6 solid/hollow note head pattern helps musicians identify
            intervals and read music relatively (by interval). It also reminds
            them when notes are sharp or flat due to the key signature (or
            accidental signs).
          </p>
          <p>
            The staff&#8217;s line pattern &#8216;cycles&#8217; every two
            octaves. You can think of it as a 6-line staff except the third line
            from the top is a ledger line. Two separate groups of two and three
            lines are arguably easier to learn and to read than a staff of six.
            Also, the groups of lines are inversions of each other since both
            are centered on the note G.  (The middle line of the three line
            group is G, and the space between the two lines of the two line
            group is G.) This inverse relation helps with learning and
            remembering the lines and spaces of the staff.
          </p>
          <p>
            The line pattern also follows the traditional treble and bass clefs.
            The lower part of the staff (the three line group) is the same as
            the bottom of the treble clef staff and the upper part (the two line
            group) is the same as the top of the bass clef staff.  This means
            the notes of the DS66 staff covers the notes of the bass and treble
            clefs, and thus can be used as a direct replacement with music
            written on those traditional clefs.  The similarity with the
            traditional staff and clefs also makes it easier to learn DS66 along
            with the traditional system.
          </p>
          <p>
            DS66 offers a lot of continuity with the traditional system, while
            addressing some of its shortcomings.  Traditional key signatures and
            accidentals are used. Traditional rhythm symbols are used except
            half notes are indicated by double stems.
          </p>
          <p>
            This system is similar to Classic Nydana (<a
              class="moz-txt-link-freetext"
              href="http://nydana.se/classic.html"
              >http://nydana.se/classic.html</a
            >) except it prioritizes consistency of interval appearance over
            consistency in the appearance of individual notes.  Thus it
            maintains a consistent line-space alternation and cycles every two
            octaves rather than every octave.  (Classic Nydana has two adjacent
            space notes, A and B, to achieve a diatonic staff that cycles every
            octave.)
          </p>
          <p>
            Originally introduced by Paul Morris in <a
              href="https://groups.google.com/d/msg/musicnotation/8JUZ3zEtiaE/TOv7D1XqAwAJ"
              >this post</a
            > on the MNP forum (google group) in March 2017.
          </p>
          <p>&nbsp;</p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
