---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Community")}
  metaDescription="Channels and resources to foster communication, collaboration, and community among those interested in alternative music notations and related topics."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Community</h1>
        </header>

        <div class="entry-content">
          <p>
            We are committed to fostering communication, cooperation, and the
            exchange of ideas and resources among those interested in
            alternative music notation systems and similar subjects. Use the
            following channels to connect with us and our community of
            alternative music notation enthusiasts!
          </p>
          <p>
            <strong
              ><a
                href="https://groups.google.com/forum/#!forum/musicnotation"
                target="_blank">Forum (Google Group)</a
              >
            </strong><br />
            Our discussion group is for anyone interested in discussing music notation
            improvement, alternative music notations, or other related topics. It
            is hosted by <a href="https://groups.google.com/" target="_blank"
              >Google Groups</a
            >.
          </p>
          <p>
            <strong><a href="/wiki/" target="_blank">Wiki</a></strong><br />
            Our wiki provides a collaborative space for collecting and organizing
            our community&#8217;s knowledge, ideas, proposals, examples, experiments,
            images, and sheet music for alternative notation systems. It complements
            and supplements our forum (Google group) and main website.
          </p>
          <p>
            <strong><a href="/blog/">Blog</a></strong><br />
            Stay informed of news and ongoing developments by subscribing to our
            blog through email or an RSS/Atom feed for your feed reader.
          </p>
          <p>
            <strong
              ><a
                href="http://www.facebook.com/TheMusicNotationProject"
                target="_blank">On Facebook</a
              >
            </strong><br />
            If you are on Facebook, help us out by &#8220;liking&#8221; us. Suggest
            us to your friends if you think they would be interested, or post a message
            on our wall to show your support.
          </p>
          <p>
            <strong><a href="/home/contribute/">Contribute</a></strong><br />
            Find out how you can contribute to our efforts. As a not-for-profit organization
            we welcome assistance in any form, whether it be monetary donations,
            volunteered time and expertise, or simply telling others about us.
          </p>
          <p>
            <strong
              ><a href="/home/about-faq-contact-info/#contact">Contact Us</a>
            </strong><br />
            Drop us a line and let us know what you think!
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
