---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Contribute")}
  metaDescription="Ways to contribute to the work of the Music Notation Project: financial donations, volunteering time and expertise, helping promote awareness, etc."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Contribute</h1>
        </header>

        <div class="entry-content">
          <p>
            We are a not-for-profit organization that is sustained solely by the
            generous contributions of supporters and volunteers. We welcome
            assistance in any form, whether it be monetary donations,
            volunteered time and expertise, or simply spreading the word about
            us.
          </p>
          <h2 class="divider-heading">Financial Contributions</h2>
          <p>
            We welcome donations of any amount. This income pays our bills for
            website hosting and domain registration, and covers other
            operational expenses. To make a monetary donation to our Paypal
            account just click the <em>donate</em> button and follow the steps to
            make a secure transaction. Through Paypal we are able to accept various
            forms of payment, including all major credit cards. Unfortunately donations
            are not currently tax deductible (as defined by the United States Internal
            Revenue Service).
          </p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input name="cmd" type="hidden" value="_s-xclick" /><br />
            <input name="hosted_button_id" type="hidden" value="2510651" /><br
            />
            <input
              alt=""
              name="submit"
              src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"
              type="image"
            /><br />
            <img
              loading="lazy"
              src="https://www.paypal.com/en_US/i/scr/pixel.gif"
              alt=""
              width="1"
              height="1"
            />
          </form>
          <h2 class="divider-heading">Other Ways to Contribute</h2>
          <ul>
            <li>Tell others about us and show them our website.</li>
            <li>Link to our site from your website or blog.</li>
            <li>
              Like us on <a
                href="http://www.facebook.com/TheMusicNotationProject"
                target="_blank">Facebook</a
              >.
            </li>
            <li>
              Join our <a
                href="https://groups.google.com/forum/#!forum/musicnotation"
                >Forum</a
              >.
            </li>
            <li>
              Contribute to our <a href="/wiki/">Wiki</a>.
            </li>
            <li>
              Help out with our <a href="/software/">software development</a>,
              if you are a programmer.
            </li>
            <li>
              Help us generate musical works and examples in various notations
              using <a href="/software/">Finale or LilyPond software</a>.
            </li>
          </ul>
          <p>
            Please <a href="/home/about-faq-contact-info/#contact">contact us</a
            > if you are interested in contributing in any of these ways.
          </p>
          <p>&nbsp;</p>
          <h2 class="divider-heading">Thank You to Our Donors!</h2>
          <p>
            The following people have made financial donations to our efforts,
            and we would like to thank them for their generosity.
          </p>
          <p>
            <strong>Benefactors ($250 or more)</strong><br />
            Dominique Waller
          </p>
          <p>
            <strong>Patrons ($50 &#8211; $249)</strong><br />
            Joseph Austin, Robert Stuckey
          </p>
          <p>
            <strong>Donors (up to $49)</strong><br />
            Michael Johnston, Doug Keislar, John Keller, Paul Morris, Enrique Prieto
          </p>
          <p>&nbsp;</p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
