---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Minor 3rd Apart, 3 or 4 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Minor 3rd Apart, 3 or 4 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Minor 3rd Apart, 3 or 4 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        Lines spaced a minor third apart provide a slightly less dense
        appearance than lines spaced a whole step apart. Between the lines are
        two space-notes at different elevations. There is a repeated
        line-space-space pattern, three basic note positions that occur four
        times per octave. (Rather than a 6-6 or 7-5 pitch pattern, this could be
        called a 4-4-4 pitch pattern.) Three standard lines alternate with a
        ledger or bold line which allows for identification of the lines when
        stacking staves contiguously for greater pitch range.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-minor-3rd-3-4-lines minor-3rd-3-4-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/numbered-notes-notes-only-by-jason-maccoy/"
        title="Permalink to Numbered Notes, Notes-Only by Jason MacCoy"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Numbered Notes, Notes-Only Version by Jason MacCoy"
          title="Chromatic scale from C to C in Numbered Notes, Notes-Only Version by Jason MacCoy"
          src="/wp-content/uploads/2012/07/numbered-notes-notes-jason-maccoy.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/numbered-notes-notes-only-by-jason-maccoy/"
          rel="bookmark">Numbered Notes, Notes-Only by Jason MacCoy, 2009</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-other notation-meta-data-note-shapes-4-or-more notation-meta-data-extent-larger notation-group-minor-3rd-3-4-lines minor-3rd-3-4-lines lines-all-regular note-fill-other note-shapes-4-or-more extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
        title="Permalink to Numbered Notes, Numbers-Only by Jason MacCoy"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Numbered Notes, Numbers-Only Version by Jason MacCoy"
          title="Chromatic scale from C to C in Numbered Notes, Numbers-Only Version by Jason MacCoy"
          src="/wp-content/uploads/2012/07/numbered-notes-numbers-jason-maccoy.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
          rel="bookmark">Numbered Notes, Numbers-Only by Jason MacCoy, 2009</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-other notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-minor-3rd-3-4-lines minor-3rd-3-4-lines lines-bold note-fill-other note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/lautus-notation-by-bruce-allen-dickey/"
        title="Permalink to Lautus Notation by Bruce Allen Dickey"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Lautus Notation by Bruce Allen Dickey"
          title="Chromatic scale from C to C in Lautus Notation by Bruce Allen Dickey"
          src="/wp-content/uploads/2012/07/lautus-bruce-dickey.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/lautus-notation-by-bruce-allen-dickey/" rel="bookmark"
          >Lautus Notation by Bruce Allen Dickey, 2011</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-larger notation-group-minor-3rd-3-4-lines minor-3rd-3-4-lines lines-all-regular note-fill-trad note-shapes-2-or-3 extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/hass-notation-3-line-version/"
        title="Permalink to Hass Notation, 3-Line Version by Peter Hass"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Chromatic scale from C to C in Hass Notation by Peter Hass"
          title="Chromatic scale from C to C in Chromatic scale from C to C in Hass Notation by Peter Hass"
          src="/wp-content/uploads/2015/02/hass-notation-3-line-version-peter-hass.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/hass-notation-3-line-version/" rel="bookmark"
          >Hass Notation, 3-Line Version by Peter Hass, 2014</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-other notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-larger notation-group-minor-3rd-3-4-lines minor-3rd-3-4-lines lines-all-regular note-fill-other note-shapes-2-or-3 extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/trilinear-notation-jose-sotorrio/"
        title="Permalink to Trilinear Notation by José A. Sotorrio"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Trilinear Music Notation by José A. Sotorrio"
          title="Chromatic scale from C to C in Trilinear Music Notation by José A. Sotorrio"
          src="/wp-content/uploads/2017/02/trilinear-jose-a-sotorrio-wpcf_500x110.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/trilinear-notation-jose-sotorrio/" rel="bookmark"
          >Trilinear Notation by José A. Sotorrio, 2017</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
