---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Git Repository for Lilypond Work, KLAVAR! software, and Website Improvements",
    "Blog"
  )}
  metaDescription="A blog post about a new git repository for LilyPond work, KLAVAR! software, and some recent website improvements."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2009/11/announcing-the-music-notation-project-wiki/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2011/03/lilypond-musescore-and-more-software-news/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Git Repository for Lilypond Work, KLAVAR! software, and Website
            Improvements
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2010-03-17T15:46:05+00:00"
              >March 17, 2010</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            In January Andrew Wagner  set up a <a
              href="http://wiki.github.com/drewm1980/lilypond-an/"
              target="_blank"
              rel="noopener">Git repository</a
            > to help organize and facilitate future work on adding support for chromatic
            staves to <a
              href="http://www.lilypond.org/"
              target="_blank"
              rel="noopener">Lilypond</a
            >.  The most recent version of Kevin Dalley&#8217;s code is now
            hosted there, including the Mark Hanlon&#8217;s updates to it. This
            will make it easier for developers to work with the code, keep it
            compatible with newer versions of Lilypond, and eventually
            contribute our code back to the official Lilypond application.  Read
            more about it on the <a
              href="http://wiki.github.com/drewm1980/lilypond-an/"
              target="_blank"
              rel="noopener">repository&#8217;s wiki</a
            > and our <a href="/software/lilypond/"
              >Lilypond and Alternative Notation Systems</a
            > page.  A big thank you to Andrew for his work on this!<span
              id="more-494"></span>
          </p>
          <p>
            In other software news, a third application for Klavar notation has
            been brought to our attention.  It is called  <a
              href="http://sourceforge.net/projects/klavar/"
              target="_blank"
              rel="noopener">KLAVAR!</a
            >, and has been added to our <a href="/software/">Software</a> page where
            it joins  <a
              href="http://klavar.com/en/downloads-en"
              target="_blank"
              rel="noopener">KlavarScript</a
            > and <a
              href="http://www.klavarmusic.org/"
              target="_blank"
              rel="noopener">Klavar Music Writer</a
            >.  KLAVAR! was originally written in GFA Basic for the Atari ST. 
            Marco Mascioli has started work towards porting it to MS Windows,
            Apple Mac OS X, and Linux.  He is affiliated with the <a
              href="http://www.klavarscore.co.uk/"
              target="_blank"
              rel="noopener">KlavarScore</a
            > website.
          </p>
          <h3><strong>Website News</strong></h3>
          <p>
            We have moved our blog from Google&#8217;s Blogger software over to <a
              href="http://wordpress.org/"
              target="_blank"
              rel="noopener">WordPress</a
            >.  The reason is that Blogger will be <a
              href="http://buzz.blogger.com/2010/01/important-note-to-ftp-users.html"
              target="_blank"
              rel="noopener">dropping support for FTP publishing</a
            > on March 26th. While working on the blog, our webmaster was inspired
            to give our site a visual refresh in terms of its design/layout.  Here
            is a screen shot of the old layout just for the record:
          </p>
          <div
            id="attachment_62"
            style="width: 190px"
            class="wp-caption alignnone"
          >
            <a href="/wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010.png"
              ><img
                aria-describedby="caption-attachment-62"
                loading="lazy"
                class="size-medium wp-image-62"
                title="MNPSiteScreenshot-Feb2010"
                src="/wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010-300x194.png"
                alt="The Music Notation Project website screenshot February 2010"
                width="180"
                height="116"
              />
            </a><p id="caption-attachment-62" class="wp-caption-text">
              A screenshot of the old site layout.
            </p>
          </div>
          <p>
            In addition to the revised layout, our site&#8217;s Intro (home)
            page has been streamlined and improved.  The text in each section is
            now more concise, but with the option to reveal more discussion on
            each topic, according to the visitor&#8217;s interest.  An audio
            clip has been added to let viewers hear the chromatic scale
            illustrated at the top of the page. (This uses the new HTML5 audio
            tag in browsers that support it, or reverts to Flash for those that
            do not.  We will be moving to this approach for all audio on the
            site, reducing compatibility issues and making it more accessible
            for our visitors.)
          </p>
          <p>
            The <a href="/systems/">Music Notations</a> section of the site has also
            received various refinements including making it clearer that the notation
            systems are ordered primarily by line spacing, and then by the number
            of lines per octave.
          </p>
          <h3><strong>Community News</strong></h3>
          <p>
            Our new <a href="/wiki/" target="_blank" rel="noopener">wiki</a> is off
            to a good start.  It now has eleven pages that have been created by members
            of our community since it was launched back in November of 2009.  Our
            Forum (Google group) membership has broken into the triple digits with
            107 members, and we now have 153 fans of the Music Notation Project on
            our Facebook page (at the time of writing).  (See <a
              href="/home/community/">Community</a
            >.)
          </p>
        </div>
      </article>

      <div id="comments">
        <h2 id="comments-title">
          1 thought on &ldquo;<span
            >Git Repository for Lilypond Work, KLAVAR! software, and Website
            Improvements</span
          >&rdquo;
        </h2>

        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id="li-comment-18">
            <article id="comment-18" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/2bc24242938e1b77dbd3590023c94a16?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/2bc24242938e1b77dbd3590023c94a16?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://omega3information.com/"
                      rel="external nofollow ugc"
                      class="url">Michael</a
                    >
                  </span> on <a
                    href="/blog/2010/03/git-repository-for-lilypond/#comment-18"
                    ><time datetime="2011-04-23T09:28:49+00:00"
                      >April 23, 2011 at 9:28 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  Has the layout of the site changed? It looks pretty much the
                  same to me as shown in the picture in the post. Not
                  complaining, its pretty simple and good, just curious.
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
        </ol>

        <p class="nocomments">Comments are closed.</p>
      </div>
    </div>
  </div>
</MnpLayoutBlog>
