---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Major 3rd Apart, 3 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Major 3rd Apart, 3 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Major 3rd Apart, 3 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        These systems achieve a less dense appearance through lines that are
        spaced a major third apart. Between the lines are three elevations where
        notes are placed. One of the three lines per octave is either bold or
        dashed to allow for identification of the lines when more than one staff
        is stacked contiguously for a greater pitch range. Some systems use
        hollow and solid noteheads to help differentiate between adjacent
        pitches.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-3-lines major-3rd-3-lines lines-dashed note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
        title="Permalink to Chromatic 6-6 Notation by Johannes Beyreuther"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Chromatic 6-6 Notation by Johannes Beyreuther"
          title="Chromatic scale from C to C in Chromatic 6-6 Notation by Johannes Beyreuther"
          src="/wp-content/uploads/2012/07/chromatic-66-johannes-beyreuther.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
          rel="bookmark">Chromatic 6-6 Notation by Johannes Beyreuther, 1985</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-3-lines major-3rd-3-lines lines-bold note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/6-6-klavar-by-cornelis-pot/"
        title="Permalink to 6-6 Klavar by Cornelis Pot"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in 6-6 Klavar by Cornelis Pot"
          title="Chromatic scale from C to C in 6-6 Klavar by Cornelis Pot"
          src="/wp-content/uploads/2012/07/6-6-klavar-cornelis-pot-horizontal.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/6-6-klavar-by-cornelis-pot/" rel="bookmark"
          >6-6 Klavar by Cornelis Pot, 1972</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-3-lines major-3rd-3-lines lines-bold note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-arnold-schoenberg/"
        title="Permalink to Untitled by Arnold Schoenberg"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Arnold Schoenberg"
          title="Chromatic scale from C to C in Untitled by Arnold Schoenberg"
          src="/wp-content/uploads/2012/07/untitled-arnold-schoenberg.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-arnold-schoenberg/" rel="bookmark"
          >Untitled by Arnold Schoenberg, 1924</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
