---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "The Music Notation Project is now on Facebook",
    "Blog"
  )}
  metaDescription="A blog post announcing that the Music Notation Project is now on Facebook."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2009/06/new-interactive-gallery-of-music-notation-systems/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            The Music Notation Project is now on Facebook
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2009-06-13T09:44:00+00:00"
              >June 13, 2009</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            The Music Notation Project now has a public profile on <a
              href="http://www.facebook.com/">Facebook</a
            >. This will help us connect with more people and build awareness of
            our organization and its mission. <span id="more-491"></span>
          </p>
          <p>
            To visit our public profile, follow the link under the new <a
              href="/home/community/">Community</a
            > heading on our website. If you are a Facebook user we encourage you
            to show your support and help spread the word by becoming a &#8220;fan&#8221;
            of the Music Notation Project. To do this simply click the &#8220;become
            a fan&#8221; link on our public profile. You might consider inviting
            any friends you think would be interested to become a fan as well.
          </p><p>
            Here are some quotes from the Facebook website about public
            profiles:
          </p><p style="font-style: italic;">
            "A Facebook public profile gives a voice to any public figure or
            organization to join the conversation with Facebook users. Since
            November 2007, bands, sports teams, artists, films, brands,
            non-profits and businesses have been using public profiles (formerly
            called Pages) as free, customizable presences on Facebook."
          </p>
          <p style="font-style: italic;">
            "As a Community or Non-Profit, with Facebook public profiles, you
            can create an authentic connection with current and potential
            supporters, students, alumni and donors. There are already over
            100,000 non-profits, universities and religious organizations using
            Facebook to stay connected to their constituents."
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
