---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("Wiki Improvements", "Blog")}
  metaDescription="A blog post about improvements to the Music Notation Project wiki."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2011/09/more-scales-intervals-and-melodies-with-the-audiovisualizer/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2013/04/website-and-wiki-revision-now-powered-by-wordpress/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">Wiki Improvements</h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2011-09-27T20:39:54+00:00"
              >September 27, 2011</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            We have recently upgraded our <a href="/wiki/">wiki&#8217;s</a> software
            and tweaked our installation to offer the following improvements:
          </p>
          <ul>
            <li>
              Easier navigation: on any page click the [+] next to any category
              listed in the left hand column to reveal links to all pages in
              that category.
            </li>
            <li>
              More user-friendly editing tools that make it easier for anyone to
              edit pages on the wiki. For example, it is much simpler to add
              links, images, tables, etc.
            </li>
            <li>
              The search box now suggests pages you may be searching for, as you
              type.
            </li>
            <li>Pages generally load faster.</li>
          </ul>
          <p>
            We are pleased that the wiki now contains 26 content pages. That is
            an average of more than one page added per month since we launched
            the wiki in November 2009! <span id="more-498"></span>To keep track
            of new pages and changes to the wiki, see the New Pages and Recent
            Changes pages. Each of those pages also offers an Atom feed that you
            can follow using your favorite feed reader. Any of our forum (Google
            group) members are welcome and encouraged to help add and/or edit
            pages on the wiki.
          </p>
          <p>
            Head over to our <a href="/wiki/">wiki</a> to try out the new changes
            and check out any pages that you have not seen yet!
          </p>
          <p>&nbsp;</p>
          <p><em>Technical details:</em></p>
          <p>
            We recently upgraded our wiki software to MediaWiki version 1.17. We
            previously upgraded to version 1.16 about this time last year when
            we also began using a customized version the Vector skin which is
            now the default for Wikipedia and other Wikimedia sites. These
            changes have made it possible to offer the improvements listed
            above, and will allow us to take advantage of future improvements to
            the MediaWiki software. See the <a
              title="MediaWiki.org"
              href="http://mediawiki.org">MediaWiki website</a
            > for more information.
          </p>
          <p>&nbsp;</p>
          <h3><strong>Follow us on Twitter</strong></h3>
          <p>
            In other website news, you may have noticed the icon on our website
            that lets you follow the Music Notation Project on Twitter. When we
            post something new on our blog we will now also post to Twitter (as
            well as Facebook). This provides multiple ways to follow the news
            covered in our blog, in addition to news feeds (RSS or Atom) and
            email subscriptions. Our Twitter handle is @MNPupdates.
          </p>
          <p>
            The Twitter, Facebook, and other icons were added earlier this year
            as part of a minor revision of our site&#8217;s appearance. 
            Recently the site went through another minor visual refresh as we
            continue to improve it.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
