<div id="secondary" class="widget-area" role="complementary">
  <aside id="text-4" class="widget widget_text">
    <a href="/blog/"><h3 class="widget-title">Blog</h3></a>
    <div class="textwidget">
      News, notes, and the latest developments from the Music Notation Project.
    </div>
  </aside>
  <!-- <aside id="text-2" class="widget widget_text">
    <h3 class="widget-title">Get Posts</h3>
    <div class="textwidget">
      <a
        href="/misc/emailsubscription.html"
        title="Subscribe to Posts by Email">By Email</a
      ><br />
      <a
        href="http://feeds.feedburner.com/musicnotation?format=xml"
        title="Subscribe to Posts by News Feed">By News Feed (RSS, Atom)</a
      ><br />
      <a
        href="http://www.facebook.com/TheMusicNotationProject"
        title="Get notified about new posts on Facebook">On Facebook</a
      >
    </div>
  </aside> -->

  <aside id="recent-posts-2" class="widget widget_recent_entries">
    <h3 class="widget-title">Posts</h3>
    <ul>
      <li>
        <a
          href="/blog/2013/04/website-and-wiki-revision-now-powered-by-wordpress/"
          >Website and Wiki Revision (Now Powered by WordPress)</a
        >
      </li>
      <li>
        <a href="/blog/2011/09/wiki-improvements/">Wiki Improvements</a>
      </li>
      <li>
        <a
          href="/blog/2011/09/more-scales-intervals-and-melodies-with-the-audiovisualizer/"
          >More Scales, Intervals, and Melodies with the AudioVisualizer</a
        >
      </li>
      <li>
        <a
          href="/blog/2011/05/chromatic-lyre-notation-reverse-color-express-stave-twinnote-and-more/"
          >Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote, and
          More</a
        >
      </li>
      <li>
        <a href="/blog/2011/03/lilypond-musescore-and-more-software-news/"
          >LilyPond, MuseScore, and More Software News</a
        >
      </li>
      <li>
        <a href="/blog/2010/03/git-repository-for-lilypond/"
          >Git Repository for Lilypond Work, KLAVAR! software, and Website
          Improvements</a
        >
      </li>
      <li>
        <a href="/blog/2009/11/announcing-the-music-notation-project-wiki/"
          >Announcing the Music Notation Project Wiki</a
        >
      </li>
      <li>
        <a
          href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/"
          >Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote music
          notation systems</a
        >
      </li>
      <li>
        <a href="/blog/2009/06/now-on-facebook/"
          >The Music Notation Project is now on Facebook</a
        >
      </li>
      <li>
        <a
          href="/blog/2009/06/new-interactive-gallery-of-music-notation-systems/"
          >New Interactive Gallery of Music Notation Systems, and Updated Guided
          Tour</a
        >
      </li>
      <li>
        <a href="/blog/2009/02/enharmonic-equivalents-tutorial/"
          >Enharmonic Equivalents Tutorial and More</a
        >
      </li>
      <li>
        <a href="/blog/2009/02/review-of-e-m-humes-supermusicology/"
          >Review of E.M. Hume&#8217;s &#8220;Supermusicology&#8221;</a
        >
      </li>
      <li>
        <a href="/blog/2008/09/finale-notepad-2006-get-it/"
          >Finale NotePad 2006: Get it while you still can!</a
        >
      </li>
      <li>
        <a href="/blog/2008/07/our-new-domain/"
          >Our new domain: https://musicnotation.org</a
        >
      </li>
      <li>
        <a href="/blog/2008/07/13-notation-systems-added/"
          >13 Notation Systems Added to Our Site</a
        >
      </li>
      <li>
        <a href="/blog/2008/07/website-revisions-music-notations/"
          >Website Revisions: Music Notations and Homepage</a
        >
      </li>
      <li>
        <a href="/blog/2008/02/new-forum-tutorials-and-website-search/"
          >New Forum, Tutorials, and Website Search</a
        >
      </li>
      <li>
        <a href="/blog/2008/01/introducing-the-music-notation-project/"
          >Introducing… The Music Notation Project</a
        >
      </li>
    </ul>
  </aside>
</div>
