---
import {
  makeNotationSystemPath,
  makeNotationSystemTitle,
  NotationSystem,
} from "../data/notationSystems";

export interface Props {
  system: NotationSystem;
}

const { system } = Astro.props;
const title = makeNotationSystemTitle(system);
const path = makeNotationSystemPath(system.slug);
---

<div class="system-container">
  <a href={path} title={`Permalink to ${title}`} rel="bookmark">
    <img
      alt={`Chromatic scale from C to C in ${title}`}
      title={`Chromatic scale from C to C in ${title}`}
      src={system.chromaticScaleImagePath}
    />
  </a>
  <img
    src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
    alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
  />
  <h3 class="system-title">
    <a href={path}>{title}</a>
  </h3>
</div>
