<div id="page-footer">
  <footer id="colophon" role="contentinfo">
    <div id="supplementary" class="three">
      <div id="first" class="widget-area" role="complementary">
        <aside id="text-6" class="widget widget_text">
          <div class="textwidget">
            <div class="footer-title">The Music Notation Project</div>
            <div class="footer-sub-title-text">
              A not-for-profit organization sustained by the <a
                href="/home/contribute/"
                >contributions of volunteers and supporters</a
              >. Except where otherwise noted, content on this site is licensed
              under a <a
                rel="license noopener"
                href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"
                target="_blank"
                >Creative Commons Attribution-ShareAlike 3.0 Unported License</a
              >.
            </div> 
          </div>
        </aside>
      </div>

      <div id="second" class="widget-area" role="complementary">
        <aside class="widget widget_nav_menu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/systems/">Notation Systems</a>
            </li>
            <li>
              <a href="/tutorials/">Tutorials</a>
            </li>
            <li>
              <a href="/software/">Software</a>
            </li>
            <li>
              <a href="/mnma/">MNMA</a>
            </li>
            <li>
              <a href="/wiki/">Wiki</a>
            </li>
            <li>
              <a
                href="https://groups.google.com/forum/#!forum/musicnotation"
                target="_blank"
                rel="noopener">Forum (Google Group)</a
              >
            </li>
          </ul>
        </aside>
      </div>

      <div id="third" class="widget-area" role="complementary">
        <aside class="widget widget_nav_menu">
          <ul>
            <li>
              <a href="/home/about-faq-contact-info/"
                >About, FAQ, Contact Info</a
              >
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/home/community/">Community</a>
            </li>
            <li>
              <a href="/home/contribute/">Contribute</a>
            </li>
            <li>
              <a
                href="http://www.facebook.com/TheMusicNotationProject"
                target="_blank"
                rel="noopener">Facebook</a
              >
            </li>
            <li>
              <a href="#">Return to Top</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </footer>
</div>
