---
const pathname = Astro.url.pathname;

const activeTabIsNotationSystems =
  pathname.startsWith("/systems") || pathname.startsWith("system");

const activeTabIsTutorials = pathname.startsWith("/tutorials");
const activeTabIsSoftware = pathname.startsWith("/software");
const activeTabIsMnma = pathname.startsWith("/mnma");
const activeTabIsWiki = pathname.startsWith("/wiki");
---

<header
  id="branding"
  role="banner"
  class={activeTabIsWiki ? undefined : "non-wiki-header"}
>
  {
    !activeTabIsWiki && (
      <hgroup>
        <h1 id="site-title">
          <span>
            <a href="/" title="" rel="home">
              The Music Notation Project
            </a>
          </span>
        </h1>
        <h2 id="site-description">
          <a href="/" title="" rel="home">
            Exploring Alternative Music Notation Systems
          </a>
        </h2>
      </hgroup>
    )
  }

  <nav id="access" role="navigation">
    <h3 class="assistive-text">Main menu</h3>
    <div class="skip-link">
      <a class="assistive-text" href="#content" title="Skip to primary content"
        >Skip to primary content</a
      >
    </div>
    <div class="skip-link">
      <a
        class="assistive-text"
        href="#secondary"
        title="Skip to secondary content">Skip to secondary content</a
      >
    </div>

    <div class="menu-main-nav-container">
      <ul id="menu-main-nav" class="menu">
        {
          activeTabIsWiki && (
            <li
              id="menu-item-20"
              class={
                "menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-20"
              }
            >
              <a href="/">The Music Notation Project</a>
            </li>
          )
        }
        <li
          id="menu-item-677"
          class={`${
            activeTabIsNotationSystems &&
            "current-menu-ancestor current_page_ancestor"
          } menu-item menu-item-type-post_type menu-item-object-page page_item current-menu-parent current_page_parent menu-item-has-children menu-item-677`}
        >
          <button>Notation Systems</button>
          <ul class="sub-menu">
            <li
              id="menu-item-676"
              class={`${
                pathname === "/systems/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page page_item menu-item-676`}
            >
              <a href="/systems/" aria-current="page">Guided Tour</a>
            </li>
            <li
              id="menu-item-682"
              class={`${
                pathname === "/systems/audiovisualizer/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-682`}
            >
              <a href="/systems/audiovisualizer/">AudioVisualizer</a>
            </li>
            <li
              id="menu-item-1140"
              class={`${
                pathname === "/systems/gallery/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-1140`}
            >
              <a href="/systems/gallery/">Gallery</a>
            </li>
            <li
              id="menu-item-652"
              class={`${
                pathname === "/systems/more-notation-systems/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-652`}
            >
              <a href="/systems/more-notation-systems/">More Notation Systems</a
              >
            </li>
            <li
              id="menu-item-404"
              class={`${
                pathname === "/systems/criteria/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-404`}
            >
              <a href="/systems/criteria/">Criteria for Systems</a>
            </li>
            <li
              id="menu-item-410"
              class={`${
                pathname === "/systems/evaluative-research/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-410`}
            >
              <a href="/systems/evaluative-research/">Evaluative Research</a>
            </li>
          </ul>
        </li>
        <li
          id="menu-item-449"
          class={`${
            activeTabIsTutorials &&
            "current-menu-ancestor current_page_ancestor"
          } menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-449`}
        >
          <button>Tutorials</button>
          <ul class="sub-menu">
            <li
              class={`${
                pathname === "/tutorials/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-453`}
            >
              <a href="/tutorials/">Tutorials Overview</a>
            </li>
            <li
              id="menu-item-453"
              class={`${
                pathname === "/tutorials/6-6-and-7-5-pitch-patterns/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-453`}
            >
              <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
                >6-6 and 7-5 Pitch Patterns</a
              >
            </li>
            <li
              id="menu-item-452"
              class={`${
                pathname === "/tutorials/noteheads-and-pitch/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-452`}
            >
              <a href="/tutorials/noteheads-and-pitch/">Noteheads and Pitch</a>
            </li>
            <li
              id="menu-item-451"
              class={`${
                pathname === "/tutorials/intervals/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-451`}
            >
              <a href="/tutorials/intervals/">Intervals: Traditional System</a>
            </li>
            <li
              id="menu-item-2097"
              class={`${
                pathname === "/tutorials/reading-playing-music-intervals/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-2097`}
            >
              <a href="/tutorials/reading-playing-music-intervals/"
                >Intervals: Reading and Playing</a
              >
            </li>
            <li
              id="menu-item-450"
              class={`${
                pathname ===
                  "/tutorials/intervals-in-6-6-music-notation-systems/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-450`}
            >
              <a href="/tutorials/intervals-in-6-6-music-notation-systems/"
                >Intervals: 6-6 Systems</a
              >
            </li>
            <li
              id="menu-item-470"
              class={`${
                pathname === "/tutorials/chromatic-staves-example/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-470`}
            >
              <a href="/tutorials/chromatic-staves-example/"
                >Chromatic Staves Example</a
              >
            </li>
            <li
              id="menu-item-561"
              class={`${
                pathname === "/tutorials/enharmonic-equivalents/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-561`}
            >
              <a href="/tutorials/enharmonic-equivalents/"
                >Enharmonic Equivalents</a
              >
            </li>
            <li
              id="menu-item-562"
              class={`${
                pathname === "/tutorials/numerical-notation-systems/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-tutorials menu-item-562`}
            >
              <a href="/tutorials/numerical-notation-systems/"
                >Numerical Notation Systems</a
              >
            </li>
          </ul>
        </li>
        <li
          id="menu-item-22"
          class={`${
            activeTabIsSoftware && "current-menu-ancestor current_page_ancestor"
          } menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22`}
        >
          <button>Software</button>
          <ul class="sub-menu">
            <li
              id="menu-item-1092"
              class={`${
                pathname === "/software/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-1092`}
            >
              <a href="/software/">Software Overview</a>
            </li>
            <li
              id="menu-item-606"
              class={`${
                pathname === "/software/lilypond/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-606`}
            >
              <a href="/software/lilypond/">LilyPond</a>
            </li>
            <li
              id="menu-item-607"
              class={`${
                pathname === "/software/finale/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-607`}
            >
              <a href="/software/finale/">Finale</a>
            </li>
            <li
              id="menu-item-608"
              class={`${
                pathname === "/software/musescore/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-608`}
            >
              <a href="/software/musescore/">MuseScore</a>
            </li>
            <li
              id="menu-item-609"
              class={`${
                pathname === "/software/sibelius/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-609`}
            >
              <a href="/software/sibelius/">Sibelius</a>
            </li>
            <li
              id="menu-item-610"
              class={`${
                pathname === "/software/open-source-strategy/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-610`}
            >
              <a href="/software/open-source-strategy/">Open Source Strategy</a>
            </li>
          </ul>
        </li>
        <li
          id="menu-item-21"
          class={`${
            activeTabIsMnma && "current-menu-ancestor current_page_ancestor"
          } menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21`}
        >
          <button>MNMA</button>
          <ul class="sub-menu">
            <li
              id="menu-item-1093"
              class={`${
                pathname === "/mnma/" && "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-1093`}
            >
              <a href="/mnma/">MNMA Overview</a>
            </li>
            <li
              id="menu-item-645"
              class={`${
                pathname === "/mnma/research-project/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-645`}
            >
              <a href="/mnma/research-project/">Research Project</a>
            </li>
            <li
              id="menu-item-647"
              class={`${
                pathname === "/mnma/publications/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-647`}
            >
              <a href="/mnma/publications/">Publications</a>
            </li>
            <li
              id="menu-item-646"
              class={`${
                pathname === "/mnma/conferences/" &&
                "current-menu-item current_page_item"
              } menu-item menu-item-type-post_type menu-item-object-page menu-item-646`}
            >
              <a href="/mnma/conferences/">Conferences</a>
            </li>
          </ul>
        </li>
        <li
          id="menu-item-1632"
          class="menu-item menu-item-type-post_type menu-item-object-wiki_page menu-item-1632"
        >
          <a href="/wiki/">Wiki</a>
        </li>
        <li
          id="menu-item-1074"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074"
        >
          <a
            href="https://groups.google.com/forum/#!forum/musicnotation"
            target="_blank">Forum</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
