---
const pathname = Astro.url.pathname;

/**
 * The section that a given page is in is shown (open) when the page loads.
 */
const getSectionStyle = (slug: string) =>
  pathname.startsWith(`/wiki/${slug}`) ? { display: "block" } : undefined;
---

<div id="secondary" class="widget-area" role="complementary">
  <aside id="wiki-sidebar-header" class="widget">
    <h2 class="widget-title">
      <a href="/wiki/">
        <span id="thethe" class="displayBlock">THE</span><span
          id="themusic"
          class="displayBlock">MUSIC</span
        ><span id="thenotation" class="displayBlock">NOTATION</span><span
          id="theproject"
          class="displayBlock">PROJECT</span
        ><span id="thewiki" class="displayBlock">WIKI</span>
      </a>
    </h2>
  </aside>

  {
    /*
	<aside class="widget">
    <form method="get" id="searchform" action="http://musicnotation.org/">
      <label for="s" class="assistive-text">Search</label>
      <input type="text" class="field" name="s" id="s" placeholder="Search" />
      <input
        type="submit"
        class="submit"
        name="submit"
        id="searchsubmit"
        value="Search"
      />
    </form>
  </aside>
	*/
  }

  <aside class="widget" id="wikiSideBarMenu">
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Sheet Music</a>
    </h3>
    <ul
      id="menu-num0"
      class="wiki-page-links"
      style={getSectionStyle("sheet-music")}
    >
      <li class="page_item">
        <a href="/wiki/sheet-music/f-chopin/">F. Chopin</a>
      </li>
      <li class="page_item">
        <a href="/wiki/sheet-music/j-s-bach/">J.S. Bach</a>
      </li>
      <li class="page_item">
        <a href="/wiki/sheet-music/more-composers/">More Composers</a>
      </li>
      <li class="page_item">
        <a href="/wiki/sheet-music/sheet-music-sources/"
          >Other Sheet Music Sources</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Musical Examples</a>
    </h3>
    <ul
      id="menu-num1"
      class="wiki-page-links"
      style={getSectionStyle("musical-examples")}
    >
      <li class="page_item">
        <a
          href="/wiki/musical-examples/franz-liszt-hungarian-rhapsody-2-excerpt/"
          >Franz Liszt: Hungarian Rhapsody 2 (excerpt)</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/musical-examples/w-c-macfarlane-spring-song-excerpt/"
          >W.C. MacFarlane: Spring Song (excerpt)</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Notation Systems</a>
    </h3>
    <ul
      id="menu-num2"
      class="wiki-page-links"
      style={getSectionStyle("notation-systems")}
    >
      <li class="page_item">
        <a href="/wiki/notation-systems/black-oval-twinline-by-paul-morris/"
          >Black-Oval Twinline by Paul Morris</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/chromatic-pairs-by-fernando-terra/"
          >Chromatic Pairs by Fernando Terra</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/color-coded-music/">Color Coded Music</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/dcmn-dozenal-conventional-music-notation/"
          >DCMN Dozenal Conventional Music Notation</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/dcmn-details/">DCMN-Details</a>
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/ds66-music-notation/"
          >DS66 Music Notation</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/equiton-music-notation-by-rodney-fawcett/"
          >Equiton Music Notation by Rodney Fawcett</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/express-stave-by-john-keller/"
          >Express Stave by John Keller</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/hamburg-music-notation-by-robert-elisabeth-key/"
          >Hamburg Music Notation by Robert Elisabeth Key</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/hmn-poster/"
          >Hamburg Music Notation Poster</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/hass-music-notation-by-peter-hass/"
          >Hass Music Notation (original version) by Peter Hass</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/howe-way-music-notationby-hilbert-howe/"
          >Howe-Way Music Notation by Hilbert Howe</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/i-accord-music-notation-by-saieb-khalil/"
          >I-Accord Music Notation by Saieb Khalil</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/minimal-6-6-notation-system-by-paul-morris/"
          >Minimal 6-6 Notation System by Paul Morris</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/modified-schoenberg-notation-for-guitar-msg-by-ole-kirkeby/"
          >Modified Schoenberg notation for Guitar (MSG) by Ole Kirkeby</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/numbered-notes-jason-maccoy/"
          >Numbered Notes by Jason MacCoy</a
        >
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/plain-music-notation-system-by-pashkuli/"
          >Plain Music Notation system by Pashkuli</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/shape-note-notation/"
          >Shape Note Notation</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/slantnote-by-david-zethmayr/"
          >Slantnote by David Zethmayr</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/sling-guitar-notation-by-ole-kirkeby/"
          >SLING guitar notation by Ole Kirkeby</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/traditional-music-notation/"
          >Traditional Music Notation</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/twinnote-by-paul-morris/"
          >TwinNote by Paul Morris</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/untitled-by-johann-ailler/"
          >Untitled by Johann Ailler</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/notation-systems/vawu-xeyuze/">VaWu-XeYuZe</a>
      </li>
      <li class="page_item">
        <a
          href="/wiki/notation-systems/what-you-see-is-what-you-play-wysiwyp-by-stuart-byrom/"
          >What You See Is What You Play (WYSIWYP) by Stuart Byrom</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Rhythm Notation</a>
    </h3>
    <ul
      id="menu-num3"
      class="wiki-page-links"
      style={getSectionStyle("rhythm-notation")}
    >
      <li class="page_item">
        <a href="/wiki/rhythm-notation/concerns-traditional-rhythm-notation/"
          >Concerns with Traditional Rhythm Notation</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/rhythm-notation/rhythm-notation-overview/"
          >Rhythm Notation Overview</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/rhythm-notation/principles-of-rhythm-notation/"
          >Principles of Rhythm Notation</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Nomenclature</a>
    </h3>
    <ul
      id="menu-num4"
      class="wiki-page-links"
      style={getSectionStyle("nomenclature")}
    >
      <li class="page_item">
        <a href="/wiki/nomenclature/express-stave-nomenclature/"
          >Express Stave Nomenclature</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/nomenclature/nomenclatures-overview/"
          >Nomenclatures Overview</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/nomenclature/z-extended-nashville-chord-root-names/"
          >Z-Extended Nashville Chord Root Names</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Music Theory</a>
    </h3>
    <ul
      id="menu-num5"
      class="wiki-page-links"
      style={getSectionStyle("music-theory")}
    >
      <li class="page_item">
        <a href="/wiki/music-theory/4-4-4-pitch-pattern/">4-4-4 Pitch Pattern</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/music-theory/alternative-key-signatures/"
          >Alternative Key Signatures</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/music-theory/isomorphism/">Isomorphism</a>
      </li>
      <li class="page_item">
        <a href="/wiki/music-theory/modulation-dominant-subdominant/"
          >Modulation, Dominant, Subdominant</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/music-theory/the-squiggle-method-of-pitch-visualization/"
          >The Squiggle Method of Pitch Visualization</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Instruments</a>
    </h3>
    <ul
      id="menu-num6"
      class="wiki-page-links"
      style={getSectionStyle("instruments")}
    >
      <li class="page_item">
        <a href="/wiki/instruments/6-6-colored-traditional-7-5-keyboard/"
          >6-6 Colored Traditional (7-5) Keyboard</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/instruments/harpejji/">Harpejji</a>
      </li>
      <li class="page_item">
        <a href="/wiki/instruments/isomorphic-instruments/"
          >Isomorphic Instruments</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/instruments/janko-keyboard/">Janko Keyboard</a>
      </li>
      <li class="page_item">
        <a href="/wiki/instruments/tri-chromatic-keyboard-layout/"
          >Tri-Chromatic Keyboard Layout</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/instruments/wicki-hayden-note-layout/"
          >Wicki-Hayden Note Layout</a
        >
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Software</a>
    </h3>
    <ul
      id="menu-num7"
      class="wiki-page-links"
      style={getSectionStyle("software")}
    >
      <li class="page_item">
        <a href="/wiki/software/kevin-dalleys-lilypond-code/"
          >Kevin Dalley&#8217;s LilyPond Code</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/software/lilypond/">LilyPond</a>
      </li>
    </ul>
    <h3 class="widget-title">
      <a class="wikiMenuHeading cursorPointer">Miscellaneous</a>
    </h3>
    <ul
      id="menu-num8"
      class="wiki-page-links"
      style={getSectionStyle("miscellaneous")}
    >
      <li class="page_item">
        <a href="/wiki/miscellaneous/contributing-to-the-wiki/"
          >Contributing to the Wiki</a
        >
      </li>
      <li class="page_item">
        <a href="/wiki/miscellaneous/related-websites-and-publications/"
          >Related Websites and Publications</a
        >
      </li>
    </ul>
  </aside>
</div>

<script>
  const wikiSideBarMenu = document.getElementById("wikiSideBarMenu");
  const headings = wikiSideBarMenu?.querySelectorAll(".wikiMenuHeading");

  headings?.forEach((heading, toggledIndex) => {
    heading.addEventListener(
      "click",
      //
      function toggleWikiMenu() {
        headings.forEach((_, index) => {
          const itemContainer = document.getElementById("menu-num" + index);

          if (!itemContainer) return;

          itemContainer.style.display =
            index === toggledIndex && itemContainer.style.display !== "block"
              ? "block"
              : "none";
        });
      }
    );
  });
</script>
