---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Janko Keyboard", "Wiki")}
  metaDescription="Wiki page about the Janko Keyboard"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Janko Keyboard</h1>
        </header>

        <div class="entry-content">
          <p>
            The Jankó keyboard with its &#8220;6-6&#8221; layout was designed by
            Paul von Jankó in 1882. Because it has an <a
              href="/wiki/music-theory/isomorphism/"
            >
              isomorphic layout</a
            >, each chord, scale, and interval has a consistent shape and can be
            played with the same fingering, regardless of its pitch or what the
            current key is. If you know a piece of music in one key you can
            transpose it simply by starting at a different pitch because the
            fingering is the same in every key.
          </p>
          <p>
            This provides much more consistency than the traditional keyboard
            layout where each chord, scale, and interval has multiple shapes and
            requires learning multiple fingering patterns. On the Jankó layout
            there are twelve times fewer chord shapes and scale patterns to
            learn. This greater consistency also improves awareness of interval
            patterns and harmony, and makes it easier to improvise and play by
            ear.
          </p>
          <p>Here is an image of the layout:</p>
          <p>
            <img
              loading="lazy"
              alt="Janko keyboard.png"
              src="/wp-content/uploads/2013/03/Janko_keyboard.png"
              width="500"
              height="118"
            />
          </p>
          <p>
            The span of notes that can be reached with the stretch of one hand
            is greater than on the traditional layout. Larger intervals such as
            an octave are about 14% smaller on a Jankó layout.
          </p>
          <p>
            The multiple rows offer greater freedom and flexibility with
            fingering patterns. The higher rows are typically played with the
            fingers, while the lower rows are played by the thumbs. This
            basically eliminates the need to learn fingering patterns that
            require specific placement of a thumb-undertuck that are necessary
            on a traditional layout.
          </p>
          <p>
            Follow this link to a <a
              href="http://improvise.free.fr/beanbut/bean.htm"
              rel="nofollow">Janko-style, isomorphic keyboard</a
            > that you can play online at the <a
              href="http://improvise.free.fr/"
              rel="nofollow">Intuitive Instruments for Improvisers</a
            > site. It is a nice resource with information about various isomorphic
            instruments and related topics.
          </p>
          <p>
            <a href="http://daskin.com/" rel="nofollow">Daskin Manufacturing</a>
            has announced electronic MIDI Janko keyboards.
          </p>
          <p>
            <a href="http://en.wikipedia.org/wiki/Janko_keyboard" rel="nofollow"
              >Janko Keyboard Article on Wikipedia</a
            >
          </p>
          <p>
            Here are two images of pianos built with the Janko key layout
            (courtesy of the Wikimedia Commons).
          </p>
          <p>
            <img
              loading="lazy"
              alt="MIM Janko Piano 2.jpg"
              src="/wp-content/uploads/2013/03/MIM_Janko_Piano_2.jpg"
              width="800"
              height="600"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="Janko piano.JPG"
              src="/wp-content/uploads/2013/03/Janko_piano.jpg"
              width="800"
              height="600"
            />
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
