---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Howe", "Wiki")}
  metaDescription="Documentation of Howe-Way Music Notation by Hilbert Howe, an alternative music notation system with six vertical staff positions per octave."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Howe-Way Music Notation by Hilbert Howe</h1>
        </header>

        <div class="entry-content">
          <p>
            This is an illustration of the Howe-Way music notation system from
            the cover of <i>Book Two of the Howe-Way Music Method</i>, by
            Hilbert A. Howe (year: 1964).
          </p>
          <p>
            <img
              loading="lazy"
              alt="Howe-Way.jpg"
              src="/wp-content/uploads/2013/03/Howe-Way.jpg"
              width="902"
              height="205"
            />
          </p>
          <p>
            On the Howe-Way staff there are six vertical staff positions per
            octave: three lines and three spaces. Each line or space represents
            two of the twelve pitches of the chromatic scale. The two pitches
            appearing on a given line or space are distinguished by their
            noteheads. The lower pitch has a white/hollow notehead and the pitch
            a half-step higher has a black/solid notehead. (This pattern
            corresponds to the keys of a 6-6 piano keyboard, see below.)
          </p>
          <p>
            In practice the music is apparently always written on a six-line
            staff, covering two octaves. The third line from the top is a
            heavier line (this is not so obvious in the image above). This line
            and the bottom line of the six-line staff are both C. For piano
            music, each hand has its own six-line staff.
          </p>
          <h3>6-6 Piano</h3>
          <p>
            The Howe-Way music method is designed for learning to play an <a
              href="/wiki/music-theory/isomorphism/">isomorphic</a
            >, 6-6 piano that has two rows of keys (like <a
              href="http://balanced-keyboard.com/"
              rel="nofollow">this</a
            >, but with different coloring). The keys in the upper row are
            shaped like the black keys of a regular piano, grouped in two groups
            of three per octave: three black keys alternating with three red
            keys. All the keys in the lower row are white keys, shaped like the
            D key on a standard keyboard. C is in the lower row, as on a
            standard keyboard. C#, D#, and F are black keys in the back row; G,
            A, and B are red keys in the back row. This piano keyboard was built
            by Orville Wood of the piano company Pratt &amp; Read and is
            mentioned here: <a
              href="http://orgs.usd.edu/nmm/KEYBOARD.HTM#experiment"
              rel="nofollow">http://orgs.usd.edu/nmm/KEYBOARD.HTM#experiment</a
            >
          </p>
          <p>
            The references to &#8220;black&#8221; and &#8220;red&#8221; in the
            image above do not refer to colors in the notation, but to the
            colors of the keys in the back row of the keyboard. The notation is
            black and white.
          </p>
          <h3>Note Names</h3>
          <p>
            Pitches are named with numbers. Unlike most numerical nomenclatures,
            successive numbers refer to whole steps. One whole-tone scale
            (corresponding to the white keys of the piano) has regular numerals,
            and the other whole-tone scale has numerals with underlines. 1 is C,
            1 with an underline is C#, 2 is D, etc. C# is referred to as
            &#8220;one and a half,&#8221; D# as &#8220;two and a half,&#8221;
            etc., but for speed they can be pronounced 1u, 2u, etc.
          </p>
          <h3>Octave Registers</h3>
          <p>
            Registers are indicated with Roman numerals. Middle C is the
            beginning of register IV (matching the Acoustical Society of America
            and later the ISO standard).
          </p>
          <h3>Rhythm Notation</h3>
          <p>
            Rhythmic notation is mostly traditional. The whole note has a stem,
            half of which rises from the notehead, and half of which descends
            from it. The half note has no stem. There is a note saying that the
            inventor hoped for a special typewriter key that would render a
            special notehead shape for a whole note, perhaps a diamond shape, in
            place of the aforementioned special stem on a regular round
            notehead.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
