---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Principles of Rhythm Notation", "Wiki")}
  metaDescription="A wiki page describing principles of rhythmic music notation."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Principles of Rhythm Notation</h1>
        </header>

        <div class="entry-content">
          <h1>Principles of Rhythm Notation</h1>
          <p>
            This section is to propose principles to guide the development of
            rhythm notation.
          </p>
          <h2>What is Rhythm</h2>
          <ul>
            <li>
              rhythm is a <strong>pattern</strong> in time
              <ul>
                <li>
                  <strong>pattern</strong>is characterized by repetition, period
                </li>
                <li>
                  <strong>pattern</strong>is discerned holistically—the forest,
                  not the trees
                </li>
                <li>
                  therefore <strong>layout</strong> is crucial to discerning visual
                  patterns
                </li>
                <li>analogy: poetry: layout in stanzas, lines, feet</li>
              </ul>
            </li>
            <li>
              <strong>rhythm</strong>is a “conversation” among multiple parts
              <ul>
                <li>
                  it is inherently polyphonic,
                  <ul>
                    <li>
                      separate parts may be represented by un-pitched timbres
                    </li>
                    <li>as well as pitched voices</li>
                  </ul>
                </li>
                <li>
                  <strong>syncopation</strong>implies a regular background beat<br
                  />
                  against which foreground melodies contrast
                </li>
              </ul>
            </li>
            <li>_</li>
          </ul>
          <h2>Layout</h2>
          <ul>
            <li>
              Music is poetry;<br />
              It should not be formatted as prose
            </li>
            <li>
              music should be laid out on a page in <strong>lines</strong> and <strong
                >stanzas</strong
              >
            </li>
            <li>each line is a musical phrase</li>
            <li>line breaks should match <strong>phrase</strong> breaks</li>
            <li>page breaks should match <strong>section</strong> breaks</li>
            <li>
              corresponding <strong>beats</strong> of consecutive lines should be
              aligned
            </li>
            <li><strong>_</strong></li>
          </ul>
          <h2>Units</h2>
          <ul>
            <li>
              elemental units (“letters”): contrasting stresses (unstress,
              stress)
              <ul>
                <li>duration: short, long</li>
                <li>amplitude: soft, loud</li>
                <li>timbre, e.g. drum, cymbal</li>
              </ul>
            </li>
            <li>
              “meaningful” units (“words”): beat-unit
              <ul>
                <li>contains one strong beat</li>
                <li>analogous to poetic feet</li>
                <li>
                  notation should <em>not</em> connect (tie, beam) units of different
                  “feet”
                </li>
              </ul>
            </li>
            <li>
              musical <strong>phrases</strong> consist rhythmically of integral beat-units
              <ul>
                <li>may or may not correspond to measures</li>
              </ul>
            </li>
            <li>_</li>
          </ul>
          <h2>Rhythmic Structure</h2>
          <ul>
            <li>
              Anacrusis is a symptom of beat-units that start on an un-stress:<br
              />
              iambic, anapestic.
            </li>
            <ul>
              <li>
                “anacrusis” is not just a property of the first measure<br />
                but of <em>every</em> phrase
              </li>
              <li>
                3-time (compound meter) music typically begins phrases on an
                un-stress
              </li>
            </ul>
          </ul>
          <li>
            <strong>phrase breaks</strong> will not necessarily occur at measure
            bars!
          </li>
          <li>_</li>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2>Rhythmic Patterns</h2>
        <ul>
          <li>
            the two “natural” rhythmic patterns are:
            <ul>
              <li>
                <strong>cadence</strong> of walking, marching: Left, Right, Left,
                Right
              </li>
              <li>g. | q q q q | q q q q |</li>
              <li>
                <strong>heartbeat</strong>: lub DUB – lub DUB –<br />
                g. q | h – q | h –<br />
                where q = quarter note, h = half-note
              </li>
              <li></li>
            </ul>
          </li>
          <li>
            <strong>n-tuplets</strong>
            <ul>
              <li>
                <strong>“tuplet”</strong>rhythm inserts additional note
                incidence points into the typical beat interval,<br />
                dividing the original interval into equal sub-intervals.
              </li>
              <ul>
                <li>
                  <strong>triplets:</strong>insert three incidences in the
                  time-value normally filled by two<br />
                  example: e e with incidences 2/8, 3/8 (6/24, 9/24)<br />
                  replaced with 3(e e e) with incidences 6/24, 8/24, 10/24
                </li>
              </ul>
            </ul>
            <li>
              <strong>syncopation</strong>
              <ul>
                <li>
                  <strong>syncopation</strong>: a note incidence occurs before a
                  beat or sub-beat<br />
                  and the note is held through the beginning of the beat<br />
                  example: typical incidcents 3/4, | <strong>0/4</strong>, 1/4<br
                  />
                  replaced with 3/4 <strong>, 7/8</strong> | 1/4
                </li>
                <li>
                  <strong>swing</strong>: variation of syncopation in which the
                  second half of a count<br />
                  is regularly delayed from the nominal rhythm,<br />
                  typically by 1/3 to ½ of it’s duration.<br />
                  Example:
                </li>
                <li>
                  incidences notated as:<br />
                  0/8, 1/8, 2/8, 3/8,… (0/24, 3/24, 6/24, 9/24,…)<br />
                  played as: 0/24, 4/24, 6/24, 10/24,…
                </li>
              </ul>
            </li>
          </li>
        </ul>
      </article>
      <p><strong> </strong></p>
      <ul>
        <li>
          ISSUE: swing, being a global style, is typically not notated in TN.<br
          />
          For otherwise complex rhythms, such as including syncopation and triplets,
          sophisticated calculation may be needed to convert the nominal rhythm into
          the performed rhythm.
        </li>
      </ul>
      <ul>
        <li>
          <strong>mixed rhythm</strong>
          <ul>
            <li>
              <strong>clave</strong>is the basis of many “Latin” rhythms,
              consisting of alternating beat-groups, one counted in “two” and
              one counted In “three”.<br />
              example: 0/12, 6/12; 0/12 4/12, 8/12; etc. or vice versa.<br />
              In typical music, the actual incidences are distributed unevenly among
              these nominal incidence points.
            </li>
          </ul>
        </li>
        <li>
          <strong
            >_
            <p></p>
          </strong>
        </li>
        <h2>Absolute vs. Relative</h2>
        <ul>
          <li>
            for sensing rhythm, occurrence relative to the beat-pattern
            (absolute time)<br />
            is more important than “duration” (relative or differential time).
          </li>
          <li>
            rhythm notation should primarily identify the <strong
              >beats
            </strong>and<strong> counts</strong>on which notes are struck
            (incidence)
          </li>
          <li>
            duration is less effective for notating rhythm
            <ul>
              <li>
                requires calculation of cumulative sums to determine the count
                and beat
              </li>
              <li>
                duration irregularly modified by dynamics of instrument and
                style
              </li>
            </ul>
          </li>
          <li>_</li>
        </ul>
        <h2>Mathematical Interpretation</h2>
        <ul>
          <li>
            An issue: “compound-meter” music is usually said to consist of
            “three quarter notes” per measure
            <ul>
              <li>This is mathematically untenable</li>
              <li>
                Three counts in a measure should be called “three third-notes”,<br
                />
                not “three quarter-notes”
              </li>
              <li>
                (MIDI “solves” the problem by considering the “quarter-note” the
                unit)
              </li>
            </ul>
          </li>
          <li>
            TN names the counts of a measure starting with “one”:<br />
            ”one, two, three; one, two, three.”
          </li>
          <ul>
            <li>
              it would be more computationally convenient to start with “zero”;<br
              />
              “zero, one, two, zero, one, two
            </li>
            <li>then we could use standard modular arithmetic.</li>
          </ul>
        </ul>
      </ul>
      <h1>_<strong><br /></strong></h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</MnpLayoutWiki>
