---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Contributing to the Wiki", "Wiki")}
  metaDescription="All about contributing to the Music Notation Project wiki. How to get started with a contributor account. Documentation on using the WordPress interface."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Contributing to the Wiki</h1>
        </header>

        <div class="entry-content">
          <p>
            This wiki is a companion to the Music Notation Project&#8217;s main
            website and <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              target="_blank">Forum (Google Group)</a
            >.
          </p>
          <p>
            The wiki is now effectively in an "archived" state, but it is still
            technically possible to contribute and make edits to it for those
            who are motivated to do so. If you would like to contribute to the
            wiki please <a href="/home/contact.html">contact us</a>.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
