---
import MnpFooter from "../components/MnpFooter.astro";
import MnpHeader from "../components/MnpHeader.astro";

import "../styles/twentyeleven-mnp-child-theme.css";

export interface Props {
  metaTitle: string;
  metaDescription: string;
  bodyClasses?: string;
}

const { metaTitle, metaDescription, bodyClasses } = Astro.props;

const canonicalHref = `https://musicnotation.org${Astro.url.pathname}`;
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{metaTitle}</title>
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="robots"
      content="index, follow, max-video-preview:-1, max-snippet:-1, max-image-preview:large"
    />
    <meta name="description" content={metaDescription} />
    <link rel="canonical" href={canonicalHref} />
  </head>

  <body
    class={bodyClasses ??
      "page-template-default page page-child wp-embed-responsive single-author  two-column right-sidebar singular"}
  >
    <div id="page" class="hfeed">
      <MnpHeader />
      <div id="main">
        <slot />
      </div>
      <span style="clear:both; display:block;"></span>
    </div>
    <MnpFooter />
  </body>
</html>
