---
// Note: it did not work to merge this component into the `[slug].astro` file.
// Things were null that shouldn't have been null.

import ChromaticScaleCard from "../components/ChromaticScaleCard.astro";
import FooterNotationSystemGroups from "../components/FooterNotationSystemGroups.astro";

import {
  notationSystemSlugsDefaultOrder,
  notationSystemsData,
  makeNotationSystemPath,
  makeNotationSystemTitle,
  NotationSystemSlug,
} from "../data/notationSystems";
import MnpLayout from "./MnpLayout.astro";

export interface Props {
  slug: NotationSystemSlug;
  metaTitle: string;
  metaDescription: string;
}

const { slug, metaTitle, metaDescription } = Astro.props;

const thisIndex = notationSystemSlugsDefaultOrder.findIndex((s) => s === slug);

const prevSystemSlug2 = notationSystemSlugsDefaultOrder[thisIndex - 2];
const prevSystemSlug1 = notationSystemSlugsDefaultOrder[thisIndex - 1];
const nextSystemSlug1 = notationSystemSlugsDefaultOrder[thisIndex + 1];
const nextSystemSlug2 = notationSystemSlugsDefaultOrder[thisIndex + 2];

const prevSystem2 = prevSystemSlug2 && notationSystemsData[prevSystemSlug2];
const prevSystem1 = prevSystemSlug1 && notationSystemsData[prevSystemSlug1];
const thisSystem = notationSystemsData[slug];
const nextSystem1 = nextSystemSlug1 && notationSystemsData[nextSystemSlug1];
const nextSystem2 = nextSystemSlug2 && notationSystemsData[nextSystemSlug2];

const title = makeNotationSystemTitle(thisSystem);
---

<MnpLayout
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  bodyClasses="system-template-default single single-system wp-embed-responsive single-author singular two-column right-sidebar"
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          >{
            prevSystem1 && (
              <a href={makeNotationSystemPath(prevSystem1.slug)} rel="next">
                <span class="meta-nav">&larr;</span> Previous
              </a>
            )
          }
        </span>
        <span class="nav-next"
          >{
            nextSystem1 && (
              <a href={makeNotationSystemPath(nextSystem1.slug)} rel="prev">
                Next <span class="meta-nav">&rarr;</span>
              </a>
            )
          }
        </span>
      </nav>

      <article class="system type-system status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            {thisSystem.name}<br />
            <span class="single-system-subtitle"
              >by {thisSystem.author}, {thisSystem.year}</span
            >
          </h1>
        </header>

        <div class="entry-content">
          <div class="notation-system-image">
            <img
              alt={`Chromatic scale from C to C in ${title}`}
              title={`Chromatic scale from C to C in ${title}`}
              src={thisSystem.chromaticScaleImagePath}
            />
            <img
              src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
              alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
            />
          </div>

          <slot />
        </div>
      </article>
      {
        (nextSystem1 || nextSystem2) && (
          <h2 class="gallery-heading">
            &rarr;{" "}
            {nextSystem1 && nextSystem2
              ? `Next Two Notation Systems`
              : `Next Notation System`}{" "}
            &rarr;
          </h2>
        )
      }
      {nextSystem1 && <ChromaticScaleCard system={nextSystem1} />}
      {nextSystem2 && <ChromaticScaleCard system={nextSystem2} />}
      {
        (prevSystem1 || prevSystem2) && (
          <h2 class="gallery-heading">
            &larr;{" "}
            {prevSystem1 && prevSystem2
              ? `Previous Two Notation Systems`
              : `Previous Notation System`}{" "}
            &larr;
          </h2>
        )
      }
      {prevSystem2 && <ChromaticScaleCard system={prevSystem2} />}
      {prevSystem1 && <ChromaticScaleCard system={prevSystem1} />}

      <FooterNotationSystemGroups />
    </div>
  </div>
</MnpLayout>
