---
import MnpLayout from "./MnpLayout.astro";
import FooterNotationSystemGroups from "../components/FooterNotationSystemGroups.astro";

import "../styles/gallery.css";

export interface Props {
  metaTitle: string;
  metaDescription: string;
}

const { metaTitle, metaDescription } = Astro.props;
---

<!-- bodyClasses="archive tax-notation-group term-7-5-line-pattern term-16 wp-embed-responsive single-author two-column right-sidebar" -->
<MnpLayout
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  bodyClasses="archive tax-notation-group wp-embed-responsive single-author two-column right-sidebar"
>
  <section id="primary">
    <div id="content" role="main">
      <slot />
      <FooterNotationSystemGroups />
    </div>
  </section>
</MnpLayout>
