---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Hamburg Music Notation", "Wiki")}
  metaDescription="Documentation of Hamburg Music Notation with examples."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Hamburg Music Notation by Robert Elisabeth Key
          </h1>
        </header>

        <div class="entry-content">
          <h1>The Application of Mathematical Principles in Music</h1>
          <p>
            <strong> </strong>We decided to set this text bilingual, since our
            native language is German and we are not sure that the translation
            is correct in all aspects.
          </p>
          <p>
            Wir haben beschlossen diesen Text zweisprachig einzustellen, da
            unsere Muttersprache deutsch ist und wir nicht sicher sind , dass
            die Übersetzung in allen Punkten korrekt ist.
          </p>
          <h2>The application of mathematical principles in music</h2>
          <p><strong> </strong>by Christian Pörksen and Harry Schreiber</p>
          <p>
            The decimal system is not very helpful for the subdivision of
            circles. The Duodezimalsystem with its potential to divide by 2,3,4
            and 6 on the other hand almost ideal. The duodecimal system has
            proven itself for the subdivision of time in 12 hour sections for
            the structure of the days. With a circular hand like at the clock,
            this can be mapped well. In the sequel we would like to show that
            the circle is not sufficient as a mathematical model for the
            subdivision of the tonal worlds of music.
          </p>
          <p>
            If we start with the C as one, the octave tone c ‘of the higher
            octave would be the thirteenth tone, or if the duodecimal system is
            used, the duodecimal eleven. The 13 notes of the twelve pitch steps
            are given the following ciphers in the Hamburg Musicnotation Version
            1705 (HMN1705). <strong
              >(<a href="https://hamburgmusicnotation.com/">HMN</a>)</strong
            >
          </p>
          <p>
            <strong> </strong>1,2,3,4,5,6,7,8,9, A, B, ʘ, separation of the
            previous octave and beginning of the new octave 1. The letter
            expansion of our numeral system, which is also used with IBM’s
            hexadecimal system, is applied.
          </p>
          <p>
            A for the tenth tone and B for the eleventh tone of decimal
            counting. For the duodecimal 10 and zero the cipher ʘ is used with a
            point in the middle. The H, which is designated by a large B in the
            Anglo-American musical literature, stands at the position of the ten
            (ʘ) in the duodecimal system. Usually, the sound planes arranged in
            “octaves” are designated or numbered in different ways. <em
              >(Eg as by us in the figure 1 duodecimal from 00* to BB* of the
              Midi table).
            </em><strong
              ><a
                href="https://hamburgmusicnotation.files.wordpress.com/2017/08/midiwerte.pdf"
                >Midiwerte</a
              >
            </strong>
          </p>
          <p>
            <strong> </strong>One can write each note as a duodecimal number
            with two digits, e.g. 51 * for the middle C on the piano. The
            following applies: If the right digit is increased by 1, the next
            semitone is obtained. If the left digit is increased by 1, the
            octave of the tone is equal to twice the frequency. The same applies
            to the subtraction.
          </p>
          <p>
            We have decided to name the first note of the octave (= C), as
            usual, as 1. Then the ʘ is the separator for the next octave. The
            circle is unsuitable for the correct mathematical representation of
            the duodecimal system in music, since it does not take into account
            that the diatonic Western music consists of twelve sound steps, but
            13 sounds are required for obtaining 12 steps, which are not
            identical. This means that after the circle round the same one
            appears, but actually the one of the next octave is meant.
          </p>
          <p>
            If one applies the above sequence of numbers to a spiral on plane
            paper, which has two lines at the same distance, marked at the same
            intervals as a clock, and then cuts out the zero or tens line along
            a paper strip, this strip can be applied to a blunt cone And thus
            gives a very vivid representation of the different sound spaces as
            the <strong>figure 1</strong>shows.
          </p>
          <p>
            Also by means of a ladder (the piano keyboard offers a model for it)
            all the harmonies of all the scales can be represented upwards and
            downwards at a clear and correct distance.
          </p>
          <p>
            A fifths (seven halftones) up from 1=C leads to eight equal to G,
            and the fifths downwards fom c’ leads to F equal to six. This fact
            should be given greater attention in the teaching of harmonics and
            shows the advantages of a mathematical approach. By means of the (ʘ)
            or (1ʘ) as plane separators, one can move in a circle in any
            direction by addition or subtraction, but it is necessary to have a
            plane separator like the ten.
          </p>
          <p>
            If a fixed value is repeatedly added in a circular scheme, all the
            numbers in the scheme are obtained if the value of this number is
            coprime to all numbers in the circle. That means: in the case of 12
            numbers, the values are 5,7,11, in this case all primes.
          </p>
          <p>
            Each tone has its own circles and its own sound planes and this
            circumstance leads to the almost inexhaustible variety of musical
            expression.
          </p>
          <p>
            If the (ʘ) or duodecimal ten (1ʘ) is introduced into the table,
            which we have already published in 2010 <strong
              ><a
                href="http://www.musicnotation.org/wiki/notation-systems/hamburg-music-notation-by-robert-elisabeth-key/"
                >Link</a
              >
            </strong>, we can move correctly in both directions. See the <strong
              >figure 2
            </strong>for zero (ʘ) equal to H or B and C equal to one (1).This
            applies to all other numbers in the same way.
          </p>
          <p>
            Looking more closely at the above principles, the introduction of a
            free space above number ten in the HMN 1705 seems to be the key
            point in simplifying the readability of notations.
          </p>
          <p>
            A vivid model for the testing of new notations, that meet criterion
            8 according to Tom Reed, <a href="/systems/criteria/"
              >http://musicnotation.org/systems/criteria/</a
            > whose merits and ideas for alternative notations are to be recalled
            here, can be produced with the table semitones and frequencies from Wikipedia
            commons.
          </p>
          <p>
            If the table is supplemented by the separator level 10, you can
            create a cylindrical spiral on which the notes can be mapped
            ascending and descending as we recently did with the HMN1705. <strong
              >(<a href="https://hamburgmusicnotation.com/">HMN</a>)</strong
            >
          </p>
          <p>&nbsp;</p>
          <div
            id="attachment_2586"
            style="width: 594px"
            class="wp-caption alignnone"
          >
            <img
              aria-describedby="caption-attachment-2586"
              loading="lazy"
              class="size-large wp-image-2586"
              src="/wp-content/uploads/2013/03/DSCN0150-music-tower-foto-768x1024.jpg"
              alt=""
              width="584"
              height="779"
              srcset="/wp-content/uploads/2013/03/DSCN0150-music-tower-foto-768x1024.jpg 768w, /wp-content/uploads/2013/03/DSCN0150-music-tower-foto-225x300.jpg 225w"
              sizes="(max-width: 584px) 100vw, 584px"
            /><p id="caption-attachment-2586" class="wp-caption-text">
              Figure 1 &#8211; Abbildung 1
            </p>
          </div>
          <p><strong> </strong></p>
          <div
            id="attachment_2587"
            style="width: 594px"
            class="wp-caption alignnone"
          >
            <img
              aria-describedby="caption-attachment-2587"
              loading="lazy"
              class="size-large wp-image-2587"
              src="/wp-content/uploads/2013/03/Freqenz-Halbton-Oktave-Spirale-quer-1024x724.jpg"
              alt=""
              width="584"
              height="413"
              srcset="/wp-content/uploads/2013/03/Freqenz-Halbton-Oktave-Spirale-quer-1024x724.jpg 1024w, /wp-content/uploads/2013/03/Freqenz-Halbton-Oktave-Spirale-quer-300x212.jpg 300w, /wp-content/uploads/2013/03/Freqenz-Halbton-Oktave-Spirale-quer-768x543.jpg 768w, /wp-content/uploads/2013/03/Freqenz-Halbton-Oktave-Spirale-quer-424x300.jpg 424w"
              sizes="(max-width: 584px) 100vw, 584px"
            /><p id="caption-attachment-2587" class="wp-caption-text">
              Figure 2 &#8211; Abbildung 2
            </p>
          </div>
          <p><strong> </strong></p>
          <h1>
            <strong> </strong>Die Anwendung mathematischer Prinzipien in der
            Musik
          </h1>
          <p><strong> </strong>von Christian Pörksen und Harry Schreiber</p>
          <p>
            Das Dezimalsystem ist für die Aufgliederung von Kreisen wenig
            hilfreich. Das Duodezimalsystem mit seiner Möglichkeit durch 2,3,4
            und 6 zu teilen dagegen geradezu ideal. Das Duodezimalsystem hat
            sich für die Unterteilung der Zeit in 12 Stunden Abschnitte für die
            Gliederung der Tage bewährt. Mit einem kreisenden Zeiger wie bei der
            Uhr lässt sich dieses analog gut abbilden. In der Folge möchten wir
            darstellen dass der Kreis aber als mathematisches Modell zur
            Untergliederung der Tonwelten in der Musik nicht ausreicht. Falls
            wir mit dem C als eins beginnen wäre der Oktavton c’ der höheren
            Oktave der dreizehnte Ton oder bei Anwendung des Duodezimalsystems
            die duodezimale elf. Die 13 Töne der zwölf Tonschritte werden in der
            Hamburger Musiknotation Version 1705 (HMN1705) mit folgenden
            Ziffernbezeichnet. <strong
              >(<a href="https://hamburgmusicnotation.com/">HMN</a>)</strong
            >
          </p>
          <p>
            <strong> </strong>1,2,3,4,5,6,7,8,9,A,B,ʘ, Trennung der vorigen
            Oktave und Beginn der neuen Oktave 1. Die Buchstabenerweiterung
            unseres Zahlensystems, die auch beim Hexadezimalsystem von IBM
            benutzt wird, kommt zur Anwendung. A für den zehnten Ton und B für
            den elften Ton dezimaler Zählweise. Als Ziffer für die duodezimale
            10 und Null wird die ʘ mit einem Punkt in der Mitte benutzt. Das H,
            welches in der angloamerikanischen Musikliteratur mit einem großen B
            bezeichnet wird steht auf der Position der Zehn (ʘ) im
            Duodezimalsystem. Üblicherweise werden die in “Oktaven” gegliederten
            Klangebenen auf verschiedene Weise bezeichnet oder durchnummeriert.
            (z. B. Wie von uns in der Abb. 1 Duodezimal von 00* bis BB* der Midi
            Tabelle angeglichen). <strong
              ><a
                href="https://hamburgmusicnotation.files.wordpress.com/2017/08/midiwerte.pdf"
                >Midiwerte</a
              >
            </strong>
          </p>
          <p>
            <strong> </strong>Man kann jede Note als duodezimale Zahl mit zwei
            Ziffern schreiben, z.B. 51* für das mittlere C auf dem Klavier. Es
            gilt: Erhöht man jeweils die rechte Ziffer um 1, erhält man den
            nächsten Halbton. Erhöht man jeweils die linke Ziffer um 1, erreicht
            man die Oktave des Tons, gleich doppelte Frequenz. Entsprechendes
            gilt für die Subtraktion.
          </p>
          <p>
            Wir haben uns entschieden, die erste Note der Oktave (= C), wie
            meist üblich, mit 1 zu bezeichnen. Dann ist die ʘ der Trenner für
            die nächste Oktave. Der Kreis ist für die korrekte mathematische
            Darstellung des Duodezimalsystems in der Musik ungeeignet, da nicht
            berücksichtigt wird, dass die diatonisch aufgebaute westliche Musik
            zwar aus zwölf Tonschritten besteht aber für die Erlangung von 12
            Schritten 13 Töne benötigt werden, die nicht identisch sind. Das
            bedeutet, dass nach der Kreisumrundung die gleiche Eins erscheint,
            aber eigentlich die Eins der nächsten Oktave gemeint ist.
          </p>
          <p>
            Wenn man die obige Zahlenfolge auf eine in der Fläche dargestellte
            Spirale, die zwei Linien im gleichen Abstand hat, in gleichen
            Abständen wie bei einer Uhr aufbringt und anschließend der null bzw.
            Zehnerlinie entlang einen Papierstreifen ausschneidet, kann man
            diesen Streifen auf einen stumpfen Kegel aufbringen und erhält so
            eine sehr anschauliche Darstellung der verschiedenen Klangräume wie
            die <strong>Abbildung 1</strong>zeigt.
          </p>
          <p>
            Auch mittels einer Leiter (Die Pianotastatur bietet sich als Modell
            dafür an) kann man alle Harmonien aler Tonleitern hinauf und hinab
            übersichtlich und in korrekten Abständen darstellen. Eine Quinte
            aufwärts (sieben Halbtöne) trifft vom C gleich eins das G oder die
            acht und die Quinte abwärts trifft von c’ aus das F gleich 6. Diese
            Tatsache sollte in der Harmonielehre größere Beachtung finden und
            zeigt die Vorteile einer mathematischen Betrachtungsweise auf.
            Mittels der ( ʘ) bzw. ( 1ʘ) als Ebenentrenner kann man sich durch
            Addition oder Subtraction in korrekten Abständen in jeder Richtung
            im Kreis bewegen aber es bedarf eben eines Ebenentrenners wie die
            zehn. Bei wiederholter Addition eines festen Wertes in einem
            Kreischema, ereicht man genau dann alle Zahlen im Schema, wenn
            dieser Wert teilerfremd zu der Anzahl der Zahlen im Kreis ist. D.h.
            Bei 12 Zahlen sind es die Werte 5,7,11, in diesem Fall alles
            Primzahlen.
          </p>
          <p>
            Jeder der Töne hat seine eigenen Zirkel und seine eigenen
            Klangebenen und dieser Umstand führt zu der schier unerschöpflichen
            Vielfalt musikalischer Ausdrucksmöglichkeiten.
          </p>
          <p>
            Wenn in die Tabelle, die wir bereits 2010 ins Internet <strong
              ><a
                href="http://www.musicnotation.org/wiki/notation-systems/hamburg-music-notation-by-robert-elisabeth-key/"
                >Link</a
              >
            </strong>gestellt haben, die ( ʘ) beziehungsweise Duodezimale zehn(
            1ʘ) eingeführt wird, können wir uns in beiden Richtungen korrekt
            bewegen. Siehe Abbildung für die null ( ʘ) gleich H oder B und C
            gleich eins (1). Dieses gilt für alle anderen Zahlen in gleicher
            Weise. <strong>Abbildung 2</strong>
          </p>
          <p>
            <strong> </strong>Wenn man die oben genannten Prinzipien genauer
            betrachtet, scheint die Einführung eines freien Zwischenraumes über
            der Nummer zehn in der HMN 1705 der Schlüssel zur Vereinfachung der
            Lesbarkeit von Notationen zu sein.
          </p>
          <p>
            Ein anschauliches Modell für das ausprobieren von neuen Notationen,
            die das Kriterium 8 <a href="/systems/criteria/"
              ><strong>http://musicnotation.org/systems/criteria/</strong>
            </a> nach Tom Reed erfüllen , an dessen Verdienste und Ideen zu alternativen
            Notationen hier erinnert werden soll, lässt sich mit der Tabelle Halbtöne
            und Frequenzen aus Wikipedia commons herstellen.
          </p>
          <p>
            Wenn die Tabelle durch die Trennebene 10 ergänzt wird, können Sie
            eine zylindrische Spirale erstellen, auf der die Noten aufsteigend
            und absteigend abgebildet werden können, wie wir es vor kurzem mit
            der HMN 1705 gemacht haben. <strong
              >(<a href="https://hamburgmusicnotation.com/">HMN</a>)</strong
            >
          </p>
          <pre
            class="western"><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium"><b>


2014</b></span></span>

<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">In the meantime </span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">we established a partnership with Pizzicato by Arpege Music 
<a href="http://www.arpegemusic.com/">www.arpegemusic.com</a> and developed </span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">together the</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium"> addon Alternative Notation 
</span></span><a href="http://www.arpegemusic.com/alternative-music-notation.htm"><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">http://www.arpegemusic.com/alternative-music-notation.htm</span></span></a>
<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">that can handle Hamburg Music Notation and all cipher notations based on twelve 
symbols as well as Numbered Musical Notation (Jianpu). I</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">n addition there is a 
vertical pitch version for alternative notations that allows to identify each tone on a 
vertical scale. T</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">he software allows to swing back and forth</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">between Standard and 
Alternative Notations </span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">and ca</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">n</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium"> be downloaded for a trial. 
</span></span><a href="http://www.arpegemusic.com/demo1.htm#go"><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">http://www.arpegemusic.com/demo1.htm#go</span></span></a>

<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">T</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">he </span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">very useful </span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">manual for Alternative Notation </span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">is found on</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">  
<a href="http://www.arpegemusic.com/manual36/EN284.htm">http://www.arpegemusic.com/manual36/EN284.htm</a>. </span></span>

<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">On  <a href="http://www.hamburgmusicnotation.com/">www.hamburgmusicnotation.com</a> you can read on my homepage about theory 
and pr</span></span><span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">actice of my Alternative Music Notation System. </span></span>

<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">A short ebook with more information is available from AMAZON </span></span>
<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">Numbers are Music - Hamburg Music Notation - Jianpu - 
and other Alternative Cipher Notations 
by Robert Elisabeth Key   </span></span>
<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">Germany: <a href="http://www.amazon.de/Numbers-are-Music-Alternative-Notations-ebook/dp/B00HFR2EKA/ref=sr">http://www.amazon.de/Numbers-are-Music</a></span></span>
<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">UK: <a href="http://www.amazon.co.uk/s/ref=nb_sb_noss/276-9426595-8456803">http://www.amazon.co.uk/Numbers-are-Music</a></span></span>
<span style="font-family: 'Arial', sans-serif"><span style="font-size: medium">USA: <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias=aps&field-keywords=Numbers+are+Music+-+Hamburg+Music+Notation+-+Jianpu+-+and+other+Alternative+Cipher+Notations">http://www.amazon.com/usa/Numbers-are-Music</a></span></span></pre>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1560"
              src="/wp-content/uploads/2013/03/700px-HMNuplsnotation10-01-15small.jpg"
              alt="700px-HMNuplsnotation10-01-15small"
              width="700"
              height="596"
              srcset="/wp-content/uploads/2013/03/700px-HMNuplsnotation10-01-15small.jpg 700w, /wp-content/uploads/2013/03/700px-HMNuplsnotation10-01-15small-300x255.jpg 300w, /wp-content/uploads/2013/03/700px-HMNuplsnotation10-01-15small-352x300.jpg 352w"
              sizes="(max-width: 700px) 100vw, 700px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone wp-image-1559"
              src="/wp-content/uploads/2013/03/800px-HMN_Pitch_notation.jpg"
              alt="800px-HMN_Pitch_notation"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-HMN_Pitch_notation.jpg 800w, /wp-content/uploads/2013/03/800px-HMN_Pitch_notation-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-HMN_Pitch_notation-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1558"
              src="/wp-content/uploads/2013/03/OVL_-_HMN-eurostile_12_.jpg"
              alt="OVL_-_HMN-eurostile_12_"
              width="595"
              height="842"
              srcset="/wp-content/uploads/2013/03/OVL_-_HMN-eurostile_12_.jpg 595w, /wp-content/uploads/2013/03/OVL_-_HMN-eurostile_12_-211x300.jpg 211w"
              sizes="(max-width: 595px) 100vw, 595px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1557"
              src="/wp-content/uploads/2013/03/800px-Continuous_and_discontinuous_staff.jpg"
              alt="800px-Continuous_and_discontinuous_staff"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-Continuous_and_discontinuous_staff.jpg 800w, /wp-content/uploads/2013/03/800px-Continuous_and_discontinuous_staff-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-Continuous_and_discontinuous_staff-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p><em>Click to view this image at full size:</em></p>
          <p>
            <a href="/wp-content/uploads/2013/03/1300px-HMNcoverEN100303sw.jpg"
              ><img
                loading="lazy"
                class="alignnone size-large wp-image-1556"
                src="/wp-content/uploads/2013/03/1300px-HMNcoverEN100303sw-1024x723.jpg"
                alt="1300px-HMNcoverEN100303sw"
                width="584"
                height="412"
                srcset="/wp-content/uploads/2013/03/1300px-HMNcoverEN100303sw-1024x723.jpg 1024w, /wp-content/uploads/2013/03/1300px-HMNcoverEN100303sw-300x212.jpg 300w, /wp-content/uploads/2013/03/1300px-HMNcoverEN100303sw-424x300.jpg 424w, /wp-content/uploads/2013/03/1300px-HMNcoverEN100303sw.jpg 1300w"
                sizes="(max-width: 584px) 100vw, 584px"
              />
            </a>
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1555"
              src="/wp-content/uploads/2013/03/800px-Mittelseiteeng1upl.jpg"
              alt="800px-Mittelseiteeng1upl"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-Mittelseiteeng1upl.jpg 800w, /wp-content/uploads/2013/03/800px-Mittelseiteeng1upl-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-Mittelseiteeng1upl-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1554"
              src="/wp-content/uploads/2013/03/800px-Mittelseiteneng2upl.jpg"
              alt="800px-Mittelseiteneng2upl"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-Mittelseiteneng2upl.jpg 800w, /wp-content/uploads/2013/03/800px-Mittelseiteneng2upl-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-Mittelseiteneng2upl-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p>&nbsp;</p>
          <h2><b>Table of Duodecimal Musical Intervals All Scales</b></h2>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1564"
              src="/wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S1.jpg"
              alt="800px-HMN_List_of_musical_intervals_10-02-18S1"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S1.jpg 800w, /wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S1-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S1-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1563"
              src="/wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S2.jpg"
              alt="800px-HMN_List_of_musical_intervals_10-02-18S2"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S2.jpg 800w, /wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S2-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S2-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1562"
              src="/wp-content/uploads/2013/03/800px-800px-HMN_List_of_musical_intervals_10-02-18S3.jpg"
              alt="800px-800px-HMN_List_of_musical_intervals_10-02-18S3"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-800px-HMN_List_of_musical_intervals_10-02-18S3.jpg 800w, /wp-content/uploads/2013/03/800px-800px-HMN_List_of_musical_intervals_10-02-18S3-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-800px-HMN_List_of_musical_intervals_10-02-18S3-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
          <p>&nbsp;</p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1561"
              src="/wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S4.jpg"
              alt="800px-HMN_List_of_musical_intervals_10-02-18S4"
              width="800"
              height="1132"
              srcset="/wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S4.jpg 800w, /wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S4-212x300.jpg 212w, /wp-content/uploads/2013/03/800px-HMN_List_of_musical_intervals_10-02-18S4-723x1024.jpg 723w"
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
